{{ define "main" }}
{{- $courselist := . -}}
<div>
  {{ block "header" . }}
  {{ partialCached "header" . }}
  {{ end }}
  <div class="container standard-width mx-auto mt-5">
    {{ partial "course_list" . }}
  </div>
  {{ block "footer" . }} {{ partialCached "footer" . }} {{end}}
  {{- $staticApiBaseUrl := getenv "STATIC_API_BASE_URL" | default "https://ocwnext.odl.mit.edu"  -}}
  {{- $courseListData := (slice) -}}
  {{ with $courselist.Params.courses }}
    {{- range $courselist.Params.courses -}}
      {{- $id := .id -}}
      {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) "/" $id "/data.json") "" -}}
      {{ with resources.GetRemote $url }}
        {{ with .Err }}
          {{- $errorMessage := printf "Something went wrong while fetching course list on %v via %v with error: %v" site.BaseURL $url .Err -}}
          {{- partial "sentry_capture_message.html" $errorMessage -}}
        {{ else }}
          {{- $data := . | unmarshal -}}
          {{- $data = merge $data (dict "url_path" $id) -}}
          {{- $courseListData = $courseListData | append (dict $id $data) -}}
        {{ end }}
      {{ else }}
        {{ $errorMessage := printf "Failed to fetch course list through %v on %v" $url site.BaseURL }}
        {{ partial "sentry_capture_message.html" $errorMessage }}
      {{ end }}
    {{- end -}}
  {{ end }}

  {{- $courseListsData := dict $courselist.Params.uid $courseListData -}}
  <script>  
    window.courseListsData = JSON.parse("{{ $courseListsData | jsonify }}");
  </script>
</div>
{{ end }}
