{{ define "main" }}
<div class="page-single overflow-hidden">
  {{ block "header" . }} {{ partialCached "header" . }} {{end}}
  <div class="container standard-width mx-auto mt-5 pb-5">
    <div class="row">
      <div class="col px-0">
        <div class="w-75">
          <h2 class="font-weight-normal">
            Since 2001, MIT OpenCourseWare has shared Open Educational Resources
            (OER) from MIT, creating new opportunities for millions of learners
            and educators, and helping launch a global revolution in free access
            to knowledge.
            <br />
            <br />
            MIT OpenCourseWare continues to build on this foundation. With a new
            web platform, ever-growing content, and collaborations across the
            vibrant open education ecosystem, we're creating a world of more
            equitable and inclusive education for all.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container standard-width mx-auto pt-5 pb-5">
    <div class="row">
      <div class="col border-bottom-4 border-red px-0 mr-5">
        <p class="pb-5">
          <b>MIT OpenCourseWare</b> is a free and open publication of material
          from thousands of MIT courses, covering the entire MIT curriculum and
          used by learners and educators around the world.
        </p>
        <p class="pb-5">
          <b>Knowledge is your reward.</b> Use OCW to guide your own life-long
          learning, or to teach others. We don't offer credit or certification
          for using OCW.
        </p>
        <p class="pb-5">
          <b>No enrollment or registration.</b> Freely browse and use OCW
          materials at your own pace. There's no signup, and no start or end
          dates.
        </p>
        <p class="pb-5">
          <b>Made for sharing.</b> Download files for later. Send to friends and
          colleagues. Modify, remix, and reuse (just remember to cite OCW as the
          source.)
        </p>
      </div>
      <div class="col d-flex align-items-center">
        <iframe
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          width="686"
          height="385"
          type="text/html"
          src="https://www.youtube.com/embed/0aAEamhJHUI?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=http://youtubeembedcode.com"
        >
        </iframe>
      </div>
    </div>
  </div>
  <div class="container standard-width mx-auto px-0 pt-5 pb-5">
    <h1>The OCW<span class="color-highlight-red">@20</span> Vision</h1>
  </div>
  <div class="pt-5 pb-5">
    <div class="row">
      <div class="col-6 overflow-hidden">
        <img
          id="img-building-10"
          src="/images/mit-building-10.jpg"
          alt="MIT Building 10 aka The Dome"
          height="800"
        />
      </div>
      <div class="col-6 d-flex align-items-center px-0 py-6">
        <div class="background-color-highlight-red p-7">
          <h2 id="ocw-20-text" class="font-weight-normal text-white">
            We've made great progress in our first 20 years - unlocking access
            to knowledge, helping launch the OER movement and opening the
            complete MIT curriculum to the world. And we'll keep growing and
            evolving.
            <br />
            <br />
            We're excited to introduce our new platform - which you are using
            now - to bring smartphone users into OCW's global community…provide
            more powerful and insightful ways to discover just the content you
            need… and be a foundation for new features and learning experiences
            for years to come.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container standard-width mx-auto pt-6 pb-5">
    <h1 class="text-center w-100 pb-6">Here's what's in store in the months and years to come...</h1>
    <div class="row">
      <div class="col">
        <p class="pb-5">
          <b>Empowering more educators</b> to use OCW in their teaching, seamlessly
          integrating with their institution's learning management systems, and
          providing new content forms that can be easily remixed and adapted to
          any learning context.
        </p>
        <p class="pb-5">
          <b>Sharing emerging knowledge for big global challenges</b> like systemic
          inequities, climate change, and the future of computing and artificial
          intelligence.
        </p>
        <p class="pb-5">
          <b>Expand rich media</b> like video lectures, podcasts, interactive
          assessments, and new educational forms like augmented and virtual
          reality.
        </p>
      </div>
      <div class="col">
        <p class="pb-5">
          <b>Showcase more project-based courses</b> that center MIT's "mind, hand, and
          heart" approach to student-driven participatory solutions for
          real-world problems.
        </p>
        <p class="pb-5">
          <b>Launch new collaborations</b> across the Open Educational Resources (OER)
          ecosystem to create the more inclusive learning opportunities needed
          to advance educational equity, building the capacity for learners with
          varied perspectives, preparation and voices to access, adapt,
          contribute and apply open knowledge in their own contexts.
        </p>
      </div>
    </div>
  </div>
</div>
{{ end }}
