{{ define "main" }}
<div id="about-us" class="page-single overflow-hidden">
  {{ block "header" . }} {{ partialCached "header" . }} {{end}}
  <div class="container standard-width max-content-width mx-auto mt-5 pb-5">
    <div class="row">
      <div class="col px-0">
        <div class="w-75">
          <h2 class="font-weight-normal">
            Since 2001, MIT OpenCourseWare has shared Open Educational Resources
            (OER) from MIT, creating new opportunities for millions of learners
            and educators, and helping launch a global revolution in free access
            to knowledge.
            <br />
            <br />
            MIT OpenCourseWare continues to build on this foundation. With a new
            web platform, ever-growing content, and collaborations across the
            vibrant open education ecosystem, we're creating a world of more
            equitable and inclusive education for all.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container standard-width max-content-width mx-auto pt-5 pb-5">
    <div class="row">
      <div class="col border-bottom-4 border-red px-0 mr-5">
        <p class="pb-5">
          <b>MIT OpenCourseWare</b> is a free and open publication of material
          from thousands of MIT courses, covering the entire MIT curriculum and
          used by learners and educators around the world.
        </p>
        <p class="pb-5">
          <b>Knowledge is your reward.</b> Use OCW to guide your own life-long
          learning, or to teach others. We don't offer credit or certification
          for using OCW.
        </p>
        <p class="pb-5">
          <b>No enrollment or registration.</b> Freely browse and use OCW
          materials at your own pace. There's no signup, and no start or end
          dates.
        </p>
        <p class="pb-5">
          <b>Made for sharing.</b> Download files for later. Send to friends and
          colleagues. Modify, remix, and reuse (just remember to cite OCW as the
          source.)
        </p>
      </div>
      <div class="col d-flex align-items-center">
        <iframe
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          width="686"
          height="385"
          type="text/html"
          src="https://www.youtube.com/embed/0aAEamhJHUI?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=http://youtubeembedcode.com"
        >
        </iframe>
      </div>
    </div>
  </div>
  <div
    class="container standard-width max-content-width mx-auto px-0 pt-5 pb-5"
  >
    <h1>The OCW<span class="color-highlight-red">@20</span> Vision</h1>
  </div>
  <div id="ocw-at-20" class="max-content-width mx-auto pt-5 pb-5">
    <div class="row">
      <div class="col-6 overflow-hidden text-right pr-0">
        <img
          id="img-building-10"
          class="w-100"
          src="/images/about/image-mit-001crop.jpg"
          alt="MIT Building 10 aka The Dome"
        />
      </div>
      <div class="col-6 px-0 py-6">
        <div
          class="background-color-highlight-red d-flex justify-content-center align-items-center h-100 p-7"
        >
          <h2 id="ocw-20-text" class="font-weight-normal text-white">
            We've made great progress in our first 20 years - unlocking access
            to knowledge, helping launch the OER movement and opening the
            complete MIT curriculum to the world. And we'll keep growing and
            evolving.
            <br />
            <br />
            We're excited to introduce our new platform - which you are using
            now - to bring smartphone users into OCW's global community…provide
            more powerful and insightful ways to discover just the content you
            need… and be a foundation for new features and learning experiences
            for years to come.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container standard-width mx-auto pt-6 pb-5">
    <h1 class="text-center w-100 pb-6">
      Here's what's in store in the months and years to come...
    </h1>
    <div class="row">
      <div class="col">
        <p class="pb-5">
          <b>Empowering more educators</b> to use OCW in their teaching,
          seamlessly integrating with their institution's learning management
          systems, and providing new content forms that can be easily remixed
          and adapted to any learning context.
        </p>
        <p class="pb-5">
          <b>Sharing emerging knowledge for big global challenges</b> like
          systemic inequities, climate change, and the future of computing and
          artificial intelligence.
        </p>
        <p class="pb-5">
          <b>Expand rich media</b> like video lectures, podcasts, interactive
          assessments, and new educational forms like augmented and virtual
          reality.
        </p>
      </div>
      <div class="col">
        <p class="pb-5">
          <b>Showcase more project-based courses</b> that center MIT's "mind,
          hand, and heart" approach to student-driven participatory solutions
          for real-world problems.
        </p>
        <p class="pb-5">
          <b>Launch new collaborations</b> across the Open Educational Resources
          (OER) ecosystem to create the more inclusive learning opportunities
          needed to advance educational equity, building the capacity for
          learners with varied perspectives, preparation and voices to access,
          adapt, contribute and apply open knowledge in their own contexts.
        </p>
      </div>
    </div>
  </div>
  <div class="background-color-light-grey pt-7 pb-7">
    <h1 class="text-center w-100 pb-6">OCW Milestones</h1>
    <div id="timeline-wrapper" class="container position-relative">
      <div class="timeline">
        <span class="timeline-black-dot top-0"></span>
        <span class="timeline-black-dot bottom-0"></span>
      </div>
      <div class="row">
        <div
          id="timeline-column-left"
          class="col-6 d-flex flex-column justify-content-end"
        >
          <div id="timeline-card-1" class="timeline-card">
            <div class="timeline-card-img">
              <img src="/images/about/timeline-image-1.png" />
              <span class="timeline-card-img-dot"></span>
              <span class="timeline-red-dot"></span>
              <span class="timeline-red-line"></span>
            </div>
            <div class="timeline-card-content">
              <h3>2001-2005</h3>
              <ul>
                <li>
                  OCW is announced in
                  <a
                    href="https://www.nytimes.com/2001/04/04/us/auditing-classes-at-mit-on-the-web-and-free.html"
                  >
                    The New York Times </a
                  >.
                  <a href="https://www.youtube.com/watch?v=4XFvqOSRsa8">
                    Watch the press conference announcing MIT OpenCourseWare
                    (OCW).
                  </a>
                </li>
                <li>
                  The first 50 courses are published in 2002.
                  <a
                    href="https://web.archive.org/web/20021023205659/http:/ocw.mit.edu/index.html"
                  >
                    (View on Internet Archive)
                  </a>
                </li>
                <li>
                  OCW officially launches in 2003 with 500 courses.
                  <a
                    href="https://web.archive.org/web/20031008143931/http:/ocw.mit.edu/index.html"
                  >
                    (View on Internet Archive)
                  </a>
                </li>
                <li>
                  OCW adopts a
                  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                    Creative Commons license
                  </a>
                  in 2004.
                </li>
                <li>
                  OpenCourseWare Consortium forms in 2005 (renamed the Open
                  Education Consortium in 2014, and
                  <a href="https://www.oeconsortium.org/">
                    OE Global Consortium
                  </a>
                  in 2020).
                </li>
                <li>
                  The first
                  <a href="https://ocw.mit.edu/about/mirror-site-program/">
                    OCW mirror site
                  </a>
                  is established in Africa.
                </li>
                <li>
                  First
                  <a href="https://ocw.mit.edu/courses/translated-courses/">
                    language translations
                  </a>
                  by affiliates, in Spanish and Portuguese.
                </li>
                <li>
                  OCW wins over a dozen major awards in its first five years,
                  including from Computerworld, Infoworld, and the Tech Museum
                  of Innovation.
                </li>
              </ul>
            </div>
          </div>
          <div id="timeline-card-3" class="timeline-card">
            <div class="timeline-card-img">
              <img src="/images/about/timeline-image-1.png" />
              <span class="timeline-card-img-dot"></span>
              <span class="timeline-red-dot"></span>
              <span class="timeline-red-line"></span>
            </div>
            <div class="timeline-card-content">
              <h3>2011-2015</h3>
              <ul>
                <li>
                  MIT launches
                  <a
                    href="https://openlearning.mit.edu/courses-programs/mitx-courses-edx"
                  >
                    MITx online courses
                  </a>
                  , creating new learning experiences, expanding its commitment
                  to free global learning, and complementing OCW's open course
                  materials, while
                  <a
                    href="http://web.mit.edu/fnl/volume/244/abelson%20et%20al.html"
                    >sustaining its commitment to OCW</a
                  >.
                </li>
                <li>
                  <a href="https://ocw.mit.edu/courses/ocw-scholar/"
                    >OCW Scholar courses</a
                  >, designed for independent learners, are launched in 2011.
                </li>
                <li>
                  OCW celebrates its 10th anniversary.
                </li>
                <li>
                  OCW and Highlights for High School websites are redesigned in
                  2012 for better user experience. (See
                  <a
                    href="https://web.archive.org/web/20121029200226/http:/ocw.mit.edu/index.htm"
                    >before</a
                  >
                  and
                  <a
                    href="https://web.archive.org/web/20121218112122/http:/ocw.mit.edu/index.htm"
                    >after</a
                  >.)
                </li>
                <li>
                  <a href="https://ocw.mit.edu/educator/">OCW Educator</a> is
                  launched in 2013, sharing the “how” as well as the “what” of
                  MIT education.
                </li>
                <li>
                  Turkish course translations and Korean video translations are
                  added.
                </li>
                <li>
                  2,300 courses are published, including 100 with complete video
                  lectures and 50 with open online textbooks.
                </li>
                <li>
                  The OCW website exceeds one billion page views and 200 million
                  lifetime visits.
                </li>
                <li>
                  In 2015, more than 432,000 people like or follow OCW on
                  <a href="https://www.facebook.com/MITOCW">Facebook</a> and
                  <a href="https://twitter.com/mitocw">Twitter</a>.
                </li>
              </ul>
            </div>
          </div>
          <div id="timeline-card-5" class="timeline-card">
            <div class="timeline-card-img">
              <img src="/images/about/timeline-image-1.png" />
              <span class="timeline-card-img-dot"></span>
              <span class="timeline-red-dot"></span>
              <span class="timeline-red-line"></span>
            </div>
            <div class="timeline-card-content">
              <h3>2021</h3>
              <ul>
                <li>
                  <a href="https://www.youtube.com/watch?v=8O2EPwUtWyY"
                    >OCW celebrates two decades of open sharing</a
                  >
                </li>
                <li>
                  New platform launches: mobile responsive, enhanced search
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          id="timeline-column-right"
          class="col-6 d-flex flex-column justify-content-start"
        >
          <div id="timeline-card-2" class="timeline-card">
            <div class="timeline-card-img">
              <img src="/images/about/timeline-image-2.png" />
              <span class="timeline-card-img-dot"></span>
              <span class="timeline-red-dot"></span>
              <span class="timeline-red-line"></span>
            </div>
            <div class="timeline-card-content">
              <h3>2006-2010</h3>
              <ul>
                <li>
                  OCW Highlights for High School launches in 2006.
                </li>
                <li>
                  In 2007, OCW achieves its original goal to represent MIT's
                  complete curriculum, with more than 1,800 courses. (View
                  <a href="https://www.youtube.com/watch?v=tbQ-FeoEvTI">
                    celebration video
                  </a>
                  and site on
                  <a
                    href="https://web.archive.org/web/20071202165638/http:/ocw.mit.edu/OcwWeb/web/home/home/index.htm"
                  >
                    Internet Archive </a
                  >)
                </li>
                <li>
                  The new monthly website traffic record is over 2 million
                  visits in 2007.
                </li>
                <li>
                  Videos are shared through the OCW YouTube channel starting in
                  2008.
                </li>
                <li>
                  The OCW website exceeds 100 million lifetime visits.
                </li>
                <li>
                  2,000 courses are published.
                </li>
                <li>
                  There are 225 OCW mirror sites around the world.
                </li>
              </ul>
            </div>
          </div>
          <div id="timeline-card-4" class="timeline-card">
            <div class="timeline-card-img">
              <img src="/images/about/timeline-image-2.png" />
              <span class="timeline-card-img-dot"></span>
              <span class="timeline-red-dot"></span>
              <span class="timeline-red-line"></span>
            </div>
            <div class="timeline-card-content">
              <h3>2016-2020</h3>
              <ul>
                <li>
                  There are more than 2,500 OCW courses and resources on the
                  website, and over 6,000 videos on
                  <a
                    href="https://www.youtube.com/channel/UCEBb1b_L6zDS3xTUrIALZOw"
                    >OCW's YouTube channel</a
                  >, with 500 million visits and 5 billion minutes of learning.
                </li>
                <li>
                  With over 2.5 million subscribers, OCW is the largest .edu
                  channel on YouTube.
                </li>
                <li>
                  The 200th
                  <a
                    href="https://openlearning.mit.edu/courses-programs/open-learning-library"
                    >Instructor Insights</a
                  >
                  video is published through the OCW Educator program.
                </li>
                <li>
                  Interactive, searchable transcripts are added to videos.
                </li>
                <li>
                  New
                  <a
                    href="https://openlearning.mit.edu/courses-programs/open-learning-library"
                    >MIT Open Learning Library</a
                  >
                  launches in 2019, offering new, self-paced learning options
                  complementing OCW and MITx.
                </li>
                <li>
                  <a href="https://chalk-radio.simplecast.com/"
                    >Chalk Radio podcast</a
                  >
                  launches in February 2020.
                </li>
                <li>
                  The world turns to OCW during the COVID-19 pandemic, with
                  traffic to the OCW website nearly doubling in April 2020.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="beyond-course-materials" class="container standard-width pt-7">
    <div class="row">
      <div class="col-6 pr-8">
        <h1 class="pb-5">Beyond Course Materials</h1>
        <p class="pb-5">
          OCW is known for sharing the notes, videos, problem sets, and more
          straight from the MIT curriculum. In addition, OCW has grown to
          include other types of content that complement its core publication of
          course materials.
        </p>
        <ul>
          <li>
            <span class="font-weight-bold"
              >OCW Educator: Instructor Insights</span
            >
            <p>
              The OCW Educator project is a faculty-inspired initiative designed
              to pull back the curtain on MIT teaching for their colleagues at
              the Institute and around the world.
            </p>
            <a class="red-btn coming-soon">Educators start here</a>
            <p class="mt-3">
              Through this project, many OCW courses now include an “Instructor
              Insights” section, which shares the instructors' perspectives on
              topics of interest to practicing teachers, such as course design,
              active learning, and engaging learners.
            </p>
            <a class="red-btn coming-soon"
              >Find course with Instructor Insights</a
            >
          </li>
          <li>
            <span class="font-weight-bold">Chalk Radio Podcast</span>
            {{ partial "simplecast.html" "72fa3dbf-36dc-40b8-9353-faf6710c29f8" }}
          </li>
          <li>
            <span class="font-weight-bold">Open Textbooks</span>
            <p>
              Open textbooks are transforming the educational landscape, and OCW
              is glad to have many among our open educational resources. When
              educators use open textbooks for their classes, they help keep
              down the cost of education, so more students can afford to stay in
              school, and pay for rent, food and other necessities.
            </p>
          </li>
          <li>
            <span class="font-weight-bold">MIT Open Learning Library</span>
            <p>
              MIT Open Learning Library MIT Open Learning Library provides
              interactive course experiences, similar to MITx, that include
              auto-graded assessments that give you instant feedback and allow
              you to track your progress as you work your way through the
              subject matter. And like OCW, this content is always open and
              self-guided and includes no live support, discussion forum, or
              certificates.
            </p>
            <a class="red-btn" href="/search">OCW Search</a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <img
          id="img-002"
          class="w-100"
          src="/images/about/image-mit-002crop.png"
          alt="MIT Building"
        />
      </div>
    </div>
  </div>
  <div id="president-dean-messages" class="bg-black text-white">
    <div class="container standard-width mx-auto pt-8 pb-5">
      <div class="row pb-7">
        <div class="col-12">
          <div class="text-center">
            <h1 class="font-cardo-bold mx-auto pb-7">President's Message</h1>
            <div id="president-image" class="d-inline-block">
              <img
                src="/images/about/president-reif.png"
                alt="MIT President L. Rafael Reif"
              />
              <div class="text-left pt-4">MIT President L. Rafael Reif</div>
            </div>
          </div>
        </div>
      </div>
      <div id="presidents-message" class="row pb-7">
        <div class="col-12">
          <p>
            In 2001, the age of digital sharing was just getting started. Google
            was still in its infancy. January of that year saw the launch of a
            little project called Wikipedia. And then, in the springtime, MIT
            presented OpenCourseWare.
          </p>
          <p>
            The idea for OCW came from MIT faculty: to give away MITs course
            materials to the world online. The decision to move forward with
            this bold idea belonged to MIT's 15th president, Chuck Vest.
            Institute leaders could not have known it at the time, but in
            creating OCW, MIT launched a quiet but profound educational
            revolution. It unleashed the global open sharing movement, helping
            to pave the way for the worldwide phenomenon of open digital
            learning.
          </p>
          <p>
            In its first 20 years, OCW has offered hundreds of millions of
            individuals a new pathway to their future—a true gift to humanity.
            But in those same 20 years, OCW has helped society prepare for the
            challenges of its future, too.
          </p>
          <p>
            Consider the vaccines for Covid-19. They may appear to be an
            overnight success, but the truth is, this “medical miracle” sprang
            from careful, deliberate scientific research—over decades. In the
            same way, society responded to the pandemic emergency with a rapid
            and radical shift to remote learning. That shift occurred in a
            matter of weeks, but what made it possible was two decades of
            transformative work in digital learning. From the beginning of that
            long, transformative journey, OCW has been a guiding light.
          </p>
          <p>
            If you ask MIT people to name those moments when they felt most
            proud of the Institute, the birth of OCW is right at the top of the
            list. That is a wonderful legacy and an inspiring challenge, for the
            next twenty years and beyond.
          </p>
          <p>
            Sincerely,<br />
            L. Rafael Reif<br />
            March 2021<br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h1 class="font-cardo-italic mx-auto pb-7">
              A Message from the Dean
            </h1>
            <iframe
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              width="635.46"
              height="357"
              type="text/html"
              src="https://www.youtube.com/embed/gC5QRayrYD4?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=http://youtubeembedcode.com"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
    <div id="red-bar"></div>
  </div>
</div>
{{ end }}
