{{ define "main" }}
{{- $collection := . -}}
<div>
  {{ block "header" . }}
  {{ partialCached "header" . }}
  {{ end }}
  <div class="container standard-width mx-auto mt-5">
    {{ partial "course_collection" . }}
  </div>
  <script>
    {{- $staticApiBaseUrl := getenv "STATIC_API_BASE_URL" | default "https://ocwnext.odl.mit.edu"  -}}
    {{- $collectionData := dict -}}
    {{- range $collection.Params.courses -}}
        {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) "/courses/" .id "/data.json") "" -}}
        {{- $data := getJSON $url -}}
        {{- $collectionData = merge $collectionData (dict .id $data) -}}
    {{- end -}}
    {{- $collectionsData := dict $collection.Params.uid $collectionData -}}
    window.courseCollectionsData = JSON.parse("{{ $collectionsData | jsonify }}");
  </script>
</div>
{{ end }}
