.course-home-page {

  .card {
    border-radius: 0px;
  }

  .container-fluid {
    max-width: $max-content-width;
  }

  .course-image {
    border: 1px solid $medium-gray;
    width: 100%;
  }

  .course-image-caption{
    font-size: $font-sm;
    margin-top: 10px;
    line-height: 1.2;
  }

  h4.course-info-title,

  .course-home-section {
    padding: 20px 40px 0px 40px;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    &.in-panel {
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    .other-version-list {
      a {
        text-decoration: underline;
        color: $blue;
      }

      li {
        padding-bottom: 4px;
      }
    }
  }

  .collapse-btn-section {
    a.collapsed span:after {
      content: "keyboard_arrow_down";
    }

    a:not(.collapsed) span:after {
      content: "keyboard_arrow_up";
    }
  }

  .learning-resource-type-item {
    border: 1px solid #BCBCBC;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: $font-sm;
    padding: 3px 8px 3px 8px;
    cursor: pointer;

    .material-icons{
      font-size: 20px;
    }
  }

  .learning-resource-type-item:hover{
    border: 1px solid $dark-gray;
  }

  .course-cards {

    @include media-breakpoint-down(xs) {
      flex-flow: column-reverse;
    }
  }

}

.bs{
  border: 0.5px solid black;
}
