.course-home-page {
  .container-fluid {
    max-width: $max-content-width;
  }

  .desktop-nav {
    padding-top: 60px;
    padding-left: 90px;
  }

  .image-with-caption {
    border: 1px solid $medium-gray;
    border-radius: 10px;

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
    }

    .caption {
      border-top: 1px solid $medium-gray;

      p {
        margin-bottom: 0;
      }

      &.collapsed {
        .image-description {
          max-height: 4.5rem;
          overflow: hidden;
        }
      }    
    }
  }

  h4.course-info-title,
  h4.course-description-title {
    color: $highlight-red;
    text-transform: uppercase;
    font-size: 16px;
  }

  .course-home-section {
    padding: 20px 40px 0px 40px;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    &.in-panel {
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    .course-feature-icon {
      color: #ff8924;
    }

    .other-version-list {
      a {
        text-decoration: underline;
        color: $blue;
      }

      li {
        padding-bottom: 4px;
      }
    }
  }

  .expand-link {
    border: 0;
    padding: 0;
    background-color: white;
    color: $blue;

    .material-icons {
      color: black;
    }
  }
}
