#course-title.collapse:not(.show) {
  display: block;
  height: 5.7em;
  overflow: hidden;
}

#course-title.collapsing {
  height: 5.7em;
}

th,
td {
  > p:empty {
    display: none;
  }
}

td {
  h3 {
    font-weight: normal !important;
    font-style: italic !important;
    font-family: arial, helvetica, sans-serif !important;
  }
}
