@import "../../../base-theme/assets/css/imports/reset";
@import "../../../base-theme/assets/css/bootstrap-overrides";
@import "../../../base-theme/assets/css/breakpoints";
@import "../../../base-theme/assets/css/variables";
@import "~bootstrap/scss/bootstrap";
@import "~offcanvas-bootstrap/src/sass/bootstrap.offcanvas";

@import "course-nav";
@import "course-info";
@import "course-home";
@import "drawer";
@import "tables";
@import "video";
@import "videojs_player";
@import "resource-page";
@import "video-transcript";
@import "course-content";
@import "course-resources";

#course-banner {
  color: $white;
  background-color: $blue;

  a {
    text-decoration: none;
  }
}

#main-content article.content {
  a:link {
    color: $course-content-link-unclicked;
  }

  a:visited,
  a:hover,
  a:active {
    color: $course-content-link-hover-clicked;
  }
}

div[class^="toggle"]:not(.toggle-visible),
span[class^="toggle"]:not(.toggle-visible) {
  display: none;
}

div[class^="reveal"],
.multiple-choice-check-button,
.multiple-choice-show-button {
  color: #115f83;
  cursor: pointer;
}

.correctness-icon-correct {
  color: green;
}

.correctness-icon-wrong {
  color: red;
}

.correctness-icon {
  position: relative;
  top: 6px;
}

.multiple-choice-radio {
  margin-top: 11px;
  margin-bottom: 11px;
}

.multiple_choice_buttons {
  margin: 10px;
}

pre {
  padding: 10px;
  border: 1px solid $medium-gray;
}
