.course-nav {
  a {
    text-decoration: none;
    font-size: $font-sm;

    &.active {
      font-weight: 600;
      color: $highlight-red !important;
    }
  }
}

.desktop-nav {
  @include media-breakpoint-up(xl) {
    max-width: $desktop-nav-max-width;
  }
}

.mobile-course-nav-toggle {
  *:not(i) {
    font-size: $font-normal;
  }

  i {
    font-size: $font-lg;
  }
}

.course-info-toggle {
  position: absolute;
  right: 0;
  z-index: 10;
  width: 38px;

  .toggle {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

.course-nav-list-item {
  @include media-breakpoint-up(lg) {
    padding-right: 2rem;
  }

  &:first-child {
    .course-nav-parent {
      padding-top: 0 !important;
    }
  }
}

.course-nav-list-item-child {
  font-size: $font-xs;
}

.course-nav-section-toggle {
  margin-left: 20px;
}

.course-nav-section-toggle > i:after {
  content: "add";
}

.course-nav-section-toggle[aria-expanded="true"] > i:after {
  content: "remove" !important;
}

.course-nav-child-nav {
  list-style: none;
}

.course-nav-child-nav > li {
  padding-right: 0 !important;
}
