.course-description {
  .description {
    p:last-child {
      margin-bottom: 0;
    }
  }

  &.collapsed {
    .description {
      max-height: 6rem;
      overflow: hidden;
    }
  }

  .expand-link {
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    background-color: white;
    color: $blue;

    .material-icons {
      color: black;
    }
  }

  #course-description.collapse:not(.show) {
    display: block;
    /* height = lineheight * no of lines to display */
    height: 4.5em;
    overflow: hidden;
  }

  #course-description.collapsing {
    height: 4.5em;
  }
}
