.course-info {
  $collapsedHeight: 200px;
  $opaqueLayerHeight: 30px;

  &.collapsed {
    table {
      display: block;
      position: relative;
      height: $collapsedHeight;
      margin-bottom: 0 !important;
    }

    .opaque-layer {
      position: absolute;
      bottom: 0;
      height: $opaqueLayerHeight;
      width: 100%;
      background: linear-gradient(to bottom, transparent, white);
      z-index: 1;
    }
  }

  table {
    tr {
      td:nth-child(1) {
        color: $dark-gray;
      }
    }
  }
}

.partial-collapse-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background-size: cover;
  @include media-breakpoint-up(lg) {
    background: linear-gradient(transparent, transparent, $white) no-repeat
      center;
  }
  @include media-breakpoint-down(md) {
    background: linear-gradient(transparent, transparent, $light-gray) no-repeat
      center;
  }
}

.partial-collapse.collapse.show ~ .partial-collapse-overlay,
.partial-collapse.collapsing ~ .partial-collapse-overlay {
  display: none;
}

.partial-collapse-toggle-link {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 2;
}

.partial-collapse-icon-container {
  position: absolute;
  height: $partial-collapse-height;
  width: 100%;
  pointer-events: none;
}

.partial-collapse-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  pointer-events: all;
}

.partial-collapse-icon > i:after {
  content: "expand_more";
}

.partial-collapse-toggle-link[aria-expanded="true"]
  > .partial-collapse-icon-container
  > .partial-collapse-icon
  > i:after {
  content: "expand_less" !important;
}

.partial-collapse.collapse:not(.show) {
  display: block;
  height: $partial-collapse-height;
  overflow: hidden;
}

.partial-collapse.collapsing {
  height: $partial-collapse-height;
}

.partial-collapse.collapse.show > ul > li > a.partial-collapse-link {
  position: relative;
  z-index: 3;
}

.topic-toggle {
  position: absolute;
  height: 26px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: all;
}

.topic-toggle > i:after {
  content: "chevron_right";
}

.topic-toggle[aria-expanded="true"] > i:after {
  content: "expand_more" !important;
}

.course-description {
  .description {
    font-size: 1rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &.collapsed {
    .description {
      max-height: 6rem;
      overflow: hidden;
    }
  }
}
