@import "../../../base-theme/assets/css/imports/reset";
@import "../../../base-theme/assets/css/bootstrap-overrides";
@import "../../../base-theme/assets/css/breakpoints";
@import "../../../base-theme/assets/css/variables";
@import "~bootstrap/scss/bootstrap";
@import "~offcanvas-bootstrap/src/sass/bootstrap.offcanvas";

@import "course-nav";
@import "course-info";
@import "course-home";
@import "drawer";
@import "pdf";
@import "tables";
@import "video";
@import "videojs_player";

#course-banner {
  color: $white;
  background-color: $blue;

  a {
    text-decoration: none;
  }
}

#main-content article.content {
  a:link {
    color: $course-content-link-unclicked;
  }

  a:visited,
  a:hover,
  a:active {
    color: $course-content-link-hover-clicked;
  }
}
