.pdf-viewer {
  .download-link {
    display: block;
    height: 50px;
  }

  .pdf-wrapper {
    padding-bottom: 130%;
    position: relative;

    object,
    embed,
    iframe {
      position: absolute;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
