.resource-page {
  .row {
    min-height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .download-file {
    display: inline-flex;
    padding: 10px 22px;
    background-color: $medium-gray;
    color: white;
    text-decoration: none;
  }
}
