{{ define "main" }}
{{- $collection := . -}}
<div>
  {{ block "header" . }}
  {{ partialCached "header" . }}
  {{ end }}
  <div class="container standard-width mx-auto mt-5">
    <h1>
      {{ $collection.Title }}
    </h1>
    <div class="pb-2">
      {{ $collection.Description | .RenderString }}
    </div>
    <div id="resource-collection-container"></div>
  </div>
  {{ block "footer" . }} {{ partialCached "footer" . }} {{end}}
    {{- $staticApiBaseUrl := partial "static_api_base_url.html" -}}
    {{- $contentMap := dict -}}
    {{- $courseJSONMap := dict -}}
    {{- $resourceJSONMap := dict -}}
    {{- $resourceURLMap := dict -}}
    {{- range $collection.Params.resources.content -}}
      {{- $itemUUID := index . 0 -}}
      {{- $urlPath := index . 1 -}}
      {{- if not (isset $contentMap $urlPath) -}}
        {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) "/" $urlPath "/content_map.json") "" -}}
          {{- with try (resources.GetRemote $url) -}}
            {{ with .Err }}
              {{- $errorMessage := printf "Failed to fetch resource collections on %v via %v with error: %v" site.BaseURL $url . -}}
              {{- partial "sentry_capture_message.html" $errorMessage -}}
            {{ else with .Value }}
              {{- $mapData := . | unmarshal -}}
              {{- $mapData = merge $mapData (dict "url_path" $urlPath) -}}
              {{- $contentMap = dict $urlPath $mapData | merge $contentMap -}}
            {{ else }}
              {{ $errorMessage := printf "Failed to fetch resource collections through %v on %v" $url site.BaseURL }}
              {{ partial "sentry_capture_message.html" $errorMessage }}
            {{ end }}
          {{ end }}
      {{- end -}}
      {{- if not (isset $courseJSONMap $urlPath) -}}
        {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) "/" $urlPath "/data.json") "" -}}
        {{- with try (resources.GetRemote $url) -}}
          {{ with .Err }}
            {{- $errorMessage := printf "Failed to fetch resource collections on %v via %v with error: %v" site.BaseURL $url . -}}
            {{- partial "sentry_capture_message.html" $errorMessage -}}
          {{ else with .Value }}
            {{- $data := . | unmarshal -}}
            {{- $data = merge $data (dict "url_path" $urlPath) -}}
            {{- $courseJSONMap = merge $courseJSONMap (dict $urlPath $data) -}}
          {{ else }}
            {{ $errorMessage := printf "Failed to fetch resource collections through %v on %v" $url site.BaseURL }}
            {{ partial "sentry_capture_message.html" $errorMessage }}
          {{ end }}
        {{ end }}
      {{- end -}}
      {{- $courseJSONRelpath := index (index $contentMap $urlPath) $itemUUID -}}
      {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) $courseJSONRelpath) "" -}}
      {{- with try (resources.GetRemote $url) -}}
        {{ with .Err }}
          {{- $errorMessage := printf "Failed to fetch resource collections on %v via %v with error: %v" site.BaseURL $url . -}}
          {{- partial "sentry_capture_message.html" $errorMessage -}}
        {{ else with .Value }}
          {{- $resourceJSON := . | unmarshal -}}
          {{- $resourceJSONMap = dict $itemUUID $resourceJSON | merge $resourceJSONMap -}}
          {{- $resourceURLMap = dict $itemUUID $url | merge $resourceURLMap -}}
        {{ else }}
          {{ $errorMessage := printf "Failed to fetch resource collections through %v on %v" $url site.BaseURL }}
          {{ partial "sentry_capture_message.html" $errorMessage }}
        {{ end }}
      {{ end }}
    {{- end -}}
    {{- $resourceCollectionData := dict "courseJSONMap" $courseJSONMap "resourceJSONMap" $resourceJSONMap "resourceURLMap" $resourceURLMap "collection" $collection.Params.resources.content -}}
  <script>  
    window.resourceCollectionData = JSON.parse("{{- $resourceCollectionData | jsonify -}}");
  </script>
</div>
{{ end }}