{{ define "main" }}
{{- $collection := . -}}
<div>
  {{ block "header" . }}
  {{ partialCached "header" . }}
  {{ end }}
  <div class="container standard-width mx-auto mt-5">
    <h1>
      {{ $collection.Title }}
    </h1>
    <div class="pb-2">
      {{ $collection.Description | .RenderString }}
    </div>
    <div id="resource-collection-container"></div>
  </div>
  {{ block "footer" . }} {{ partialCached "footer" . }} {{end}}
  <script>
    {{- $staticApiBaseUrl := getenv "STATIC_API_BASE_URL" | default "https://ocwnext.odl.mit.edu"  -}}
    {{- $contentMap := dict -}}
    {{- $courseJSONMap := dict -}}
    {{- $resourceJSONMap := dict -}}
    {{- $resourceURLMap := dict -}}
    {{- range $collection.Params.resources.content -}}
      {{- $itemUUID := index . 0 -}}
      {{- $urlPath := index . 1 -}}
      {{- if not (isset $contentMap $urlPath) -}}
        {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) "/" $urlPath "/content_map.json") "" -}}
        {{- $mapData := getJSON $url -}}
        {{- $mapData = merge $mapData (dict "url_path" $urlPath) -}}
        {{- $contentMap = dict $urlPath $mapData | merge $contentMap -}}
      {{- end -}}
      {{- if not (isset $courseJSONMap $urlPath) -}}
        {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) "/" $urlPath "/data.json") "" -}}
        {{- $data := getJSON $url -}}
        {{- $data = merge $data (dict "url_path" $urlPath) -}}
        {{- $courseJSONMap = merge $courseJSONMap (dict $urlPath $data) -}}
      {{- end -}}
      {{- $courseJSONRelpath := index (index $contentMap $urlPath) $itemUUID -}}
      {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) $courseJSONRelpath) "" -}}
      {{- $resourceJSON := getJSON $url -}}
      {{- $resourceJSON = merge $resourceJSON (dict "url_path" $urlPath) -}}
      {{- $resourceJSONMap = dict $itemUUID $resourceJSON | merge $resourceJSONMap -}}
      {{- $resourceURLMap = dict $itemUUID $url | merge $resourceURLMap -}}
    {{- end -}}
    {{- $resourceCollectionData := dict "courseJSONMap" $courseJSONMap "resourceJSONMap" $resourceJSONMap "resourceURLMap" $resourceURLMap "collection" $collection.Params.resources.content -}}
    window.resourceCollectionData = JSON.parse("{{- $resourceCollectionData | jsonify -}}");
  </script>
</div>
{{ end }}
