{{ $destination := .Destination }}
{{/* A URL scheme (http, https, mailto, ftp, ...) means the link is not a path into the package. */}}
{{ $isInternalLink := not (findRE `^[A-Za-z][A-Za-z0-9+.-]*:` $destination) }}
{{ $isExternalCourseLink := strings.HasPrefix $destination "/courses" }}
{{ if $isInternalLink }}
  {{ if $isExternalCourseLink }}
    {{ $destination = partial "site_root_url.html" $destination }}
  {{ else }}
    {{ $destination = partial "explicit_index_url.html" $destination }}
  {{ end }}
{{ end }}
{{ return $destination }}
