{{- $gtmId := getenv "GTM_ACCOUNT_ID" -}}
{{- $courseData := .Site.Data.course -}}

<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head.html" . }}

<body class="course-home-page has-mit-learn-header">
  {{ if $gtmId }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $gtmId }}" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ end }}

  <div>
    <div class="course-header">
      {{ partialCached "mobile_course_info.html" . }}
      {{ block "header" . }}{{ partialCached "header" . }}{{ end }}
      {{ block "subheader" . }}{{ partial "course_banner.html" . }}{{ end }}
    </div>
    <main id="course-content-section">
      <div class="course-main-content-v3">
        <div class="container-v3">
          <div>
            <div class="mobile-nav-div medium-and-below-only align-self-stretch">
              {{ partial "mobile_course_menu_v3.html" (dict "context" .) }}
            </div>
            <div class="course-overview">
              <div class="course-nav-desktop large-and-above-only p-0">
                {{ partialCached "desktop_nav.html" . }}
              </div>
              <div class="course-detail d-flex flex-column align-items-start align-self-stretch">
                {{ partialCached "course_detail.html" . }}
              </div>
              <div class="col-12 col-md-4 col-lg-3 p-0 course-image-section">
                {{ partialCached "course_image_section.html" . }}
              </div>
            </div>
            <div class="bottom-download-button align-self-stretch">
              {{ partial "download_course_link_button.html" (dict "context" . "inPanel" false) }}
            </div>
          </div>
          {{ partial "course_licensing.html" . }}
        </div>
      </div>
    </main>
    {{ block "footer" . }}{{ partial "footer-v3" . }}{{end}}
    {{ partialCached "hide_offline_links.html" . }}
  </div>
  {{ partial "external_link_modal" }}
  {{ partialCached "navigation_js.html" . }}
  {{ partialCached "responsive_tables_js.html" . }}
</body>

</html>
