{{- $stories := where .Site.RegularPages "Type" "==" "stories" -}}
{{- $storiesSection := .Site.GetPage "section" "stories" -}}
{{- $breakdowns := dict
    "xs-sm" (dict "size" 1 "class" "d-flex d-md-none")
    "md"    (dict "size" 2 "class" "d-none d-md-flex d-lg-none")
    "lg"    (dict "size" 3 "class" "d-none d-lg-flex d-xl-none")
    "xl"    (dict "size" 3 "class" "d-none d-xl-flex")
-}}
<div class="carousel-section">
  <div class="home-testimonials mx-auto my-3">
    {{ range $breakpoint, $carouselInfo := $breakdowns }}
      {{ $itemsInCarousel := index $carouselInfo "size" }}
      {{ $breakpointVisibilityClass := index $carouselInfo "class" }}
      {{ $carouselId := printf "testimonial-carousel-%v" $breakpoint }}
      <div class="{{ $breakpointVisibilityClass }}">
        <div class="d-flex flex-direction-row align-items-sm-center justify-content-between w-100">
          <a href="#{{ $carouselId }}" role="button" data-slide="prev" class="bg-white prev">
            <span class="material-icons" aria-hidden="true" style="font-size: 3.75rem">keyboard_arrow_left</span>
            <span class="sr-only">Previous</span>
          </a>
          <div id="{{ $carouselId }}" class="carousel slide" data-interval="false" data-touch="true" data-ride="carousel">
            <div class="carousel-header d-flex flex-row justify-content-between font-weight-bold">
              <h2>OCW Stories</h2>
              {{ if gt (len $stories) 3 }}
                {{ partial "carousel_controls.html" $carouselId }}
              {{ end }}
            </div>
            <div class="carousel-inner standard-width container">
              {{ range $index, $testimonial := $stories }}
                {{ with $testimonial }}
                  {{ $modulo := mod $index $itemsInCarousel }}
                  {{ $group := div $index $itemsInCarousel }}
                  {{ if eq $modulo 0 }}
                  <div class="carousel-item row {{ if eq $group 0 }}active{{ end }} flex-nowrap justify-content-center">
                  {{ end }}
                    {{ partial "stories_card.html" $testimonial }}
                  {{ if or (eq $modulo (sub $itemsInCarousel 1)) (eq $index (sub (len $stories) 1)) }}
                  </div>
                  {{ end }}
                {{ end }}
              {{ end }}
            </div>
          </div>
          <a href="#{{ $carouselId }}" role="button" data-slide="next" class="bg-white next" >
            <span class="material-icons" aria-hidden="true" style="font-size: 3.75rem">keyboard_arrow_right</span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    {{ end }}
    <div class="d-flex justify-content-center my-4">
      // button to be re-added here
    </div>
  </div>
</div>
