<div class="course-collection standard-width container mx-auto mt-3">
  <h2>Discover Collections</h2>
  <div class=" transparent-background-light w-100  p-4">
    <p>
      OCW offers course content and materials related to a wide range of
      collections. Below are some topics available for you to explore:
    </p>
    <div class="course-collection-section d-flex flex-row m-0 flex-wrap">
      {{ range where .Site.Pages "Type" "course_collections" | intersect (where .Site.Pages "Title" "in" .Params.homePageCourseCollections)}}
      <a href="{{.Permalink}}">
        <div class="collection-item">
          <p>{{.Title}}</p>
        </div>
      </a>
      {{ end }}
    </div>
  </div>
</div>
