{{- $context := . -}}
{{- $staticApiBaseUrl := partial "static_api_base_url.html" -}}
<div class="new-courses course-cards standard-width container mx-auto mt-3">
{{ $studioBaseUrl := partial "ocw_studio_base_url.html" }}
{{ $courseStarterSlug := getenv "OCW_COURSE_STARTER_SLUG" }}
{{ $coursesQuery := querify "type" $courseStarterSlug "limit" 12 }}
{{ $coursesURL := (print (strings.TrimSuffix "/" $studioBaseUrl) "/api/websites/?" $coursesQuery) }}
{{ with resources.GetRemote $coursesURL }}
  {{ if not .Err }}
    {{ $results := (. | unmarshal).results }}
    {{ if $results }}
      {{ $breakdowns := (dict "xs-sm" (dict "size" 1 "class" "d-flex d-md-none") "md" (dict "size" 2 "class" "d-none d-md-flex d-lg-none") "lg" (dict "size" 3 "class" "d-none d-lg-flex d-xl-none") "xl" (dict "size" 4 "class" "d-none d-xl-flex")) }}
      <!-- list adapted from https://getbootstrap.com/docs/4.0/utilities/display/#hiding-elements -->
      {{ range $breakpoint, $carouselInfo := $breakdowns }}
        {{ $itemsInCarousel := index $carouselInfo "size" }}
        {{ $breakpointVisibilityClass := index $carouselInfo "class" }}
        {{ $isMobile := (eq $itemsInCarousel 1) }}
        {{ $carouselId := (printf "new-course-carousel-%v" $breakpoint) }}
        <div class="{{ $breakpointVisibilityClass }}">
          <div id="{{ $carouselId }}" class="carousel slide" data-interval="false" data-touch="true" data-ride="carousel">
            <div class="carousel-header d-flex flex-row justify-content-between font-weight-bold">
              <h2>New Courses</h2>
              {{ partial "carousel_controls.html" $carouselId }}
            </div>
            <div class="carousel-inner d-flex {{ if not $isMobile }}container{{ end }} mt-2 px-0">
              {{ $resultsSlice := first 12 $results }}
              {{ range $index, $courseItem := $resultsSlice  }}
                {{- if $courseItem.url_path -}}
                  {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) "/" $courseItem.url_path "/data.json") "" -}}
                  {{ with resources.GetRemote $url }}
                    {{ with .Err }}
                      {{ errorf "Failed to fetch new course info from %v with error %v" $url . }}
                    {{ else }}
                      {{- $courseData := . | unmarshal -}}
                      {{ partial "course_carousel_card.html" (dict "context" $context "itemsInCarousel" $itemsInCarousel "courseData" $courseData "index" $index "urlPath" $courseItem.url_path "numCourses" (len $resultsSlice))}}
                    {{ end }}
                  {{ else }}
                    {{ errorf "Failed to fetch new course info from %v" $url }}
                  {{ end }}
                {{- end -}}
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    {{ else }}
    No new courses found
    {{ end }}
  {{ end }}
{{ else }}
  {{ errorf "Failed to fetch new courses list from %v" $coursesURL }}
{{ end }}
</div>
