<form action="" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form d-flex" target="_blank" novalidate>
    <div class="icon-text-box-wrapper d-flex flex-row flex-grow-1 form-group bg-white shadow-sm border-gray p-0 m-0">
        <img class="input-group-prepend px-2" src="/static_shared/images/envelope.svg" alt="" />
        <input aria-label="Subscribe to the OCW Newsletter" type="email" value="" name="EMAIL" class="email form-control border-0" id="mce-EMAIL" placeholder="Your email address...">
    </div>
    <div class="btn rounded-0 px-3 py-2 h-100 my-3 my-xl-0 ml-xl-3 signup-link">
        <a href="#" class="text-white text-decoration-none">SIGN ME UP</a>
    </div>
    <!-- handle enter keypress -->
    <input type="submit" class="d-none" />
</form>
<div class="newsletter-signup-result"></div>

