<div class="ocw-news standard-width container mx-auto">
{{ $studioBaseUrl := partial "ocw_studio_base_url.html" }}
{{ if $studioBaseUrl }}
  {{- $url := (print (strings.TrimSuffix "/" $studioBaseUrl) "/api/news/") -}}
  {{/*  <h1>{{$url}}</h1>  */}}
  {{ with resources.GetRemote $url }}
    {{ with .Err }}
      {{ $errorMessage := printf "OCW News on %v failed to fetch %v with error: %v" site.BaseURL $url . }}
      {{ partial "sentry_capture_message.html" $errorMessage }}
    {{ else }}
      {{ $items := (. | unmarshal).items }}
      {{ if $items }}
        {{ $breakdowns := (dict "xs-sm" (dict "size" 1 "class" "d-flex d-md-none") "md" (dict "size" 2 "class" "d-none d-md-flex d-lg-none")) }}
        {{ range $breakpoint, $carouselInfo := $breakdowns }}
          {{ $itemsInCarousel := index $carouselInfo "size" }}
          {{ $breakpointVisibilityClass := index $carouselInfo "class" }}
          {{ $carouselId := (printf "news-carousel-%v" $breakpoint) }}
          <div class="{{ $breakpointVisibilityClass }}">
            <div id="{{ $carouselId }}" class="carousel slide">
              <div class="carousel-header d-flex flex-row justify-content-between font-weight-bold text-uppercase">
                <h2>OCW News</h2>
                {{ partial "carousel_controls.html" $carouselId }}
              </div>
              <div class="carousel-inner d-flex mt-2 px-0">
              {{ range $index, $newsItem := (first 4 $items) }}
                {{ $modulo := (mod $index $itemsInCarousel) }}
                {{ $group := (div $index $itemsInCarousel) }}
                {{ if eq $modulo 0 }}
                <div class="carousel-item row {{ if eq $group 0 }}active{{ end }}">
                {{ end }}
                  <div class="item-wrapper col-{{ (div 12 $itemsInCarousel) }}">
                    <div class="item item-{{ $index }}"
                          style="background: linear-gradient(to bottom, transparent, #777777), url({{ $newsItem.image }})">
                      <a href="{{ $newsItem.link.text }}" class="py-2 px-3 text-white text-decoration-none">
                        {{ $newsItem.title.text }}
                      </a>
                    </div>
                  </div>
                {{ if (or (eq $modulo (sub $itemsInCarousel 1)) (eq $index (sub 4 1))) }}
                </div>
                {{ end }}
              {{ end }}
              </div>
            </div>
          </div>
        {{ end }}

        <div class="d-none d-lg-block">
          <h2>OCW News</h2>
          <div class="d-grid items-grid">
            {{ range $index, $item := (first 4 $items) }}
              <div class="item item-{{ $index }}"
                    style="background: linear-gradient(to bottom, transparent, #777777), url({{ $item.image }})">
                <a href="{{ $item.link.text }}" class="py-2 px-3 text-white text-decoration-none">
                  {{ $item.title.text }}
                  {{/*  {{ $item.pubDate.text }}  */}}
                </a>
              </div>
            {{ end }}
          </div>
        </div>

        <div class="news-container d-none d-lg-flex">
          <div class="main-picture">
            <img src="https://via.placeholder.com/800x400" alt="Main Picture">
            <div class="overlay">
              <div class="date-banner">{{(index $items 0).pubDate.text}}</div>
              <h2 class="heading">{{(index $items 0).title.text}}</h2>
            </div>
          </div>
          <div class="side-area">
            {{ range $index, $item := after 1 (first 5 $items) }}

            <div class="card"
                  style="background: black"
                  >
              <img src="{{$item.image}}" alt="Image 1">
              <div class="card-desc">
              <div class="card-title">{{ $item.title.text | truncate 60 }}</div>
              {{ $formattedDate := replaceRE "(\\w+), 0*(\\d{1,2}) (\\w+) (\\d{4}).*" "$3 $2, $4" $item.pubDate.text }}
              {{ $monthAbbreviation := substr $formattedDate 0 3 }}
              {{ $monthMap := dict "Jan" "January" "Feb" "February" "Mar" "March" "Apr" "April" "May" "May" "Jun" "June" "Jul" "July" "Aug" "August" "Sep" "September" "Oct" "October" "Nov" "November" "Dec" "December" }}
              {{ $monthFullName := index $monthMap $monthAbbreviation }}
              {{ $formattedDate := replace $formattedDate $monthAbbreviation $monthFullName }}
              

              {{/*  {{ $formattedDate := printf "%s %s, %s" $monthFullName $day $year }}  */}}
              <div class="card-date">{{ $formattedDate }}</div>
              </div>
            
            </div>
          {{ end }}
          </div>
        </div>

        <div class="d-flex py-4">
          <div class="ml-auto">
            <a class="view-all-link" href="https://www.ocw-openmatters.org/">View All News Stories</a>
          </div>
        </div>
      {{ else }}
      No news items found
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $errorMessage := printf "Failed to fetch news items through %v on %v" $url site.BaseURL }}
    {{ partial "sentry_capture_message.html" $errorMessage }}
  {{ end }}
{{ else }}
OCW Studio URL not configured
{{ end }}
</div>