<div class="ocw-news standard-width container mx-auto">
{{ $studioBaseUrl := partial "ocw_studio_base_url.html" }}
{{ if $studioBaseUrl }}
  {{- $url := (print (strings.TrimSuffix "/" $studioBaseUrl) "/api/news/") -}}
  {{ with resources.GetRemote $url }}
    {{ with .Err }}
      {{ $errorMessage := printf "OCW News on %v failed to fetch %v with error: %v" site.BaseURL $url . }}
      {{ partial "sentry_capture_message.html" $errorMessage }}
    {{ else }}
      {{ $items := (. | unmarshal).items }}
      {{ if $items }}
        {{ $breakdowns := (dict "xs-sm" (dict "size" 1 "class" "d-flex d-lg-none") )}}
        {{ range $breakpoint, $carouselInfo := $breakdowns }}
          {{ $itemsInCarousel := index $carouselInfo "size" }}
          {{ $breakpointVisibilityClass := index $carouselInfo "class" }}
          {{ $carouselId := (printf "news-carousel-%v" $breakpoint) }}
          <div class="{{ $breakpointVisibilityClass }}">
            <div id="{{ $carouselId }}" class="carousel slide">
              <div class="carousel-header d-flex flex-row justify-content-between font-weight-bold">
                <h2>OCW News</h2>
                {{ partial "carousel_controls.html" $carouselId }}
              </div>
              <div class="news-container mobile">
                <div class="featured-news">
                  <div class="carousel-inner d-flex px-0">
                    {{ range $index, $newsItem := (first 5 $items) }}
                      {{ $modulo := (mod $index $itemsInCarousel) }}
                      {{ $group := (div $index $itemsInCarousel) }}
                      {{ $newsItemFormattedDate := partialCached "date_format.html" $newsItem.pubDate.text }}
                      {{ if eq $modulo 0 }}
                        <div class="carousel-item row {{ if eq $group 0 }}active{{ end }}">
                      {{ end }}
                        <div class="item-{{ $index }}">
                          <a href="{{ $newsItem.link.text }}" class="text-white text-decoration-none">
                            <img src="{{$newsItem.image}}" alt="Main Picture">
                          </a>
                          <div class="news-overlay mobile">
                            <div class="featured-news-content">
                              <div class="featured-news-date">{{ $newsItemFormattedDate }}</div>
                              <h3 class="featured-news-heading mobile">
                                <a href="{{ $newsItem.link.text }}" class="text-white text-decoration-none">{{ $newsItem.title.text }}</a>
                              </h1>
                            </div>
                          </div>
                        </div>
                      {{ if (or (eq $modulo (sub $itemsInCarousel 1)) (eq $index (sub 5 1))) }}
                        </div>
                      {{ end }}
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}

        <h2 class="ocw-news-main-heading">OCW News</h2>
        <div class="news-container">
          <div class="featured-news d-none d-md-block">
            {{ $firstItem := index $items 0 }}
            {{ $firstItemFormattedDate := partialCached "date_format.html" $firstItem.pubDate.text }}
            <img src="{{$firstItem.image}}">
            <div class="news-overlay">
              <div class="featured-news-content">
                <div class="featured-news-date">{{ $firstItemFormattedDate }}</div>
                <h3 class="featured-news-heading">
                  <a href="{{ $firstItem.link.text }}" class="text-white text-decoration-none">{{ $firstItem.title.text }}</a>
                </h1>
              </div>
            </div>
          </div>
          <div class="news-sidebar d-none d-md-block">
            {{ range $index, $item := after 1 (first 5 $items) }}
              <div class="news-card">
                <a href="{{ $item.link.text }}" class="text-decoration-none">
                  <img src="{{$item.image}}">
                </a>
                <div class="news-card-content">
                  <div class="news-card-title">
                    <h3>
                      <a href="{{ $item.link.text }}" class="text-decoration-none py-2">{{ $item.title.text | truncate 60 }}</a>
                    </h3>
                  </div>
                  {{ $formattedDate := partialCached "date_format.html" $item.pubDate.text }}
                  <div class="news-card-date">{{ $formattedDate }}</div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>

        <div class="d-flex py-4">
          <div class="ml-auto">
            <a class="view-all-link" href="https://www.ocw-openmatters.org/">View All News Stories</a>
          </div>
        </div>
      {{ else }}
      No news items found
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $errorMessage := printf "Failed to fetch news items through %v on %v" $url site.BaseURL }}
    {{ partial "sentry_capture_message.html" $errorMessage }}
  {{ end }}
{{ else }}
OCW Studio URL not configured
{{ end }}
</div>
