<div class="ocw-news standard-width container mx-auto">
{{ $studioBaseUrl := partial "ocw_studio_base_url.html" }}
{{ if $studioBaseUrl }}
  {{- $url := (print (strings.TrimSuffix "/" $studioBaseUrl) "/api/news/") -}}
  {{/*  <h1>{{$url}}</h1>  */}}
  {{ with resources.GetRemote $url }}
    {{ with .Err }}
      {{ $errorMessage := printf "OCW News on %v failed to fetch %v with error: %v" site.BaseURL $url . }}
      {{ partial "sentry_capture_message.html" $errorMessage }}
    {{ else }}
      {{ $items := (. | unmarshal).items }}
      {{ if $items }}
        {{ $breakdowns := (dict "xs-sm" (dict "size" 1 "class" "d-flex d-md-none") "md" (dict "size" 2 "class" "d-none d-md-flex d-lg-none")) }}
        {{ range $breakpoint, $carouselInfo := $breakdowns }}
          {{ $itemsInCarousel := index $carouselInfo "size" }}
          {{ $breakpointVisibilityClass := index $carouselInfo "class" }}
          {{ $carouselId := (printf "news-carousel-%v" $breakpoint) }}
          <div class="{{ $breakpointVisibilityClass }}">
            <div id="{{ $carouselId }}" class="carousel slide">
              <div class="carousel-header d-flex flex-row justify-content-between font-weight-bold text-uppercase">
                <h2>OCW News</h2>
                {{ partial "carousel_controls.html" $carouselId }}
              </div>
              <div class="carousel-inner d-flex mt-2 px-0">
              {{ range $index, $newsItem := (first 4 $items) }}
                {{ $modulo := (mod $index $itemsInCarousel) }}
                {{ $group := (div $index $itemsInCarousel) }}
                {{ if eq $modulo 0 }}
                <div class="carousel-item row {{ if eq $group 0 }}active{{ end }}">
                {{ end }}
                  <div class="item-wrapper col-{{ (div 12 $itemsInCarousel) }}">
                    <div class="item item-{{ $index }}"
                          style="background: linear-gradient(to bottom, transparent, #777777), url({{ $newsItem.image }})">
                      <a href="{{ $newsItem.link.text }}" class="py-2 px-3 text-white text-decoration-none">
                        {{ $newsItem.title.text }}
                      </a>
                    </div>
                  </div>
                {{ if (or (eq $modulo (sub $itemsInCarousel 1)) (eq $index (sub 4 1))) }}
                </div>
                {{ end }}
              {{ end }}
              </div>
            </div>
          </div>
        {{ end }}

        {{/*  <div class="d-none d-lg-block">
          <h2>OCW News</h2>
          <div class="d-grid items-grid">
            {{ range $index, $item := (first 4 $items) }}
              <div class="item item-{{ $index }}"
                    style="background: linear-gradient(to bottom, transparent, #777777), url({{ $item.image }})">
                <a href="{{ $item.link.text }}" class="py-2 px-3 text-white text-decoration-none">
                  {{ $item.title.text }}
                </a>
              </div>
            {{ end }}
          </div>
        </div>  */}}

          <div class="news-container d-none d-lg-flex">
            {{ $firstItem := index $items 0 }}
            {{ $firstItemFormattedDate := partialCached "date_format.html" $firstItem.pubDate.text }}
            <div class="featured-news">
              <img src="{{$firstItem.image}}" alt="Main Picture">
              <div class="news-overlay">
                <div class="featured-news-content">
                  <div class="featured-news-date">{{ $firstItemFormattedDate }}</div>
                  <h1 class="featured-news-heading">
                    <a href="{{ $firstItem.link.text }}" class="text-white text-decoration-none">{{ $firstItem.title.text }}</a>
                  </h1>
                </div>
              </div>
            </div>
          <div class="news-sidebar">
            {{ range $index, $item := after 1 (first 5 $items) }}
              <div class="news-card" style="background: black">
                <a href="{{ $item.link.text }}" class="text-decoration-none">
                  <img src="{{$item.image}}">
                </a>
                <div class="news-card-content">
                  <div class="news-card-title">
                    <a href="{{ $item.link }}" class="text-decoration-none py-2">{{ $item.title.text | truncate 60 }}</a>
                  </div>
                  {{ $formattedDate := partialCached "date_format.html" $item.pubDate.text }}
                  <div class="news-card-date">{{ $formattedDate }}</div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
        

        <div class="d-flex py-4">
          <div class="ml-auto">
            <a class="view-all-link" href="https://www.ocw-openmatters.org/">View All News Stories</a>
          </div>
        </div>
      {{ else }}
      No news items found
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $errorMessage := printf "Failed to fetch news items through %v on %v" $url site.BaseURL }}
    {{ partial "sentry_capture_message.html" $errorMessage }}
  {{ end }}
{{ else }}
OCW Studio URL not configured
{{ end }}
</div>