<div
  class="modal fade js-quotes-modal"
  tabindex="-1"
  role="dialog"
    aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    style="max-width: 600px; margin: 1rem auto;"
    role="document"
  >
    <div class="modal-content">
      <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
        <img
          class="p-0 m-0"
          src="{{ partial "get_asset_webpack_url.html" "images/quote_close.svg" }}"
          alt=""
          style="margin-left:10px; color: white;"
        />
      </button>
      <div class="modal-body" style="padding: 10px;">
        <!-- Modal content will be injected here by JavaScript -->
      </div>
    </div>
  </div>
</div>
