{{- $testimonial := . -}}
<a href="{{ $testimonial.RelPermalink }}" class="testimonial-link">
  <div
    class="testimonial d-flex flex-column justify-content-end rounded"
    style="background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%), url({{ partial "resource_url" (partial "resource_metadata" $testimonial.Params.image.content).Params.file }});"
  >
    <div class="name font-weight-bold pl-3">
      {{ $testimonial.Title }}
    </div>
    <div class="occupation-location pl-3 pb-2">
      {{ $testimonial.Params.occupation }} - {{ $testimonial.Params.location }}
    </div>
  </div>
</a>
