{{- $testimonial := . -}}
<a href="{{ $testimonial.RelPermalink }}" class="testimonial-link">
  <div class="testimonial d-flex flex-column rounded">
    <div class="testimonial-image-wrapper">
      <img 
        src="{{ partial "resource_url.html" (dict "context" . "url" (partial "resource_metadata.html" $testimonial.Params.image.content).Params.file) }}" 
        alt="{{ $testimonial.Title }}" 
        class="testimonial-image"
      >
    </div>
    <div class="name font-weight-bold pl-3">
      {{ $testimonial.Title }}
    </div>
    <div class="occupation-location pl-3 pb-2">
      {{ $testimonial.Params.occupation }} - {{ $testimonial.Params.location }}
    </div>
    <div class="story-body pl-3 pb-2">
      {{ $testimonial.Content | plainify | replaceRE "\\s+" " " | truncate 100 }}
    </div>
  </div>

</a>
