<div
  class="modal fade js-quote-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered quote-modal-dialog"
    role="document"
  >
    <div class="modal-content quote-modal-content">
      <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
        <img
          src="{{ partial "get_asset_webpack_url.html" "images/ocw_testimonial_quote_modal_close.svg" }}"
          alt=""
        />
      </button>
      <div class="modal-body quote-modal-body">
        <!-- Modal content will be injected here by JavaScript -->
      </div>
    </div>
  </div>
</div>
