{
  "extends": "eslint-config-mitodl",
  "plugins": ["import"],
  "settings": {
    "react": {
      "version": "18.2.14"
    }
  },
  "env": {
    "browser": true,
    "jquery": true,
    "jest": true
  },
  "globals": {
    "RELEASE_VERSION": true
  },
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-anonymous-default-export": ["error", {
      "allowArray": false,
      "allowArrowFunction": false,
      "allowAnonymousClass": false,
      "allowAnonymousFunction": false,
      "allowCallExpression": false,
      "allowNew": false,
      "allowLiteral": false,
      "allowObject": true
    }]
  },
  "ignorePatterns": [
    "**/dist",
    "**/static_shared/**"
  ]
}
