{
  "extends": "eslint-config-mitodl",
  "settings": {
    "react": {
      "version": "16.4.0"
    }
  },
  "env": {
    "browser": true,
    "jquery": true,
    "jest": true
  },
  "globals": {
    "RELEASE_VERSION": true
  },
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "ignorePatterns": [
    "**/dist",
    "**/static_shared"
  ]
}
