{
  "extends": "eslint-config-mitodl",
  "settings": {
    "react": {
      "version": "17.0.0"
    }
  },
  "env": {
    "browser": true,
    "jquery": true,
    "jest": true
  },
  "globals": {
    "RELEASE_VERSION": true
  },
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-anonymous-default-export": ["error", {
      "allowArray": false,
      "allowArrowFunction": false,
      "allowAnonymousClass": false,
      "allowAnonymousFunction": false,
      "allowCallExpression": false,
      "allowNew": false,
      "allowLiteral": false,
      "allowObject": true
    }]
  },
  "ignorePatterns": [
    "**/dist"
  ]
}
