{{ define "main" }}
{{- $pages := .Site.RegularPages -}}
{{- $stories := where $pages "Type" "==" "stories" -}}
<div>
  {{ block "header" . }}
  {{ partialCached "header" . }}
  {{end}}
  <div class="testimonial-section container standard-width mx-auto mt-5 mb-5">
    <h1>OCW Stories</h1>
    <h3>Share your OCW story.</h3>
    <p>
      We'd love to hear from you! Please <a href="https://forms.gle/LvmpocNJBujDafqt9" target="_blank">share your story</a> about how OCW has made an impact in your life.
    </p>
    <div class="testimonials">
      {{ range $story := $stories }}
      <div class="testimonial d-flex flex-wrap flex-sm-nowrap">
        <div class="img-container">
          <img src="{{ partialCached "resource_url.html" (dict "context" . "url" (partial "resource_metadata.html" $story.Params.image.content).Params.file) }}" alt="" />
        </div>
        <div class="detail d-flex flex-column flex-nowrap justify-content-between p-0 ml-sm-5">
          <div class="text">
            <h2>{{ $story.Title }}</h2>
            <p>{{ $story.Params.occupation }}</p>
            <p class="location">{{ $story.Params.location }}</p>
            <p class="summary">
              {{ $story.Params.leadquote }}
            </p>
          </div>
          <div>
            <a href="{{ $story.RelPermalink }}">Read Full Story</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ block "footer" . }} {{ partialCached "footer" . }} {{end}}
</div>
{{ end }}
