{{ define "main" }}
{{- $pages := .Site.RegularPages -}}
{{- $stories := where $pages "Type" "==" "stories" -}}
<div>
  {{ block "header" . }}
  {{ partialCached "header" . }}
  {{end}}
  <div class="">
    <div class="row">
    {{ range $index, $testimonial := $stories  }}
      {{ if or (eq (mod $index 8) 0) (eq (mod $index 8) 1) }}
        <div class="row flex-nowrap justify-content-center col-12 col-md-6 col-lg-6 mb-4">
      {{ else }}  
        <div class="row flex-nowrap justify-content-center col-12 col-md-6 col-lg-4 mb-4">
      {{ end }}
          <div style="padding:10px; flex: 1 1; margin-left: 10px;" class="item-wrapper">
            {{ partial "stories_card.html" $testimonial }}
          </div>
        </div>
    {{ end }}
    </div>
  </div>
  {{ block "footer" . }} {{ partialCached "footer" . }} {{end}}
</div>
{{ end }}
