{{ define "main" }}
{{- $story := . -}}
<div>
  {{ block "header" . }}
  {{ partialCached "header" . }}
  {{ end }}
  <div class="testimonial-single container standard-width mx-auto mt-5 mb-5">
    <h1>OCW Stories</h1>
    <div class="testimonials">
      <div class="testimonial d-flex flex-wrap flex-sm-nowrap">
        <div class="img-container">
          <img src="{{ partial "resource_url" (partial "resource_metadata" $story.Params.image.content).Params.file }}" alt="" />
        </div>
        <div class="detail d-flex flex-column flex-nowrap justify-content-between p-0 ml-sm-5">
          <div class="text">
            <h2>{{ $story.Title }}</h2>
            <p class="font-weight-bold">{{ $story.Params.occupation }} | {{ $story.Params.location }}</p>
            <p class="summary">
              "{{ $story.Params.leadquote }}"
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="full-testimonial pt-5 pb-3">
      {{ .Content }}
    </div>
  </div>
  {{ block "footer" . }} {{ partialCached "footer" . }} {{end}}
</div>
{{ end }}
