{{ define "main" }}
{{ $courseId := .CurrentSection.Params.course_id }}
{{ $courseData := .Site.Data.course }}
{{ $courseThumbnailUrl := $courseData.course_thumbnail_image_url }}
{{ $courseImageUrl := $courseData.course_image_url }}
<!-- the number here is a estimate, a count of 5 lines of characters on a sample course at minimum browser width -->
{{ $shouldCollapseContent := gt (len .Content) 320 }}
<div class="homepage-content d-flex">
  <div class="container-fluid pt-0 pb-4">
    <div class="row px-3 pb-2 justify-content-between">
      <div class="col-lg-4 d-none d-lg-block">
        <div class="d-flex flex-column image-with-caption">
          <img class="course-image" src="
            {{- if hasPrefix $courseImageUrl "http" -}}
              {{ $courseImageUrl }}
            {{- else -}}
              {{ partial "site_root_url.html" $courseImageUrl }}
            {{- end -}}"
            alt="{{ $courseData.course_image_alternate_text }}"
          />
          <span class="caption p-3">
            {{ $courseData.course_image_caption_text | safeHTML }}
          </span>
        </div>
      </div>
      {{ partial "mobile_nav_toggle.html" . }}
      <div class="col-lg-8 course-description {{ if $shouldCollapseContent }}collapsed{{ end }}">
        <h4 class="font-weight-bold pt-2 course-description-title">Course Description</h4>
        <div class="mb-3 description">{{- .Content -}}</div>
        <div class="mb-3">
          {{ if $shouldCollapseContent }}
            <button class="expand-link" aria-expanded="false">
              <span class="text">Read More</span> <i class="material-icons">keyboard_arrow_right</i>
            </button>
          {{ end }}
        </div>
        {{ partial "course_info.html" (dict "context" . "inPanel" false) }}
      </div>
    </div>
    <div class="row px-lg-3 pb-lg-2 p-0">
      <div class="col-12 p-0">
        {{ partial "course_features.html" (dict "context" . "inPanel" false) }}
      </div>
    </div>
  </div>
</div>
{{ end }}
