{{ $shouldCollapseTitle := gt (len .Title) 75 }}
<div class="rounded mb-2">
  <header>
    <div
      class="course-section-title-container {{ if $shouldCollapseTitle }}collapse{{ end }}"
      id="course-title"
    >
      {{ with .Params.parent_title }}
      <h3 class="parent-title">{{ . }}</h3>
      {{ end }}
      <h1 class="text-uppercase font-weight-bold pb-1 mb-3">{{ .Title }}</h1>
    </div>
    <div class="d-flex">
      {{ if $shouldCollapseTitle }}
      <div class="collapse-btn-section ml-auto pt-2 px-3">
        <a
          role="button"
          class="collapsed"
          data-toggle="collapse"
          href="#course-title"
          aria-expanded="false"
          aria-controls="course-title"
        >
          <span class="material-icons"></span>
        </a>
      </div>
      {{ end }}
    </div>
  </header>
  {{ partial "mobile_nav_toggle.html" . }}
  <article class="content pt-3 mt-1 mr-5 mr-md-0">
    <main id="course-content-section">{{- .Content -}}</main>
  </article>
</div>
