{{ $bannerClass := "text-capitalize display-4 m-0 text-white" }}
{{ $currentPage := . }}
<div id="course-banner" class="p-0">
  <div class="max-content-width m-auto px-5 py-3">
    {{ $courseData := .Site.Data.course }}
    {{ $courseHomePage := .Site.GetPage "/" }}
    <span class="course-number-term-detail">{{ $courseData.primary_course_number }} | {{ $courseData.term }} {{ $courseData.year }} | {{ delimit $courseData.level ", " }}</span>
    <br>
    <a
      class="{{ $bannerClass }}"
      href="{{ $courseHomePage.RelPermalink }}"
    >{{ $courseData.course_title }}</a>
  </div>
</div>
