{{ $courseData := .context.Site.Data.course }}
{{ $inPanel := .inPanel }}
<div class="course-info">
  <div class="course-detail-title">
    Course Info
  </div>
  <div id="course-info" class="position-relative">

    <div class="row">
      <div class="col-12 col-sm-6">
        {{ with $courseData.instructors.content }}
          <div class="">
            {{ $instructors := partial "get_instructors.html" . }}
            <div class="text-muted">
              {{ if eq (len $instructors) 1 }}Instructor{{ else }}Instructors{{ end }}
            </div>
            <div class="course-info-content">
              {{ partial "partial_collapse_list.html" (dict "list" $instructors "id" "instructors" "key" "title" "klass" "course-info-instructor" "showCollapse" $inPanel) }}
            </div>
          </div>
        {{ end }}

        {{ with $courseData.department_numbers }}
          <div class="mt-4">
            {{ $departments := partial "get_departments.html" . }}
            <div class="text-muted">
              Departments
            </div>
            <div class="course-info-content">
              {{ partial "partial_collapse_list.html" (dict "list" $departments "id" "departments" "key" "title" "klass" "course-info-department" "useLinks" true) }}
            </div>
          </div>
        {{ end }}

      </div>
      {{ if not $inPanel }}
      <div class="col-12 col-sm-6">
        <div class="mt-4 mt-sm-0">
          <div class="text-muted">
            Topics
          </div>
          <div class="course-info-content">
            {{ partial "topics_oneline.html" . }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
