{{ $courseData := .context.Site.Data.course }}
{{ $inPanel := .inPanel }}
<div class="table-responsive course-info expand-container {{ if not $inPanel }}collapsed{{ end }}">
  <div class="course-info-expander">
    {{ if not $inPanel }}
    <a class="expand-link d-flex align-items-center text-decoration-none" aria-expanded="false" href="#">
      <h4 class="course-info-title font-weight-bold d-inline m-0">Course Info</h4>
      <span class="expander-arrow material-icons">keyboard_arrow_right</span>
    </a>
    {{ else }}
    <h4 class="course-info-title font-weight-bold">Course Info</h4>
    {{ end }}
  </div>
  <div class="position-relative">
    <div class="opaque-layer"></div>
    <table id="course-info-table" class="table table-borderless {{ if $inPanel }}border-bottom-gray{{ end }} mb-2">
      <tr>
        {{ $instructors := partial "get_instructors.html" $courseData.instructors.content }}
        <td class="pl-0">{{ if eq (len $instructors) 1 }}Instructor{{ else }}Instructors{{ end }}:</td>
        <td>
          {{ partial "partial_collapse_list.html" (dict "list" $instructors "id" "instructors" "key" "title" "klass" "course-info-instructor" "showCollapse" .inPanel) }}
        </td>
      </tr>
      <tr>
        <td class="pl-0">Course Number:</td>
        <td>{{ partial "partial_collapse_list.html" (dict "list" ((slice $courseData.primary_course_number) | append (split $courseData.extra_course_numbers ",")) "id" "course_numbers" "useLinks" false) }}</td>
      </tr>
      <tr>
        <td class="pl-0">Departments:</td>
        <td>
          {{ $departments := partial "get_departments.html" $courseData.department_numbers }}
          {{ partial "partial_collapse_list.html" (dict "list" $departments "id" "departments" "key" "title" "klass" "course-info-department" "useLinks" true) }}
        </td>
      </tr>
      {{ if not $inPanel }}
      <tr>
        <td class="pl-0">Topics:</td>
        <td>
          {{ partial "topics_oneline.html" . }}
        </td>
      </tr>
      {{ end }}
      <tr>
        <td class="pl-0 text-nowrap">As Taught In:</td>
        <td>
          {{ $courseData.term }}
        </td>
      </tr>
      <tr>
        <td class="pl-0 pb-3">Level:</td>
        <td>
          {{ $levelSearchUrl := partial "get_search_url.html" (dict "key" "level" "value" $courseData.level) }}
          <a href="{{ $levelSearchUrl }}" class="course-info-level">
            {{ $courseData.level }}
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

