{{ $courseId := .context.Params.course_id }}
{{ $courseData := .context.Site.Data.course }}
{{ $inPanel := .inPanel }}
<div class="course-home-section w-100 {{ if $inPanel }}in-panel{{ else }}bg-light{{ end }}">
  <div class="container px-0 mx-0">
    <h4 class="course-info-title font-weight-bold">Course Features</h4>
    <div class="d-flex flex-direction-row justify-content-between">
      {{ range $courseData.course_features }}
        {{ partial "course_feature.html" . }}
      {{ end }}
    </div>
  </div>
</div>
