{{ $courseData := .Site.Data.course }}
<div class="instructor-and-number">
  <table class="table table-borderless mb-2">
    <tr>
      <td class="px-2 py-2">Instructor(s)</td>
      <td class="px-2 py-2">
        {{- range $index, $instructor := $courseData.instructors -}}
        {{- if $index -}},&nbsp;{{- end -}}
        <a class="px-0 pr-1 course-info-instructor" href="#">
          {{- $instructor -}}
        </a>
        {{- end -}}
      </td>
    </tr>
    <tr>
      <td class="px-2 py-2">Course No.</td>
      <td class="px-2 py-2">
        {{- $courseData.primary_course_number -}},&nbsp;
        {{- range $index, $course_number := $courseData.extra_course_numbers -}}
        {{- if $index -}},&nbsp;{{- end -}}
        {{- $course_number -}}
        {{- end -}}
      </td>
    </tr>
  </table>
</div>
