{{ $instructors := slice }}
{{ range . }}
  {{ $staticApiBaseUrl := getenv "STATIC_API_BASE_URL" }}
  {{ $url := (print (strings.TrimSuffix "/" $staticApiBaseUrl) "/instructors/" . "/index.json") }}
  {{ with resources.GetRemote $url }}
    {{ with .Err }}
      {{ errorf "Something went wrong while fetching instructors on %v via %v with error: %v" site.BaseURL $url . }}
    {{ else }}
      {{ $data := (. | unmarshal).data }}
      {{ $searchUrl := partial "get_search_url.html" (dict "key" "instructors" "value" (title $data.title)) }}
      {{ $instructor := merge $data (dict "url" $searchUrl) }}
      {{ $instructors = $instructors | append $instructor }}
    {{ end }}
  {{ else }}
    {{ errorf "Failed to fetch course instructors through %v on %v" $url site.BaseURL }}
  {{ end }}
{{ end }}
{{ return $instructors }}
