{{- $imageHref := "" -}}
{{- if .Params.href -}}
    {{- $imageHref = .Params.href -}}
{{- else if .Params.href_uuid -}}
    {{- range where $.Site.Pages "Params.uid" .Params.href_uuid -}}
        {{- $imageHref = .Permalink -}}
    {{- end -}}
{{- end -}}

{{- if $imageHref -}}
    <a href="{{- $imageHref -}}" target="_blank">
{{- end -}}
{{- $metadata := .Params.image_metadata | default dict -}}
<img src="{{ partial "resource_url" .Params.file }}" {{ if index $metadata "image-alt" -}}alt="{{ index $metadata "image-alt" }}"{{- end }} />
{{- if $imageHref -}}
    </a>
{{- end -}}
