<div class="learning-resource-type-item">
  <div class="d-flex">
    <i class="material-icons pr-1">
      {{- if eq . "Course Introduction" -}}
      groups
      {{- else if in . "Audio" -}}
      equalizer
      {{- else if in . "Video" -}}
      theaters
      {{- else if or (in . "Problem Sets") (in . "Assignment") -}}
        {{- if or (in . "with Examples") (in . "with Solutions") -}}
        assignment_turned_in
        {{- else -}}
        assignment
        {{- end -}}
      {{- else if in . "Exams" -}}
      grading
      {{- else if eq . "Image Gallery" -}}
      collections
      {{- else if eq . "Lecture Notes" -}}
      notes
      {{- else if eq . "Online Textbook" -}}
      menu_book
      {{- else if in . "Projects" -}}
      group_work
      {{- else if in . "Simulations" -}}
      laptop_windows
      {{- else if in . "Instructor Insights" -}}
      <span class="material-icons-round">
        co_present
      </span> 
      {{- end -}}
    </i>
    <span>
      {{- . -}}
    </span>
  </div>
</div>
