{{ $courseData := .context.Site.Data.course }}
{{ $inPanel := .inPanel }}

{{ if gt (len ($courseData.learning_resource_types | default slice)) 0 }}
<div class="">
  <div class="course-detail-title {{ if $inPanel }}panel-course-info-title mt-4{{ end }}">
    Learning Resource Types
  </div>
  <div>
    <div class="row">
      {{ range $courseData.learning_resource_types }}
        <div class="{{ if $inPanel }}panel-course-info-text{{ end }} m-2">
          {{ partial "learning_resource_type.html" . }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{end}}
