{{ $courseData := .Site.Data.course }}
{{ $openLearningLibraryVersions := $courseData.open_learning_library_versions }}
{{ if gt (len $openLearningLibraryVersions) 0}}
<div class="course-home-section w-100">
  <div class="container px-0 mx-0">
    <h4 class="course-info-title font-weight-bold">INTERACTIVE ASSESSMENTS WITH OPEN LEARNING LIBRARY</h4>
    <p>Other versions of this course on MIT Open Learning Library have interactive assessments and progress tracking to better support independent learning.</p>
    <ul class="other-version-list list-unstyled">
    {{ range $openLearningLibraryVersions }}
    <li>{{ . | markdownify }}</li>
    {{ end }}
    </ul>
  </div>
</div>
{{ end }}
