{{ $courseId := .Params.course_id }}
{{ $courseData := .Site.Data.course }}
{{ $otherVersionsText := .Params.other_versions_text }}
<div class="course-features w-100 bg-light">
  <div class="container px-0 mx-0">
    <h4 class="course-info-title font-weight-bold">OTHER {{ index $courseData.course_numbers 0  }} OFFERINGS ON OPENCOURSEWARE</h4>
    <p>OCW has multiple versions of this course as taught in different terms by different faculty, each with distinct materials and pedagogy:</p>
    {{ $otherVersionsText | markdownify }}
  </div>
</div>
