<div class="container">
  <div class="row">
    <div>
      {{ if not .hideThumbnail }}
        {{- $thumbnailSrc := partial "get_resource_thumbnail_src.html" (dict "resourceType" .params.resourcetype) -}}
        <img
          class="resource-thumbnail"
          src="{{- $thumbnailSrc -}}"
        />
      {{ end }}

      {{ if not .hideDownloadIcon }}
        {{- $downloadableLink := partial "get_resource_download_link.html" .params -}}
          <span class="pr-2">
            {{ if $downloadableLink }}
              <a href="{{- $downloadableLink -}}" target="_blank" download>
                <img
                  class="resource-download"
                  src="/images/download.svg"
                />
              </a>
            {{ end }}
          </span>
      {{ end }}
    </div>
    <div>
      <div class="pt-2">
      <a class="resource-list-title" href="{{ .permalink }}">
        {{ .params.title }}
      </a>
      </div>
    </div>
  </div>
</div>
