{{ $courseData := .context.Site.Data.course }}
<ul class="list-unstyled pb-2 m-0">
{{ range $topicGroup := $courseData.topics }}
  <li>
    {{ range $index, $item := $topicGroup }}
      {{ $topicUrl := partial "get_search_url.html" (dict "key" "topic" "value" (title $item)) }}
      {{- partial "link.html" (dict "href" $topicUrl "class" "text-black course-info-topic" "text" $item "stripLinkOffline" true) -}}
      {{ if ne $index (sub (len $topicGroup) 1) }}>{{ end }}
    {{ end }}
  </li>
{{ end }}
</ul>
