{{ $youtubeKey := .Params.video_metadata.youtube_id }}
{{ $captionsLocation := .Params.video_files.video_captions_file }}
{{ $transcriptPdfLocation := .Params.video_files.video_transcript_file }}
{{ $downloadLink := .Params.file }}
{{ $relatedResourses := .Params.related_resources_text | default "" }}
{{ $optionalTabTitle := .Params.optional_tab_title | default "" }}
{{ $optionalTabContent := .Params.optional_text | default ""}}
{{ if (eq $downloadLink nil) }}
{{ $downloadLink = .Params.video_files.archive_url }}
{{ else }}
{{ $downloadLink =  partial "resource_url" $downloadLink  }}
{{ end }}

<div class="video-page">
  <div class="description">
    {{ .Params.about_this_resource_text | safeHTML }}
  </div>
  {{ partial "youtube_player.html" (dict "youtubeKey" $youtubeKey "captionsLocation" $captionsLocation)}}
  <div class="video-buttons-container">
	{{ if  $transcriptPdfLocation}}
	  <div class="video-download-container">
	    <a class="download-file video-download-button" href="{{ $transcriptPdfLocation }}"><span class="material-icons">file_download</span> Download Transcript</a>
	  </div>
	{{end}}
	{{ if  $downloadLink }}
	  <div class="video-download-container">
	    <a class="download-file video-download-button" href="{{ $downloadLink }}"><span class="material-icons">file_download</span> Download Video</a>
	  </div>
	{{end}}
	</div>

  {{if $captionsLocation}}
  <div class="transcript-box">
  	<div class="tab-header">
	   	<span>
	       Transcript
	    </span>
	    <a class="transcript-section-toggle course-nav-section-toggle"
	      href=".transcript"
	      data-toggle="collapse"
	      aria-controls="transcript"
	      aria-expanded="">
	      <i class="material-icons md-18"></i>
	    </a>
	</div>
	<div class="transcript collapse"></div>
  </div>
  <div class="tab-footer"></div>
  {{end}}
  {{if $relatedResourses }}
  <div class="related-resource-box">
  	<div class="tab-header">
	   	<span>
	       Releated Resources
	    </span>
	    <a class="transcript-section-toggle course-nav-section-toggle"
	      href=".related-resource"
	      data-toggle="collapse"
	      aria-controls="related-resource"
	      aria-expanded="">
	      <i class="material-icons md-18"></i>
	    </a>
	</div>
	<div class="related-resource  tab-content collapse">
		{{ .Page.RenderString $relatedResourses}}
	</div>
  </div>
  <div class="tab-footer"></div>
  {{end}}
  {{if and $optionalTabTitle $optionalTabContent }}
  <div class="related-resource-box">
  	<div class="tab-header">
	   	<span>
	       {{ $optionalTabTitle }}
	    </span>
	    <a class="transcript-section-toggle course-nav-section-toggle"
	      href=".related-resource"
	      data-toggle="collapse"
	      aria-controls="related-resource"
	      aria-expanded="">
	      <i class="material-icons md-18"></i>
	    </a>
	</div>
	<div class="related-resource  tab-content collapse">
		{{ .Page.RenderString $optionalTabContent}}
	</div>
  </div>
  <div class="tab-footer"></div>
  {{end}}
</div>
