{{ $youtubeKey := .Params.video_metadata.youtube_id }}
{{ $captionsLocation := .Params.video_files.video_captions_file }}
{{ $transcriptPdfLocation := .Params.video_files.video_transcript_file }}
{{ $downloadLink := .Params.file }}
{{ if (eq $downloadLink nil) }}
{{ $downloadLink = .Params.video_files.archive_url }}
{{ end }}

<div class="video-page">
  <div class="description">
    {{ .Params.about_this_resource_text | safeHTML }}
  </div>
  {{ partial "youtube_player.html" (dict "youtubeKey" $youtubeKey "captionsLocation" $captionsLocation)}}
  <div class="video-buttons-container">
	{{ if  $transcriptPdfLocation}}
	  <div class="video-download-container">
	    <a class="download-file video-download-button" href="{{ $transcriptPdfLocation }}"><span class="material-icons">file_download</span> Download Transcript</a>
	  </div>
	{{end}}
	{{ if  $downloadLink }}
	  <div class="video-download-container">
	    <a class="download-file video-download-button" href="{{ partial "resource_url" $downloadLink }}"><span class="material-icons">file_download</span> Download Video</a>
	  </div>
	{{end}}
	</div>

  {{if $captionsLocation}}
  <div class="transcript-box">
  	<div class="transcript-header">
	   	<span>
	       Transcript
	    </span>
	    <a class="transcript-section-toggle course-nav-section-toggle"
	      href=".transcript"
	      data-toggle="collapse"
	      aria-controls="transcript"
	      aria-expanded="">
	      <i class="material-icons md-18"></i>
	    </a>
	</div>
	<div class="transcript collapse show"></div>
  </div>
  <div class="transcript-footer"></div>
  {{end}}
</div>
