{{ $youtubeKey := .Params.video_metadata.youtube_id }}
{{ $captionsLocation := .Params.video_files.video_captions_file }}
{{ $uid := .Params.uid }}
{{ $downloadLink := .Params.file }}
{{ if (eq $downloadLink nil) }}
{{ $downloadLink = .Params.video_files.archive_url }}
{{ else }}
{{ $downloadLink =  partial "resource_url" $downloadLink  }}
{{ end }}

{{ partial "youtube_player.html" (dict "youtubeKey" $youtubeKey "captionsLocation" $captionsLocation) }}
{{- range where $.Site.Pages "Params.uid" $uid -}}
	<div class="video-buttons-container">
    <div class='video-page-link'>
      <a href="{{- .Permalink -}}">View Video Page</a>
      <i class="material-icons video-page-link-icon">chevron_right</i>
    </div>
   	{{ if  $downloadLink }}
	  <div class="video-download-container">
	    <a class="download-file video-download-button" href="{{ partial "resource_url" $downloadLink }}"><span class="material-icons">file_download</span> Download Video</a>
	  </div>
	{{end}}
  </div>
{{- end -}}
