<div class="video-container">
  <video
    id="video-player"
    class="video-js vjs-default-skin vjs-big-play-centered vjs-ocw"
    controls
    data-setup='{
    "fluid": true,
    "techOrder": ["youtube"],
    "sources": [{"type": "video/youtube", "src": "https://www.youtube.com/embed/{{ .youtubeKey }}"}]}'
  >
      {{ if .captionsLocation }}
        <track kind="captions" src="{{ .captionsLocation }}" srclang="en" label="English" default>
      {{ end }}
  </video>
  {{ if .captionsLocation }}
        <track kind="captions" src="{{ .captionsLocation }}" srclang="en" label="English" default>
  {{ end }}
</div>
{{ if  .transcriptPdfLocation}}
  <div class="video-buttons-container">
    <div class="col-6 download-transcript-container">
      <a class="download-file download-transcript-button" href="{{ .transcriptPdfLocation }}"><span class="material-icons">file_download</span> Download Transcript</a>
    </div>
  </div>
{{end}}