{{ define "main" }}
<div>
  {{ block "header" . }}
  {{ $renderSearchIcon := index .Params "renderSearchIcon" | default true }}
  {{ partial "header" . $renderSearchIcon }}
  {{ end }}
</div>
<div class="search-wrapper">
  <div class="search-page row justify-content-center">
    <div class="search-results-area col-12 py-4">
      {{ $websites := where site.Pages ".Params.content_type" "==" "website" }}
      {{ $sortedWebsites := partial "sort_websites_by_course_number.html" $websites }}
      {{ $paginator := .Paginate $sortedWebsites }}
      <section class="m-auto px-8">
      {{ range $paginator.Pages }}
      {{ $pathToRoot := strings.TrimSuffix "/" (partial "path_to_root.html" $paginator.URL) }}
      {{ $urlPath := strings.TrimPrefix "/" .Params.url_path }}
      {{ $url := printf "%s/%s/index.html" $pathToRoot $urlPath }}
        <article>
          <div class="card learning-resource-card compact-view">
            <div class="card-contents">
              <div class="lr-info search-result">
                <div class="col-2 course-num">
                  {{ upper .Params.primary_course_number }}
                </div>
                <div class="course-title">
                  <a href="{{ $url }}">{{ .Title }}</a>
                </div>
                <div class="col-2 resource-level">
                {{ if .Params.level }}
                  {{ delimit .Params.level ", " }}
                {{ end }}
                </div>
              </div>
            </div>
          </div>
        </article>
      {{ end }}
        <div class="px-3 py-4">
          {{ partial "pagination.html" (dict "page" . "format" "default") }}
        </div>
      </section>
    </div>
  </div>
</div>
{{ end }}
