{{ define "main" }}
<div>
  {{ block "header" . }}
  {{ $renderSearchIcon := index .Params "renderSearchIcon" | default true }}
  {{ partialCached "header" . $renderSearchIcon }}
  {{ end }}
</div>
<div class="row justify-content-center pt-5">
  <div class="col-7">
    {{ $websites := where site.Pages.ByTitle "Section" "websites" }}
    {{ $paginator := .Paginate $websites }}
    {{ template "_internal/pagination.html" . }}
    <div>
    {{ range $paginator.Pages }}
    {{ $pathToRoot := strings.TrimSuffix "/" (partial "path_to_root.html" $paginator.URL) }}
    {{ $urlPath := strings.TrimPrefix "/" .Params.url_path }}
    {{ $url := printf "%s/%s/index.html" $pathToRoot $urlPath }}
      <div class="card learning-resource-card list-view">
        <div class="card-contents">
          <div class="lr-info search-result has-min-height">
            <div class="lr-row resource-header">
              <div class="resource-type">
                {{ upper .File.BaseFileName }}
                {{ if .Params.level }}
                  &nbsp;|&nbsp;{{ delimit .Params.level ", " }}
                {{ end }}
              </div>
            </div>
            <div class="lr-row course-title">
              <a href="{{ $url }}" class="w-100">{{ .Title }}</a>
            </div>
            {{ with .Params.instructors.content }}
            <div class="lr-row subtitles">
              {{ $instructors := partial "get_instructors.html" . }}
              {{ range $instructors }}
              <div class="lr-row subtitle">
                <div class="content">
                  {{ .title }}
                </div>
              </div>
              {{ end }}
            </div>
            {{ end }}
            {{ with .Params.topics }}
            {{ $topics := partial "hierarchical_select_as_map.html" . }}
            <div class="lr-row subtitles">
              <div class="lr-subtitle listitem topics-list">
                <div class="content">
                  {{ range $topic, $subtopics := $topics }}
                  <span class="topic-link">
                    {{ $topic }}
                  </span>
                  {{ end }}
                </div>
              </div>
            </div>
            {{ end }}
          </div>
          {{ with .Params.url_path }}
          <div class="cover-image">
            {{ $courseData := partial "get_site_metadata.html" . }}
            {{ range $key, $value := $courseData }}
            {{ if eq $key "image_src" }}
            <a href="{{ $url }}">
              <img src="{{ partial "resource_url.html" (dict "context" . "url" $value) }}" height="130">
            </a>
            {{ end }}
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</div>
{{ end }}
