.carousel:not(.promo-carousel) {
  max-width: $max-home-width;
  width: 100%;

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    // this is display: block in bootstrap but we want to have cards laid out properly
    display: flex;
  }

  .carousel-inner {
    max-width: $max-home-width;
    width: 100%;

    .carousel-item {
      margin-left: 0;
    }
  }

  .carousel-header {
    max-width: $max-home-width;
    margin: 0;
    align-items: center;

    h2,
    h3 {
      margin: 0;
      padding: 0;
    }

    a {
      border: 1px solid $medium-gray;
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin-left: 8px;
      padding: 6px;
      height: 38px;

      @include media-breakpoint-down(xs) {
        font-size: $font-xs;
      }

      span {
        display: inline;
      }

      &.prev,
      &.next {
        text-decoration: none;
      }

      @include media-breakpoint-down(xs) {
        &.next {
          padding: 6px 2px 6px 10px;
        }

        &.prev {
          padding: 6px 10px 6px 2px;
        }
      }
    }
  }

  .item-wrapper {
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
  .item-wrapper.testimonial-link {
    max-width: 411px;
    border-radius: 10px;
    border: 1px solid var(--Border-Grey, #dfe5ec);
    background: #fff;

    /* Shadow */
    box-shadow: 0px 2px 10px 0px rgba(120, 169, 197, 0.15);

    // 801px - 991px (tablet)
    @include breakpoint(tablet) {
      max-width: 470.5px;
    }
    // 768px - 800px (mobile)
    @include breakpoint(mobile) {
      max-width: 335px;
    }
    // <= 767px (sm-mobile)
    @include breakpoint(sm-mobile) {
      max-width: 650px;
    }
  }
}
.item-wrapper.testimonial-link:hover {
  border: 1px solid #a31f34 !important;
}
.item-wrapper.testimonial-link {
  padding: 0 10px;
  // max-width: 411px;
  border-radius: 10px;
  border: 1px solid var(--Border-Grey, #dfe5ec);
  background: #fff;

  /* Shadow */
  box-shadow: 0px 2px 10px 0px rgba(120, 169, 197, 0.15);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
  // // 801px - 991px (tablet)
  // @include breakpoint(tablet) {
  //   max-width: 470.5px;
  // }
  // // 768px - 800px (mobile)
  // @include breakpoint(mobile) {
  //   max-width: 335px;
  // }
  // // <= 767px (sm-mobile)
  // @include breakpoint(sm-mobile) {
  //   max-width: 650px;
  // }
}
.share-story-text {
  @include breakpoint(desktop) {
    margin-right: 70px;
  }
}
.quotation-btn {
  position: relative;
  // padding: 20px 50px;
}

.quotation-btn::before {
  content: "”";
  position: absolute;
  right: -4px;
  top: -0.64rem;
  color: white;
  color: var(--white, var(--white-mit-brand, #fff));
  font-family: Arial;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.testimonial-title.quote {
  position: relative;
  // padding: 20px 50px;
}

.testimonial-title.quote::before {
  content: "“";
  position: absolute;
  // right: 1px;
  left: 1.1rem;
  top: -3rem;
  font-family: Arial;
  color: var(--Red-Brand, var(--Red, #a31f34)) !important;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.testimonial-image-wrapper {
  position: relative;
  width: 100%;
  // max-width:391px;
  padding-top: 56.25%; // 16:9 aspect ratio

  .testimonial-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // max-height:197px;
    object-fit: cover;
    border-radius: 5px;
  }
}
.story-body div {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quote-body div.content {
  // background-color: purple;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid var(--DarkBorder, #9c9d9e);
  padding-left: 20px;
  align-self: stretch;
  color: #000;
  text-overflow: ellipsis;
  font-family: Arial;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
div.content {
  margin-bottom: 20px;
}
.modal-body .quote-body {
}
.modal-body .quote-body div.content.testimonial-modal {
  // padding: 0px 20px;
  margin: 0px;
}

.view-all-stories-btn:hover {
  color: white !important;
  background: #a31f34 !important;

  img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7486%)
      hue-rotate(142deg) brightness(96%) contrast(103%);
  }

  // .view-all-stories-arrow {
  //   fill: #fff;
  //   background:white !important;
  // }
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}
.modal-dialog-centered::before {
  display: block !important;
  height: calc(100vh - 3.5rem) !important;
  height: -webkit-min-content !important;
  height: -moz-min-content !important;
  height: min-content !important;
}
.modal {
  display: block !important;
  opacity: 0;
  visibility: hidden;
  position: fixed !important;
  z-index: 1050 !important;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
