.carousel:not(.promo-carousel) {
  max-width: $max-home-width;
  width: 100%;

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    // this is display: block in bootstrap but we want to have cards laid out properly
    display: flex;
  }

  .carousel-inner {
    max-width: $max-home-width;
    width: 100%;

    .carousel-item {
      margin-left: 0;
    }
  }

  .carousel-header {
    &:not(.stories-carousel-header) {
      max-width: $max-home-width;
    }
    margin: 0;
    align-items: center;

    h2,
    h3 {
      margin: 0;
      padding: 0;
    }

    a {
      border: 1px solid $medium-gray;
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin-left: 8px;
      padding: 6px;
      height: 38px;

      @include media-breakpoint-down(xs) {
        font-size: $font-xs;
      }

      span {
        display: inline;
      }

      &.prev,
      &.next {
        text-decoration: none;
      }

      @include media-breakpoint-down(xs) {
        &.next {
          padding: 6px 2px 6px 10px;
        }

        &.prev {
          padding: 6px 10px 6px 2px;
        }
      }
    }
  }

  .item-wrapper {
    padding: 0 8px;
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
  .item-wrapper.testimonial-link {
    border-radius: 10px;
    border: 1px solid $border-gray-testimonial;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(120, 169, 197, 0.15);

    // 801px - 991px (tablet)
    @include breakpoint(tablet) {
      max-width: 470.5px;
    }
    // 768px - 800px (mobile)
    @include breakpoint(mobile) {
      max-width: 335px;
    }
    // <= 767px (mobile-sm)
    @include breakpoint(mobile-sm) {
      max-width: 650px;
    }
  }
}
.item-wrapper.testimonial-link:hover {
  border: 1px solid #a31f34 !important;
}
.item-wrapper.testimonial-link {
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid $border-gray-testimonial;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(120, 169, 197, 0.15);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  background: none;
  opacity: 1;
}

.carousel-control-prev .material-icons,
.carousel-control-next .material-icons {
  font-size: 3.75rem;
  color: inherit;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.carousel-control-prev {
  left: auto;
}

.carousel-control-next {
  right: auto;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

.hidden-modal-content {
  display: none;
}

.modal-dialog {
  max-width: 600px;
  margin: 1rem auto;
}

.modal-body {
  padding: 10px;
}

.home-testimonials {
  .carousel {
    &.slide {
      max-width: 1447px !important;
    }

    .carousel-header {
      margin-bottom: 40px;
      @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
      }
      h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 20px;
        @include media-breakpoint-down(xs) {
          line-height: 40px;
        }
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        margin: 0;
      }

      p {
        text-align: center;
      }
    }

    .carousel-section {
      .prev,
      .next {
        font-size: 3.75rem !important;
      }
    }

    .carousel-inner {
      padding: 0;
    }
  }
}
