.on-page-sub-nav {
  .navbar-current-active {
    color: black;
    font-weight: bold;
  }

  .nav-link {
    color: $black !important;
  }

  .navbar-toggler {
    border: none;
  }

  ul {
    li {
      a {
        color: black;
        font-weight: bold;
        text-decoration: none;
      }

      .active {
        color: $highlight-red !important;
      }
    }
  }
}
