#contact-main-section {
  .row {
    margin-top: 2%;
  }

  .faq-section {
    .faq {
      margin-top: 5% !important;
      margin-bottom: 5% !important;
    }

    .question {
      margin-bottom: 1% !important;
    }
  }
}
