.course-collection {
  .transparent-background-light {
    background-color: $transparency-gray-light;
  }

  .course-collection-section {
    gap: 16px;

    a {
      text-decoration: none;
    }
    .collection-item {
      min-width: 100px;
      text-align: center;
      border: 1px solid $tab-border-color;
      background-color: white;
      border-radius: 40px;
      padding: 12px 17px 12px 17px;

      p {
        margin: 0;
        font-size: 16px;
      }
    }
  }
}
