#educator-main-section {
  background-repeat: no-repeat;
  background-position: top right;

  // temporary
  .bs {
    border: 1px solid black;
  }
  // temporary

  .section {
    margin-top: 5%;
  }

  .section-content{
    font-size: 24px;
    color: $black;
    letter-spacing: 0;
    line-height: 38px;
    margin-top: 2%;
  }
  
  .section-gruber-quote {
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .quote-main {
      height: 103px;
      width: 721px;
      text-align: center;

      .quote {
        color: $white;
        font-size: 42px;
        letter-spacing: -2px;
        line-height: 48px;
      }

      .author {
        color: #AEA7A7;
        font-size: 18px;
      }

      .chalk-radio {

        color: $white;
        font-family: Cardo;
        font-size: 22px;
        letter-spacing: -1.05px;
      }

    }

  }

  .discover-eor-content {

    .heading {
      font-weight: bold;
    }

    .text {
      font-size: 18px;
      margin-top: 4%;
      line-height: 25px;
    }

  }


 
}
