$spacer1: map-get($spacers, 1);
$spacer2: map-get($spacers, 2);
$spacer3: map-get($spacers, 3);
$spacer4: map-get($spacers, 4);
$spacer5: map-get($spacers, 5);
$spacer6: map-get($spacers, 6);
$spacer7: map-get($spacers, 7);
$spacer8: map-get($spacers, 8);

$searchbox-height: 50px;

.home-page-content {
  .container {
    @include breakpoint(mobile) {
      width: 90%;
    }
  }
}

.view-all-link {
  color: $blue;
}

.home-banner {
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

  @include media-breakpoint-down(lg) {
    height: 550px;
  }

  @include media-breakpoint-down(md) {
    height: 480px;
  }

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  .banner-contents-container {
    max-width: $max-content-width;
    flex-direction: row;
    margin-top: $desktop-header-height;

    @include media-breakpoint-down(md) {
      margin-top: 0 !important;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      margin-top: 85px;
    }

    .first-column {
      max-width: 550px;
      width: 96%;
      flex-shrink: 2;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .discover {
        color: white;
      }

      div {
        padding: 0;
      }

      .search-box-wrapper {
        input,
        button,
        a {
          height: $searchbox-height;
        }

        @include media-breakpoint-down(sm) {
          button,
          a {
            height: 40px;
          }
        }

        button,
        a {
          border: none;
        }

        .home-search-box {
          flex-grow: 2;

          input {
            padding-left: 12px;
          }
        }

        input {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border: none;

          @include media-breakpoint-down(sm) {
            border-radius: 4px;
          }
        }

        @include media-breakpoint-up(md) {
          button.submit {
            background-color: $blue;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        .or {
          width: 50px;
          color: white;
          text-align: center;
          font-size: $font-sm;
        }

        a.explore {
          background-color: $highlight-red;
          text-decoration: none;
          display: flex;
          align-items: center;
          color: white;
        }
      }
    }

    .new-or-educator {
      background-color: rgba(0, 0, 0, 0.85);
      opacity: 0.81;

      .option.bordered {
        @include media-breakpoint-up(md) {
          border-right: 1px solid white;
        }

        @include media-breakpoint-down(sm) {
          border-bottom: 1px solid white;
        }
      }

      span {
        color: white;
      }

      a {
        text-decoration: underline;
        color: $link-blue;
      }
    }

    .unlock {
      background-color: rgba(18, 111, 154, 0.65);
      max-width: 550px;
      flex-shrink: 0;

      .unlocking {
        text-transform: uppercase;
        line-height: 40px;

        @include media-breakpoint-down(sm) {
          line-height: 22px;
        }
      }

      .free {
        line-height: 19px;
      }

      .learn-more {
        text-transform: uppercase;
        padding-top: 10px;
      }
    }
  }
}

.give-now-wrapper {
  background-color: $transparency-gray;
}

.give-now {
  max-width: 950px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  @include media-breakpoint-down(md) {
    padding: $spacer3 $spacer3 $spacer5;
  }

  @include media-breakpoint-up(lg) {
    padding: $spacer5 $spacer8;

    > div:not(:first-child) {
      padding-left: $spacer6;
    }
  }

  .give-button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    color: $orange;
    text-decoration: none;

    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: center;
    }

    div {
      padding: $spacer3 $spacer5;
    }

    img {
      height: 30px;
    }
  }
}

.social-cards-wrapper {
  background-color: $blue;
}

.social-cards {
  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .row {
    padding: 60px 80px;

    @include media-breakpoint-down(md) {
      padding: 30px 0;
    }
  }

  .social-card {
    .h5 {
      padding-bottom: $spacer1;
    }

    .social-icon-row {
      width: 225px;
    }

    > div {
      background-color: $white;
      border: 1px solid $medium-gray;
      border-radius: 5px;
      padding: $spacer4 $spacer6;

      @include media-breakpoint-down(md) {
        padding: $spacer4 $spacer4;
      }
    }

    .newsletter-form {
      .btn {
        background-color: $highlight-red;
        font-weight: bold;
      }

      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }

      @include media-breakpoint-up(xl) {
        flex-direction: row;
      }
    }
  }
}

.social-icon {
  width: 40px;
  height: 40px;
}

.course-cards {
  a {
    text-decoration: none;
  }

  .course-card {
    border: 1px solid $medium-gray;
    $radius: 10px;
    border-radius: $radius;
    height: 381px;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      height: 186px;
      border-radius: $radius $radius 0 0;
    }

    .course-level {
      text-transform: uppercase;
      color: $dark-gray;
    }

    .course-card-content {
      font-size: $font-xs;

      .course-card-title {
        @include line-clamp(1.5rem, 3, 0.25rem);
      }

      .course-card-instructors {
        @include line-clamp(1.125rem, 2, 0.25rem);
      }

      .course-card-topics {
        @include line-clamp(1.125rem, 2, 0.5rem);
      }

      .card-label {
        color: $dark-gray;
      }
    }
  }
}

.sponsors {
  max-width: $max-content-width;

  .sponsor {
    width: 180px;
    height: 45px;
  }
}

.home-testimonials {
  a.testimonial-link {
    text-decoration: none;
  }

  .testimonial {
    height: 280px;
    width: 280px;
    color: white;
    background-size: cover;

    .name {
      font-size: $font-lg;
    }

    .on-hover {
      display: none;
    }

    .name-occ {
      .occupation-location {
        font-size: $font-sm;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .name,
      .occupation-location {
        white-space: nowrap;
      }
    }
  }
}

.ocw-news {
  .item {
    width: 100%;
    background-size: cover !important;
    display: flex;
    align-items: flex-end;

    a {
      font-size: $font-lg;
      line-height: 24px;
      font-weight: bold;
    }
  }

  .carousel .item {
    height: 215px;
  }

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block !important;
  }

  .items-grid {
    height: 375px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .item {
      &.item-0 {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
      }

      &.item-1 {
        grid-row: 1;
        grid-column: 3;
      }

      &.item-2 {
        grid-row: 1;
        grid-column: 4;
      }

      &.item-3 {
        grid-row: 2;
        grid-column: 3 / 5;
      }
    }
  }
}

$promo-carousel-height: 200px;

.promo-carousel {
  max-height: $promo-carousel-height;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: $max-content-width;

  a {
    cursor: pointer;
    .material-icons {
      font-size: 3.75rem;
      font-weight: 200;
      color: $dark-gray;
    }
  }

  @include media-breakpoint-down(sm) {
    .carousel-item {
      transition-property: none !important;
    }
  }

  .carousel-section {
    height: $promo-carousel-height;

    @include media-breakpoint-down(xs) {
      padding-top: 5%;
    }
  }

  .carousel-indicators {
    margin-bottom: 0;
    bottom: -30px;

    li {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: none;
      background-color: #dee2e6;
    }
  }

  .carousel-content {
    max-width: 900px;
    max-height: $promo-carousel-height;

    .img-container {
      position: relative;
      width: 30%;
      max-height: $promo-carousel-height;

      @include media-breakpoint-down(xs) {
        display: none;
      }

      &::after {
        display: block;
        content: "";

        /* 16:9 aspect ratio */
        padding-bottom: 56.25%;
      }

      img {
        /* Image should match parent box size */
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .promo-info {
      width: 70%;

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }
}

.news-container {
  font-family: "Arial", sans-serif;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  height: 500px;

  @include breakpoint(ipad) {
    display: none;
  }

  .featured-news {
    width: 58.4%;
    position: relative;
    flex: 1 1 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include breakpoint(ipad) {
        height: 500px;
        width: 100%;
      }
    }

    .news-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(3, 21, 45, 0.8);
    }

    .featured-news-heading {
      color: $white;
      font-size: $featured-news-heading-font-lg;
      line-height: $featured-news-line-height-lg;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;

      @include media-breakpoint-down(md) {
        font-size: $featured-news-heading-font-md;
        line-height: $featured-news-line-height-md;
      }
      @include breakpoint(ipad) {
        font-size: $featured-news-heading-font-sm;
        line-height: $featured-news-line-height-sm;
      }
    }

    .featured-news-date {
      color: $white;
      font-size: $featured-news-date-font;
      line-height: $featured-news-date-line-height;
      padding-bottom: 7px;
    }

    .featured-news-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      h3 {
        margin: 0;
      }
      @include media-breakpoint-up(md) {
        padding: 40px 50px;
      }
      @include media-breakpoint-down(md) {
        padding: 30px;
      }
      @include breakpoint(ipad) {
        padding: 20px;
      }
    }
  }
  .news-card:hover {
    .news-card-title a,
    .news-card-title a:hover,
    .news-card-date {
      color: white;
    }
  }
}

.news-container.mobile {
  @include breakpoint(ipad) {
    display: flex;
  }
}

.news-sidebar {
  width: 42%;
  background-color: $news-sidear-bg-color;
  padding: 30px;
  color: $news-card-content-color;
  flex: 1 1 auto;

  @include media-breakpoint-down(md) {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .news-card:last-child {
    margin-bottom: 0px;
  }
  .news-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 168px;
      height: 94px;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
      margin-right: 10px;
    }

    .news-card-content {
      position: relative;
      bottom: 2px;
      left: 1px;
    }

    .news-card-title {
      font-size: 16px;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;

      h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin: 0;
        @include media-breakpoint-down(md) {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .news-card-title a,
    .news-card-date {
      color: $news-card-content-color;
      transition: color 0.3s ease;

      @include media-breakpoint-down(md) {
        color: $news-card-content-color;
      }
    }

    .news-card-date {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 821px) {
  .news-container.mobile {
    display: none;
  }

  #news-carousel-xs-sm {
    display: none;
  }
}

#news-carousel-xs-sm {
  .carousel-header {
    margin-bottom: 1.25rem;
  }
}

.ocw-news-main-heading {
  @include breakpoint(ipad) {
    display: none;
  }
}
