.learning-resource-card {
  width: initial;
  margin-bottom: 0;
  cursor: initial;

  .learning-resource-icon .icon-tooltip-text {
    margin-left: -35px;
  }

  .content {
    width: 100%;
  }

  .more {
    display: inline-flex;
  }

  .topics-list {
    .topic-link {
      border-radius: 4px;
      background-color: #f5f5f5;
      padding: 3px;
      margin-top: 3px;
    }

    .more {
      padding: 3px;
    }
  }

  .title-subtitle {
    .course-title {
      font-size: $font-md;
      font-weight: bold;
    }

    .subtitles {
      font-size: $font-sm;
    }
  }

  &.borderless {
    .lr-info {
      padding: 16px;
      min-height: 160px;
    }

    .cover-image img {
      border-radius: 5px 5px 0 0;
    }
  }

  &.list-view {
    .lr-info {
      min-height: 130px;
    }

    .card-contents {
      display: flex;
      @include breakpoint(phone) {
        display: block;
      }

      .cover-image-resource,
      .cover-image-video,
      .cover-image {
        @include breakpoint(phone) {
          display: none;
        }

        position: relative;

        img {
          object-fit: scale-down;
        }
      }

      .cover-image-resource {
        height: 37px;
        img {
          height: 37px;
          padding-right: 10px;
          margin-top: 11px;
        }
      }

      .cover-image-video {
        height: 74px;
        margin-bottom: 11px;

        img {
          height: 74px;
          padding-right: 10px;
          margin-top: 11px;
        }

        .video-play-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.8;
          object-fit: scale-down;
          height: 30px;
          width: auto;
        }
      }
    }

    .lr-info {
      display: flex;
      flex-direction: column;
      min-width: 64%;
      width: 64%;

      @include breakpoint(phone) {
        width: 100%;
      }

      .start-date-favorite {
        margin-top: 12px;
      }

      .course-title {
        min-height: 0;
        margin: 0;
        margin-top: 6px;
        margin-bottom: 10px;
      }

      .subtitle {
        margin-bottom: 6px;
      }
    }

    .resource-topics-div {
      display: flex;
      flex-direction: column;
      min-width: 45%;
      width: 45%;
      padding-left: 20px;
      padding-right: 10px;

      @include breakpoint(phone) {
        width: 100%;
        min-width: 100%;
        display: block;
        padding-left: 0px;
      }

      .more {
        width: 100%;
        float: left;
      }
    }
  }

  .cover-image {
    height: 144px;
    cursor: pointer;
    position: relative;
    width: 34%;

    img {
      object-fit: scale-down;
      max-height: 144px;
      max-width: 144px;
    }

    a {
      float: right;
    }
  }

  .lr-row {
    display: flex;

    &.subtitles {
      min-height: 30px;
      flex-direction: column;

      &.lr-subheader {
        font-size: $font-normal;
      }

      .subtitle {
        margin-bottom: 5px;

        .lr-subtitle {
          font-size: $font-sm;
          width: 100%;
          display: flex;

          a {
            color: black;
            text-decoration: none;

            &:hover {
              color: black;
              text-decoration: underline;
            }
          }

          .gray {
            color: $dark-gray;
            padding-right: 10px;
            min-width: fit-content;
          }
        }

        .lr-subtitle.listitem a {
          margin-right: 10px;
        }
      }
    }

    &.resource-header {
      .resource-type,
      .resource-type a {
        font-size: $font-sm;
        color: rgb(163, 31, 52);
        text-transform: uppercase;
        font-weight: bold;
      }

      img {
        height: 20px;
        padding-left: 15px;
      }
    }

    &.course-title {
      margin: 10px 0;
      margin-top: 2px;
      min-height: 62px;
      font-size: $font-md;
      color: black;
      font-weight: 500;
      cursor: pointer;
    }

    &.start-date-favorite {
      justify-content: flex-start;
      margin-top: 25px;

      .start-date {
        font-size: $font-xs;
        padding-right: 10px;
        cursor: default;

        i {
          font-size: $font-xs;
          margin-right: 4px;
          padding: 2px;
        }
      }

      .favorite {
        margin-left: auto;
        cursor: pointer;
        padding: 2px 8px;

        i {
          color: $blue;
          font-size: $font-sm;
          padding: 2px;
        }
      }
    }
  }
}

.learning-resource-card-resource.list-view {
  .lr-info {
    min-width: 55%;
    width: 55%;
    min-height: 90px;

    .lr-row.resource-header {
      .resource-type,
      .resource-type a {
        text-transform: none;
        font-weight: normal;
      }
    }

    @include breakpoint(phone) {
      width: 100%;
      min-width: 100%;
      min-height: 0px;
    }
  }
}

.lr-portrait-loader {
  height: 354px;
}
