.page-single {
  max-width: $max-content-width;
  margin: 0 auto;

  .page-title {
    color: $white;
    background-color: $blue;

    @include media-breakpoint-up(lg) {
      padding: 3.5rem 5rem;

      .title-text {
        max-width: $max-content-width;
        font-size: 3rem;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }

  ol,
  ul,
  dl {
    margin: 2rem 0;
  }

  .max-content-width {
    padding: 0 3rem;
    max-width: $max-content-width;
  }

  .navbar-nav.max-content-width {
    padding: 0 1rem 0 0;
  }
}

.h-100v {
  height: 100vh;
}

h2 {
  margin-top: 5rem;
}
