@import "../../../base-theme/assets/css/imports/reset";
@import "../../../base-theme/assets/css/bootstrap-overrides";
@import "../../../base-theme/assets/css/breakpoints";
@import "../../../base-theme/assets/css/variables";
@import "learning-resource-card";
@import "card";
@import "search-filter";

.search-wrapper {
  a {
    color: black;
  }

  .search-nav {
    background-color: transparent;
    border: initial;

    &.active {
      font-weight: bold;
      text-decoration: underline rgb(163, 31, 52) solid 4px;
      text-underline-offset: 5px;
    }

    font-size: $font-normal;
    text-transform: uppercase;
  }

  .search-box-description {
    font-size: $font-md;
    font-weight: lighter;
    letter-spacing: 0.8px;
    color: rgb(163, 31, 52);
    @include breakpoint(phone) {
      font-size: $font-md;
    }
  }

  .search-box-inner {
    margin-bottom: 0;
  }

  .search-page .search-box-inner h1 {
    @include breakpoint(phone) {
      font-size: $font-lg;
    }
  }

  .results-total {
    font-size: $font-sm;
    padding-right: 20px;
    .results-total-number {
      font-weight: bold;
    }
  }

  .sort-dropdown {
    height: 41px;
    width: 177px;
    padding-left: 4px;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #ffffff;
  }

  form.search-box {
    input {
      border: 1px solid #d2d2d2;
      border-radius: 5px 0 0 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      height: 50px;
      background-color: #f8f8f8;
      letter-spacing: 0.54px;
      border-bottom: 1px solid #d2d2d2;
    }

    button {
      background-color: $blue;
      border: 0;
      border-radius: 0 5px 5px 0;
      color: white;
      font-weight: bold;
      font-size: $font-normal;
    }

    ::placeholder {
      color: #d2d2d2;
    }
  }

  .search-page {
    .container {
      max-width: $max-content-width;
    }

    a {
      text-decoration: none;
    }

    .no-results-found {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: italic;
    }

    .suggestions {
      justify-content: center;
      margin: 0;
      font-style: italic;

      a.suggestion {
        text-decoration: underline;
        color: $blue;
        cursor: pointer;
      }
    }

    .card {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      .card-contents {
        padding: 18px;
        padding-bottom: 14px;
      }
    }

    h1 {
      font-size: $heading-one-font-xs;

      @include breakpoint(phone) {
        margin-top: 20px;
      }
    }
  }

  .search-toggle {
    margin: 0 0 0 -0.55rem;
    padding-bottom: 0;
    min-height: 58px;
    &,
    button {
      color: black;
    }

    .suggestions {
      color: black;
    }
    padding-bottom: 5px;

    .facet {
      max-width: 1300px;
      padding: 0.15rem 1rem 0 0;
    }

    .sort-nav-item {
      @include breakpoint(phone) {
        padding-left: 20px;
        padding-top: 10px;
        font-size: $font-sm;
      }
    }

    .nav-link {
      @include breakpoint(phone) {
        font-size: $font-sm;
      }
    }
  }

  .search-filter-drawer-open {
    position: fixed;
    top: 0px;
    height: 100%;
    left: 0;
    background: white;
    width: 100%;
    overflow: scroll;
    z-index: 1;

    .contents {
      margin: 0 20px;
    }

    .controls {
      display: flex;
      justify-content: flex-end;

      i {
        margin-right: 18px;
        margin-top: 18px;
        font-size: 2rem;
        cursor: pointer;
      }
    }

    .apply-filters {
      margin: 25px;

      button {
        width: 100%;
        font-size: $font-lg;
      }
    }
  }

  .filter-controls {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: $font-normal;

    i.material-icons {
      font-size: 2.25rem;
    }

    @include breakpoint(phone) {
      padding-left: 20px;
    }
  }

  .controls-outer {
    width: 100%;

    .controls {
      display: inline-block;
      padding: 0.5rem 1rem;
    }

    .layout-buttons-mobile {
      display: inline-block;
      float: right;
      padding-right: 20px button {
        height: 32px;
        width: 32px;
      }

      img {
        height: 18px;
      }
    }
  }

  .listitem {
    .topic-link {
      float: left;
      white-space: nowrap;
    }
  }

  .infinite-scroll-parent {
    /*
    This is used in tandem with InfiniteScroll's `useWindow={false}` option.
    This way we get infinite scroll on the search results, but can still scroll
    the page down to see the footer.

    The 200vh value is somewhat arbitrary. The idea is to have the infinite
    scroll container dominate the viewport at first, then after a bit of
    scrolling show the footer.
      - too small a value for max-height looks strange on screens short enough
        that the facet height rivals the screen height.
    */
    max-height: 200vh;
    min-height: 100vh;
    overflow: auto;
  }

  .search-results-area {
    background-color: #f8f8f8;
    border-top: none;
    section {
      padding: 0 1rem;
      max-width: 1300px;
    }
  }

  .facet-display-wrapper {
    border-top: 1px solid #d2d2d2;
  }
}

.layout-buttons {
  padding-left: 35px;
  padding-right: 16px;
  display: none !important;

  button {
    height: 41px;
    width: 42px;
    background-color: white;
    border-color: #dedede;
    border-style: solid;
  }

  .layout-button-left {
    border-radius: 4px 0 0 4px;
  }

  .layout-button-right {
    border-radius: 0 4px 4px 0;
  }

  img {
    height: 26px;
  }
}

.layout-buttons-desktop {
  @include breakpoint(mobile) {
    display: none;
  }
}
