.filterable-facet {
  .input-wrapper {
    position: relative;

    i.material-icons {
      position: absolute;
      right: 5px;
      top: 8px;
      color: $font-gray;
    }

    i.clear-icon {
      cursor: pointer;
    }
  }

  input.facet-filter {
    background-color: initial;
    border-radius: 0;
    border: 1px solid $podcast-border-gray;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;

    &::placeholder {
      color: $font-gray;
      line-height: unset;
    }
  }

  .facet-list {
    max-height: 400px;
    overflow: auto;
  }
}

.filter-section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.facets {
  .divider {
    padding-top: 20px;
  }

  .mdc-form-field {
    display: flex;
    align-items: center;

    label {
      margin: 0;
      width: 100%;
    }
  }

  .facet-hidden {
    display: none;
  }

  .facet-visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    font-size: 14px;
    margin-right: 6px;
    cursor: pointer;

    input {
      margin-right: 10px;
      cursor: pointer;
    }

    .facet-label-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      label {
        cursor: pointer;
        margin-bottom: 0;
      }
    }

    .facet-key {
      color: black;
    }

    .facet-count {
      color: $font-gray-mid;
    }
  }

  .facet-more-less {
    cursor: pointer;
    color: $search-gray;
    font-size: 14px;
    text-align: right;
  }
}

.facet-display-wrapper {
  @include breakpoint(desktop) {
    padding-right: 75px;
  }
}

.active-search-filters {
  padding-bottom: 10px;
  margin-bottom: 10px;

  .clear-all-filters {
    font-size: 18px;
    color: $blue;
    font-weight: normal;
    text-decoration: underline;
  }

  .active-search-filter {
    margin: 0px 5px 9px 0px;
    background-color: $bg-light-gray;
    padding: 6px 10px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid $font-gray-mid;
    border-radius: 14px;

    .remove-filter {
      max-height: 18px;
      margin-right: 5px;
      cursor: pointer;

      i {
        font-size: 18px;
      }
    }
  }
}
