$row-padding: 20px;
$row-max-height: 200px;

.testimonial-banner {
  .testimonial {
    padding: $row-padding 0;

    .detail {
      h2,
      p {
        margin-bottom: 10px;
      }
    }
  }
}
.testimonial-content-container {
  .row {
    padding-top: 40px;
    padding-bottom: 40px;
    @include media-breakpoint-down(xs) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.testimonial-banner {
  .testimonials {
    padding: 30px 15px;
    @include media-breakpoint-down(xs) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.testimonial-banner.list {
  .standard-width.container {
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-down(xs) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  h1 {
    margin-bottom: 20px !important;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
    @include media-breakpoint-down(xs) {
      line-height: 40px;
      margin-bottom: 20px !important;
    }
  }
}
.testimonial {
  .detail {
    .text {
      h2 {
        margin-bottom: 17px;
        font-size: 28.5px;
        font-weight: 700;
        line-height: normal;
      }
      p.occupation {
        margin-bottom: 18px;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
      }
      p.summary {
        text-overflow: ellipsis;
        font-size: 18px;
        color: var(--Primary, #03152d);
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
