$row-padding: 20px;
$row-max-height: 200px;

.testimonial-banner {
  .testimonial {
    padding: $row-padding 0;

    .detail {
      h2,
      p {
        margin-bottom: 10px;
      }
    }
  }
}
.testimonial-content-container {
  .row {
    padding-top: 40px;
    padding-bottom: 40px;
    @include media-breakpoint-down(xs) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.testimonial-banner {
  .testimonials {
    padding: 30px 15px;
    @include media-breakpoint-down(xs) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.testimonial-banner.list {
  .standard-width.container {
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-down(xs) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  h1 {
    margin-bottom: 20px !important;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
    @include media-breakpoint-down(xs) {
      line-height: 40px;
      margin-bottom: 20px !important;
    }
  }
}
.testimonial {
  .detail {
    .text {
      h2 {
        margin-bottom: 17px;
        font-size: 28.5px;
        font-weight: 700;
        line-height: normal;
      }
      p.occupation {
        margin-bottom: 18px;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
      }
      p.summary {
        text-overflow: ellipsis;
        font-size: 18px;
        color: var(--Primary, #03152d);
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}

// Override bootstrap's .modal-dialog properties using !important
.quote-modal-dialog {
  max-width: 600px !important;
  margin: 1rem auto !important;
}

.modal-close-icon {
  margin-left: 10px;
  color: white;
}

.quote-modal-body {
  padding: 10px !important;
}

.testimonial-card {
  .story-body,
  .quote-body {
    padding: 0px 20px 10px 20px;
  }
  .read-full-testimonial {
    color: #0a3e56;
    font-size: 14px;
  }
  .read-full-testimonial:hover {
    color: #a31f34 !important;
  }
  .content.testimonial-modal {
    margin-bottom: 18px;
  }
  .content {
    margin-bottom: 10px;
  }
  .testimonial-image-wrapper {
    margin-bottom: 20px;
  }
  .testimonial-title {
    padding: 0px 20px;
    margin-bottom: 16px;
  }
  .testimonial-title .name {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .testimonial-title .name.font-weight-bold {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.home-testimonials {
  .testimonial-link {
    padding: 10px !important;
  }
  .home-stories-carousel {
    max-width: 1447px !important;
  }
  .carousel-arrow-left,
  .carousel-arrow-right {
    font-size: 3.75rem;
  }
}

.home-testimonials {
  max-width: 1447px !important;
  margin: auto !important;
  padding-top: 60px;

  @include media-breakpoint-down(md) {
    padding-top: 40px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
  }

  .carousel {
    &.slide {
      max-width: 1447px !important;
    }

    .carousel-header {
      margin-bottom: 40px;
      @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
      }
      h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 20px;
        @include media-breakpoint-down(xs) {
          line-height: 40px;
        }
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px; /* 138.889% */
        margin: 0;
      }

      p {
        text-align: center;
      }
    }

    .carousel-section {
      .prev,
      .next {
        font-size: 3.75rem !important;
      }
    }

    .carousel-inner {
      padding: 0;
    }
  }
}

.home-stories-banner {
  margin-top: 30px;
  padding-bottom: 60px;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  @include media-breakpoint-down(xs) {
    padding-bottom: 30px;
  }

  .home-stories-banner-content {
    background: var(--Primary, #03152d);
    border-radius: 10px;
    padding: 40px;
    color: white;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    a.share-story-btn {
      padding: 20px 30px;
      @include media-breakpoint-down(md) {
        padding: 16px 20px;
      }
    }

    .share-story-title {
      margin-bottom: 0.25rem;
      font-weight: bold;
      color: white;
      font-size: 22px;
      text-transform: none;
      line-height: 1.75rem;
    }

    .share-story-description {
      margin: 0;
    }
  }
}
.home-testimonials .carousel-item {
  padding: 0 8px;
}
.story-body.carousel,
.quote-body.carousel {
  min-height: 180px;
}

.more-stories {
  .more-stories-item-cards-wrapper {
    margin-right: -16px;
  }
}

.testimonial-banner {
  border-bottom: 1px solid $border-gray-testimonial;
  background: #f0f5f7;
  box-shadow: 0px 2px 10px 0px rgba(120, 169, 197, 0.15);
}

.view-all-stories {
  margin-top: 40px;
  padding-bottom: 30px;
  @include media-breakpoint-down(xs) {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

// List styling
.testimonial-list-container {
  .standard-width.container > * {
    margin: 0 auto;
  }
  .item-wrapper {
    margin-top: 1rem;
  }
  .testimonial-banner {
    h1 {
      font-size: 35px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 25px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      text-align: center;
      margin: 0;
    }
  }
  .testimonial-link {
    padding: 10px !important;
    flex: 1 1 auto;
  }

  .standard-width.container {
    padding-top: 34px;
    @include media-breakpoint-down(xs) {
      padding-top: 4px;
    }
  }
  .stories-list-item-container {
    margin-right: -16px !important;
  }
}
//  Single styling
.testimonial-single-container {
  .testimonial-banner {
    .testimonial > div {
      width: 100%;
    }
    .detail {
      margin-left: 30px;
    }
  }
  .view-all-stories-left-btn {
    .view-all-stories-left-arrow {
      margin-right: 10px;
    }
    h1 {
      margin: 0;
      font-size: 35px;
    }
  }
  .more-stories {
    h3 {
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      @include media-breakpoint-down(md) {
        padding: 15px 0 0 0;
      }
      margin: 0;
    }
    .item-wrapper.testimonial-link {
      flex: 1 1;
      padding: 10px;
      margin-top: 16px;
      margin-right: 16px;
    }
    .view-all-stories {
      margin-top: 16px;
      color: white;
      font-size: 14px;
      font-weight: 700;
      border-radius: 5px;
      background: var(--Primary, #03152d);
    }
  }
}
.home-testimonials {
  a.testimonial-link {
    text-decoration: none;
  }

  .testimonial {
    background-size: cover;

    .name {
      font-size: $font-lg;
    }

    .on-hover {
      display: none;
    }

    .name-occ {
      .occupation-location {
        font-size: $font-sm;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .name,
      .occupation-location {
        white-space: nowrap;
      }
    }
  }
}
