$panel-course-info-text-color: #464646;

.course-info {
  .course-info-content {
    margin-top: 5px;
  }
}

.panel-course-info-title {
  font-size: $font-sm;
  text-transform: uppercase;
  font-weight: bold;
  color: $panel-course-info-text-color !important;
}

.panel-course-info-text {
  font-size: $font-sm;
  color: $panel-course-info-text-color !important;
  a {
    color: $panel-course-info-text-color !important;
  }
}

.close-course-info {
  margin-left: auto;
  background-color: $course-info-btn-color !important;
  border-radius: 0px !important;
}

.close-course-info:hover {
  background-color: $course-info-btn-hover-color !important;
}

.show-course-info {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $course-info-btn-color !important;
  border-radius: 0px !important;
}

.show-course-info:hover {
  background-color: $course-info-btn-hover-color !important;
}
