$panel-course-info-text-color: #464646;

.course-info {
  .course-info-content {
    margin-top: 5px;
  }
}

.panel-course-info-title {
  font-size: $font-sm;
  text-transform: uppercase;
  font-weight: bold;
  color: $panel-course-info-text-color !important;
}

.panel-course-info-text {
  font-size: $font-sm;
  color: $panel-course-info-text-color !important;
  a {
    color: $panel-course-info-text-color !important;
  }
}

.close-course-info {
  margin-left: auto;
  padding: 5px 10px 5px 10px;
  background-color: #e4e4e4;
  cursor: pointer;
}

.close-course-info:hover {
  background-color: #c0c0c0;
}

.show-course-info-left-arrow {
  position: absolute;
  right:0;
  padding: 8px;
  margin-top: -17px;
  background-color: #e4e4e4;
  cursor: pointer;
}

.show-course-info-left-arrow:hover{
  background-color: #c0c0c0;
}
