#course-title.collapse:not(.show) {
  display: block;
  height: 5.5em;
  overflow: hidden;
}

#course-title.collapsing {
  height: 5.5em;
}

.course-content-title {
  font-size: $font-xl;

  @include media-breakpoint-down(xs) {
    font-size: $font-lg !important;
  }
}

.course-content-parent-title {
  font-size: $font-lg;
  @include media-breakpoint-down(xs) {
    font-size: $font-md !important;
  }
}

th,
td {
  > p:empty {
    display: none;
  }
}

td {
  h3 {
    font-weight: normal !important;
    font-style: italic !important;
    font-family: arial, helvetica, sans-serif !important;
  }
}
