.course-image {
  @include media-breakpoint-down(md) {
    height: 200px;
  }

  border: 1px solid $medium-gray;
  width: 100%;
}

.course-image-caption {
  font-size: $font-sm;
  margin-top: 10px;
  line-height: 1.2;
}
