h4 {
  color: $highlight-red !important;
}

.resource-thumbnail {
  height: 38px;
  width: 32px;
}

.see-all-resources-icon {
  display: inline-flex;
  vertical-align: top;
  margin-left: 5px;
}

.resource-download {
  padding: 3px;
  border: solid 0.5px $medium-gray;
  border-radius: 20px;
  margin-left: -12px;
  margin-top: 13px;
  background-color: $white;
}

.resource-download:hover {
  background-color: $light-gray;
}

.resource-list-title {
  text-decoration: none;
}

.resource-list-title:hover {
  text-decoration: underline;
}
