.course-home-page {
  background-color: $light-gray;

  #course-main-content {
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 1.5rem 2.5rem 4rem 2.5rem !important;
  }

  .course-home-grid {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  @include media-breakpoint-down(sm) {
    .course-cards {
      flex-flow: column-reverse;
    }

    .course-home-grid {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }

  .card {
    border-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border: 0px;
    height: 100%;
  }

  .container-fluid {
    max-width: $max-content-width;
  }

  .course-home-section {
    padding: 20px 40px 0px 40px;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    &.in-panel {
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    .other-version-list {
      a {
        text-decoration: underline;
        color: $blue;
      }

      li {
        padding-bottom: 4px;
      }
    }
  }

  .desktop-nav-section {
    width: 18% !important;
  }

  .course-info-section {
    width: 50% !important;

    @include media-breakpoint-down(md) {
      width: 65% !important;
    }

    @include media-breakpoint-down(sm) {
      width: 100% !important;
    }
  }

  .course-image-section {
    width: 32% !important;

    @include media-breakpoint-down(md) {
      width: 35% !important;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .course-content-section {
    width: 82% !important;

    @include media-breakpoint-down(md) {
      width: 100% !important;
    }
  }
}
