.resource-page {
  .row {
    // min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .label {
      font-weight: 700;
      margin-bottom: 20px;
    }
    .content {
      margin-bottom: 20px;
      p {
        margin: 0;
      }
    }
    .label.resource-type {
      margin-right: 20px;
    }
  }
  .row.resource-type {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.resource-page.container {
  padding-left: 0px;
  margin-top: 20px;
}
