.video-gallery-card {
  a {
    user-select: none;
    text-decoration: none;

    .inner-container {
      display: flex;
      justify-content: space-between;
      background-color: white;
      color: black;
      padding: 10px;
      margin: 0;
      text-align: left;
      width: 100%;
      cursor: pointer;

      .left-col {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: 10px;

        img.thumbnail {
          border-radius: 5px;

          @include media-breakpoint-down(md) {
            border-radius: 0px;
          }
        }

        img.youtube-logo-overlay {
          position: absolute;
          opacity: 0.3;
          left: 0;
          top: 0;
          transform: scale(0.62);
          width: 100%;
          height: 100%;
        }
      }

      .right-col {
        position: relative;
        margin-left: 10px;
        width: 100%;

        .video-title {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.video-embed {
  max-width: $video-section-max-width;
}

.embedded-video-container {
  // this padding will be applied when video is embedded
  padding-bottom: 44px;
  background-color: $light-gray;
}

.video-page {
  max-width: $video-section-max-width;

  .video-container {
    height: 0;
    padding-bottom: 56% !important;
    margin-bottom: 44px;
    position: relative;
    max-width: 100%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-buttons-container {
  background-color: $light-gray;
  overflow: hidden;
  margin-bottom: 35px;
}

.video-download-container {
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.video-download-button {
  float: right;
  font-size: $font-sm;
  color: white;
}

a.video-download-button:visited {
  color: white;
}

.video-page-link-section {
  padding: 5px 15px 5px;
  display: inline-flex;
}

.video-page-link {
  text-decoration: none;
  color: $black !important;
  font-weight: 600;
  cursor: pointer;
}

.video-page-link:hover {
  text-decoration: none !important;
}

#course-main-content a.download-file.video-download-button:link {
  color: white;
}

#course-main-content a.download-file.video-download-button:visited {
  color: white;
}

@include media-breakpoint-down(md) {
  .video-download-container {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  .video-download-container:first-child {
    padding-bottom: 0px;
  }
}
