{{- $gtmId := getenv "GTM_ACCOUNT_ID" -}}
{{- $courseData := .Site.Data.course -}}
<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head.html" . }}
<body class="course-home-page">
  {{ if $gtmId }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $gtmId }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{ end }}
  
  <div class="overflow-auto">
    {{ partialCached "mobile_course_nav.html" . }}
    {{ partialCached "mobile_course_info.html" . }}
    {{ block "header" . }}{{ partialCached "header" . }}{{ end }}
    {{ block "subheader" . }}{{ partial "course_banner.html" . }}{{ end }}

  <div id="course-main-content">
    <div class="row">
      <div class="col-12 course-home-grid">
        <div class="medium-and-below-only mb-3">
          {{ partial "mobile_nav_toggle.html" . }}
        </div>
      </div>
    </div>
    <div class="row course-cards">
      <div class="col-2 course-home-grid large-and-above-only">  
        {{ partialCached "desktop_nav.html" . }}
      </div>
      <div class="col-12 col-md-8 col-lg-7 course-home-grid">
        {{ partialCached "course_detail.html" . }}
      </div>
      <div class="col-12 col-md-4 col-lg-3 mb-3 mb-md-0 course-home-grid">
        {{ partialCached "course_image_section.html" . }}
      </div>
    </div>
  </div>
  
  {{ block "footer" . }}{{ partial "footer-v2" . }}{{end}}
  {{ partialCached "hide_offline_links.html" . }}
  </div>
  {{ partialCached "navigation_js.html" . }}
  {{ partialCached "responsive_tables_js.html" . }}

  {{- $webpack := .Site.Data.webpack -}}
  {{- $js_urls := slice $webpack.common.js $webpack.course_v2.js -}}
  {{ partial "include_js.html" (dict "context" . "urls" $js_urls) }}
  <!-- Appzi: Capture Insightful Feedback -->
  {{/*  <h4>{{.Site.Data.webpack}}</h4>  */}}
  {{/*  <h4>{{$js_urls}}</h4>  */}}
  <h2>hello2</h2>
  {{ $flag := 0}}
  {{ $targetURL := "/static_shared/mathjax/tex-svg.fba3e88333d2ffcbf047.js" }}

  {{ range $entry, $files := .Site.Data.webpack }}
      {{ with index $files "js" }}
      {{ if eq (printf "%T" .) "[]interface {}" }}
       {{ range $file:= .}}
        {{.}}
       {{end}}
      {{end }}
      {{ end }}
  {{ end }}
  <h2>home flag is {{$flag}}</h2>

  {{ partial "mathjax_if_necessary.html" (dict "context" . "webpackData" $webpack) }}
  <script async src="https://w.appzi.io/w.js?token=Tgs1d"></script>

  <!-- End Appzi -->
</body>

</html>
