/* 
  responsive table css based on:
  https://css-tricks.com/responsive-data-tables/
  https://elvery.net/demo/responsive-tables/#no-more-tables
*/
@mixin mobile-table {
  // Force table to not be like tables anymore
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  // Hide table headers (but not display: none;, for accessibility)
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
  }

  td:before {
    /* 
      The data-title attribute is written in using the table's headings
      See responsive_tables.js for more info
    */
    content: attr(data-title);
    font-weight: bold;
  }
}

#main-content table:not(#course-info-table) {
  thead th,
  td {
    vertical-align: middle !important;
  }

  tr {
    td:empty {
      display: none;
    }
  }

  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    @include mobile-table;
  }
}

.mobile-table {
  @include mobile-table;
}
