{{ define "main" }}
{{ partial "course_content.html" . }}

{{- $numberOfResourcesLimit := 10 -}}
{{ $taxonomy := "learning_resource_types" }}

<div class="mb-5">
  {{ with ($.Site.GetPage (printf "/%s" $taxonomy)) }}
    {{ range .Pages }}
      <div>
        <h4 class="my-4">{{ .Title }}</h4>  
      </div>

      {{ $numberOfResources := (len .Pages) }}
      {{ $limitedResourcesShown := false }}

      {{ if gt $numberOfResources $numberOfResourcesLimit }}
        {{ $numberOfResources = $numberOfResourcesLimit }}
        {{ $limitedResourcesShown = true }}
      {{ end }}

      {{ range sort (first $numberOfResources .Pages) .Params "title" }}
        {{- partial "resource_list_item" (dict "params" .Params "permalink" .Permalink) -}}
        <hr>
      {{ end }}
      {{ if eq $limitedResourcesShown true }}
        <div>
          <div class="float-right">
            {{- partial "see_all" (dict "permalink" .Permalink) -}}
          </div>
        </div>
      {{ end }}
      <br>
    {{ end }}
  {{ end }}
</div>

{{ end }}
