{{ define "main" }}
{{ partial "course_content.html" . }}

{{- $numberOfResourcesLimit := 10 -}}
{{ $taxonomy := "learning_resource_types" }}

<div class="mb-5">
  {{ with ($.Site.GetPage (printf "/%s" $taxonomy)) }}
    {{ with .Pages }}
      {{ range . }}

        {{ $resources := where .Pages "Params.content_type" "resource" }}
        {{ $numberOfResources := len $resources  }}
        {{ $limitedResourcesShown := false }}

        {{ if gt $numberOfResources $numberOfResourcesLimit }}
          {{ $numberOfResources = $numberOfResourcesLimit }}
          {{ $limitedResourcesShown = true }}
        {{ end }}

        {{ if gt $numberOfResources 0 }}

          <div>
            <h4 class="my-4">{{ .Title }}</h4>  
          </div>
          
          {{ range sort (first $numberOfResources $resources) .Params "title" }}
            {{- partial "resource_list_item.html" (dict "params" .Params "permalink" .Permalink) -}}
            <hr>
          {{ end }}
          {{ if eq $limitedResourcesShown true }}
            <div>
              <div class="float-right">
                {{- partial "see_all.html" (dict "permalink" .Permalink) -}}
              </div>
            </div>
          {{ end }}
          <br>

        {{ end }}
      {{ end }}
    {{ else }}
      <div>
        <p>No Resources Found.</p>  
      </div>
    {{ end }}
  {{ end }}
</div>

{{ end }}
