{{ define "main" }}
{{- $numberOfResourcesLimit := 10 -}}
{{ partial "course_content.html" . }}

{{ $taxonomy := "learning_resource_types" }}

<div class="mb-5">
  {{ with ($.Site.GetPage (printf "/%s" $taxonomy)) }}
    {{ range .Pages }}
      <div>
        <h4 class="my-4">{{ .Title }}</h4>  
      </div>

      {{ $numberOfResources := (len .Pages) }}
      {{ $limitedResourcesShown := false }}

      {{ if gt $numberOfResources $numberOfResourcesLimit }}
        {{ $numberOfResources = $numberOfResourcesLimit }}
        {{ $limitedResourcesShown = true }}
      {{ end }}

      {{ range sort (first $numberOfResources .Pages) .Params "title" }}
        <div class="container">
          <div class="row">
            <div>
              {{- $thumbnailSrc := partial "get_resource_thumbnail_src" (dict "resourceType" .Params.resourcetype) -}}
              <img
                class="resource-thumbnail"
                src="{{- $thumbnailSrc -}}"
              />
              {{- $downloadableLink := partial "get_resource_download_link" .Params -}}
              <a href="{{- $downloadableLink -}}" target="_blank" download>
                <img
                  class="resource-download"
                  src="/images/download.svg"
                />
              </a>
            </div>
            <div>
              <div class="pt-2 pl-2">
              <a class="text-decoration-none" href="{{ .Permalink }}">
                {{ .Params.title }}
              </a>
              </div>
            </div>
          </div>
        </div>
        <hr>
      {{ end }}
      {{ if eq $limitedResourcesShown true }}
        <div>
          <div class="float-right">
            <a class="text-decoration-none font-weight-bold" href="{{ .Permalink }}">
              <span>See all</span>
              <i class="material-icons see-all-resources-icon">arrow_forward</i>
            </a>
          </div>
        </div>
      {{ end }}
      <br>
    {{ end }}
  {{ end }}
</div>

{{ end }}
