{{ define "main" }}
{{- $collection := . -}}
<div>
  {{ block "header" . }}
  {{ partialCached "header" . }}
  {{ end }}
  {{ partial "collection_cover_image" $collection }}
  <div class="container collection-outer-container standard-width mx-auto mt-5">
    <h1>
      {{ $collection.Title }}
    </h1>
    <div class="mb-3 collection-description">
      {{ $collection.Description | .RenderString }}
    </div>
    {{ $collectionFeaturedList := index $collection.Params "featured-courses"}}
    {{ if (not (isset $collectionFeaturedList -1)) }}
      {{- $featured_list := index (where $.Site.Pages ".Params.uid" $collectionFeaturedList.content) 0 -}}
      {{ partial "featured_course_cards"  (dict "featuredCourses" $featured_list.Params.courses "klass" "course-list-title col-lg-8 pb-2") }}
    {{ end }}
    {{- range $collection.Params.courselists.content -}}
      {{- $course_list := index (where $.Site.Pages ".Params.uid" .) 0 -}}
      {{ partial "course_list" $course_list }}
      <div>
      <div class="col-12 col-lg-8 pb-2 mb-5">
        <a class="float-right collection-see-all" href="{{ $course_list.RelPermalink }}">See all</a>
        </div>
      </div>
    {{- end -}}
  </div>
  <script>
    {{- $course_lists_data := dict -}}
    {{- $staticApiBaseUrl := getenv "STATIC_API_BASE_URL" | default "https://ocwnext.odl.mit.edu"  -}}
    {{- range $collection.Params.courselists.content -}}
      {{- $course_list := index (where $.Site.Pages ".Params.uid" .) 0 -}}
      {{- $course_list_data := (slice) -}}
      {{- range (first 5 $course_list.Params.courses) -}}
          {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) "/" .id "/data.json") "" -}}
          {{- $data := getJSON $url -}}
          {{- $data = merge $data (dict "url_path" .id) -}}
          {{- $course_list_data = $course_list_data | append (dict .id $data) -}}
      {{- end -}}
      {{- $course_lists_data = merge $course_lists_data (dict $course_list.Params.uid $course_list_data) -}}
    {{- end -}}
    window.courseListsData = JSON.parse("{{ $course_lists_data | jsonify }}");
  </script>
</div>
  {{ block "footer" . }}
    {{ partialCached "footer" . }}
  {{end}}
{{ end }}
