{{ $bannerClass := "text-capitalize m-0 text-white" }}
{{ $currentPage := . }}
<div id="course-banner" class="p-0">
  <div class="max-content-width course-banner-content m-auto py-3">
    <div class="row">
    <div class="col-11">
      {{ $courseData := .Site.Data.course }}
      <span class="course-number-term-detail">{{ $courseData.primary_course_number }} | {{ $courseData.term }} {{ $courseData.year }}{{if $courseData.level }} | {{ delimit $courseData.level ", " }}{{ end }}</span>
      <br>
      <br>
      <h1>
        <a
          class="{{ $bannerClass }}"
          href="{{ partial "course_home_page_url.html" . }}"
        >{{ $courseData.course_title }}</a>
      </h1>
    </div>
    <div class="col-1">
      {{- $readableId := printf "%s+%s_%s" $courseData.primary_course_number (lower $courseData.term) $courseData.year -}}
      <button id="course-bookmark-btn" class="red-btn p-2 d-none" data-toggle="modal" data-target="#add-to-user-list-modal" data-resourcereadableid="{{- $readableId -}}" title="Add to User List">
        <i class="material-icons display-4 text-white align-bottom">bookmarks</i>
      </button>
    </div>
    </div>
  </div>
</div>
