{{- $trimmedBaseUrl := strings.TrimSuffix "/" site.BaseURL -}}
{{- $downloadPageUrl := print $trimmedBaseUrl "/download" -}}
{{- $downloadPageUrl = partial "page_url.html" (dict "context" .context "url" $downloadPageUrl) -}}
{{- $downloadCourseUrl := partial "get_course_download_url.html" .context -}}
{{- $zipExists := partial "file_exists_at_url.html" (dict "context" .context "url" $downloadCourseUrl ) -}}
{{- $noResourcesFound := partial "show_no_resources_found.html" (dict "context" .context "taxonomy" "learning_resource_types") -}}
{{- if or $zipExists (not $noResourcesFound) -}}
<hr>
<div class="pb-3">
  <a class="download-course-link-button btn btn-outline-primary btn-link link-button text-decoration-none px-4 py-2"
    role="button"
    href="{{- $downloadPageUrl -}}">
    <div class="text-center w-100">Download Course</div>
  </a>
</div>
{{- end -}}