<!--{{/*
  This is a confirmation dialog. It is shown when a user tries to leave
  the website via an external link.

  External links, `a` tags, are identified by the class `external-link`.

  We use an single modal for all links for two reasons:
    - to reduce markdown
    - to place it under the body element so that modal styles
      are not affected by where the modal is placed
*/}}-->

<div
  class="modal"
  id="external-link-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="external-link-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-3">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex align-items-center">
          <img
            class="modal-header-icon-img mr-3 align-baseline"
            src="/static_shared/images/external_link.svg"
            alt=""
            aria-hidden="true"
          />
          <h1 class="modal-title" id="external-link-modal-title">
            You are leaving MIT OpenCourseWare
          </h1>
        </div>
        <button type="button" class="border-0 p-0 bg-transparent d-flex" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons modal-header-icon">close</span>
        </button>
      </div>
      <div class="modal-body">
        Please be advised that external sites may have terms and conditions, 
        including license rights, that differ from ours. MIT OCW is not responsible 
        for any content on third party sites, nor does a link suggest an endorsement 
        of those sites and/or their content.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary btn-link link-button"
          data-dismiss="modal"
          >
            Stay Here
        </button>
        <a
          role="button"
          class="btn btn-primary btn-continue"
          href="#"
        >
          Continue
        </a>
      </div>
    </div>
  </div>
</div>
