{{ $fileSize := int . }}
{{ $units := slice "B" "KB" "MB" "GB" "TB" }}
{{ $unitIndex := 4 }}

{{ range $i, $unit := $units }}
    {{ if lt $fileSize (pow 1024 (add $i 1)) }}
        {{ $unitIndex = $i }}
        {{ break }}
    {{ end }}
{{ end }}

{{ $decimalPoints := 0 }}
{{ if eq $unitIndex 3 }}{{ $decimalPoints = 1 }}
{{ else if eq $unitIndex 4 }}{{ $decimalPoints = 2 }}
{{ end }}

{{ $formatString := printf "%%.%df %%s" $decimalPoints }}
{{ $formattedSize := printf $formatString (div $fileSize (pow 1024.0 $unitIndex)) (index $units $unitIndex) }}

{{- return $formattedSize -}}
