{{- $resourceType := .resourceType -}}
{{- $fileType := .fileType -}}

{{- $src := "/static_shared/images/file_thumbnail.png" -}}
{{- $ariaLabel := "File" -}}

{{ if and (eq $resourceType "Document") (eq $fileType "application/pdf") }}
  {{- $src = "/static_shared/images/pdf_thumbnail.png" -}}
  {{- $ariaLabel = "PDF File" -}}
{{ else if eq $resourceType "Image" }}
  {{- $src = "/static_shared/images/file_thumbnail.png" -}}
  {{- $ariaLabel = "Image File" -}}
{{ else if eq $resourceType "Video" }}
  {{- $src = "/static_shared/images/mobile_video_thumbnail.png" -}}
  {{- $ariaLabel = "Video File" -}}
{{ end }}

{{- $attributes := dict
  "src" $src
  "ariaLabel" $ariaLabel
-}}

{{ return $attributes }}
