{{- $context := .context -}}
{{ $inPanel := .inPanel }}

<div class="{{ if not $inPanel }}learning-resource-type-item{{ end }}">
  <div class="d-flex">
    <i aria-hidden="true" class="material-icons pr-1">
      {{- if in $context "Audio" -}}
      equalizer
      {{- else if in $context "Video" -}}
      theaters
      {{- else if or (in $context "Problem Set") (in $context "Assignment") -}}
        {{- if or (in $context "with Examples") (in $context "Solutions") -}}
        assignment_turned_in
        {{- else -}}
        assignment
        {{- end -}}
      {{- else if in $context "Exam" -}}
      grading
      {{- else if eq $context "Image Gallery" -}}
      collections
      {{- else if eq $context "Lecture Notes" -}}
      notes
      {{- else if eq $context "Open Textbooks" -}}
      menu_book
      {{- else if in $context "Projects" -}}
      group_work
      {{- else if in $context "Simulations" -}}
      laptop_windows
      {{- else if in $context "Instructor Insights" -}}
      <span class="material-icons-round">
        co_present
      </span>
      {{- end -}}
    </i>
    <span>
      {{- $context -}}
    </span>
  </div>
</div>
