<div
  id="mobile-course-nav"
  class="navbar-offcanvas offcanvas-toggle offcanvas-toggle-close medium-and-below-only drawer">
  <h3 class="my-4 d-flex align-items-center justify-content-between">
    Browse Course Material
    <button
      class="btn"
      type="button"
      aria-label="Close Course Menu"
      onclick="$('#mobile-course-nav-toggle').click();"
      id="close-mobile-course-menu-button"
      >
      <img
        src="{{- index .Site.Data.webpack "images/close_small.svg" -}}"
        alt=""
        width="12px"
      />
    </button>
  </h3>
  {{ partial "nav.html" (dict "context" . "device" "mobile") }}
</div>
