{{ $id := .menuItem.Identifier }}
{{ $device := .device }}
{{ $hasParent := isset . "parentId" }}
{{ $hasChildren := .menuItem.HasChildren }}
{{ $url := partial "nav_url.html" . }}

<li class="course-nav-list-item">
  <div class="course-nav-parent d-flex flex-direction-row align-items-center justify-content-between">
    <span class="course-nav-text-wrapper">
      <a class="text-dark nav-link"
        data-uuid="{{ .menuItem.Identifier }}"
        href="{{ $url }}">
        {{ .menuItem.Name }}
      </a>
    </span>
    {{ if .menuItem.HasChildren }}
    <a class="course-nav-section-toggle"
      href="#nav-container_{{ $device }}_{{ .menuItem.Identifier }}"
      data-toggle="collapse"
      aria-controls="nav-container_{{ $device }}_{{ .menuItem.Identifier }}"
      aria-expanded=""
      data-uuid="{{ .menuItem.Identifier }}">
      <i class="material-icons md-18"></i>
    </a>
    {{ end }}
  </div>
  {{ if or (not $hasParent) $hasChildren }}
  <span class="medium-and-below-only"><hr/></span>
  {{ end }}
  <div class="collapse"
    id="nav-container_{{ $device }}_{{ .menuItem.Identifier }}">
    <ul class="course-nav-child-nav m-auto">
      {{ range .menuItem.Children }}
        {{ partial "nav_item.html" (dict "menuItem" . "parentId" $id "device" $device) }}
      {{ end }}
    </ul>
  </div>
</li>
