{{ $isExternal := strings.HasPrefix .menuItem.Identifier "external" }}
{{ $showLicenseWarning := and ($isExternal) (default true .menuItem.Params.includeLicenseWarning) }}

<a 
  class="text-dark nav-link {{ if $showLicenseWarning }}external-link{{ end }}"
  data-uuid="{{ .menuItem.Identifier }}"
  {{ if $showLicenseWarning }}
    href="javascript: void(0)"
    data-target-url="{{- .url -}}"
  {{ else }}
    href="{{- .url -}}"
  {{ end }}
>
  {{ .menuItem.Name }}
  {{ if $isExternal }}
    <img
      class="ml-2 align-baseline"
      src="/static_shared/images/external_link.svg"
      alt=""
      aria-hidden="true"
    />
  {{ end }}
</a>


