{{ $id := .menuItem.Identifier }}
{{ $device := .device }}
{{ $hasParent := isset . "parentId" }}
{{ $hasChildren := .menuItem.HasChildren }}
{{ $url := partial "nav_url.html" . }}
{{ $linkedPage := site.GetPage (strings.TrimSuffix "/" $url) }}

<li class="course-nav-list-item">
  <div class="course-nav-parent d-flex flex-direction-row align-items-center justify-content-between">
    <span class="course-nav-text-wrapper">
      {{ if eq $linkedPage.Params.content_type "external-resource" }}
        {{- partial "external_resource_link"
          (merge $linkedPage.Params
            (dict
              "text" .menuItem.Name
              "is_image" false
              "class" "text-dark nav-link"
            )
          )
        -}}
      {{ else }}
        <a class="text-dark nav-link"
          data-uuid="{{ .menuItem.Identifier }}"
          href="{{ $url }}">
          {{ .menuItem.Name }}
        </a>
      {{ end }}
    </span>
    {{ if .menuItem.HasChildren }}
    <button
      class="course-nav-section-toggle"
      type="button"
      id="nav-button_{{ $device }}_{{ .menuItem.Identifier }}"
      data-toggle="collapse"
      data-target="#nav-container_{{ $device }}_{{ .menuItem.Identifier }}"
      data-uuid="{{ .menuItem.Identifier }}"
      aria-controls="nav-container_{{ $device }}_{{ .menuItem.Identifier }}"
      aria-expanded="false"
      aria-label="Subsections for {{.menuItem.Name}}"
    >
      <i class="material-icons md-18" aria-hidden="true"></i>
    </button>
    {{ end }}
  </div>
  {{ if or (not $hasParent) $hasChildren }}
  <span class="medium-and-below-only"><hr/></span>
  {{ end }}
  <ul
    class="course-nav-child-nav m-auto collapse"
    id="nav-container_{{ $device }}_{{ .menuItem.Identifier }}"
    aria-labelledby="nav-button_{{ $device }}_{{ .menuItem.Identifier }}"
  >
    {{ range .menuItem.Children }}
      {{ partial "nav_item.html" (dict "menuItem" . "parentId" $id "device" $device "context" .) }}
    {{ end }}
  </ul>
</li>
