{{ $courseData := site.Data.course }}
{{ $zenDeskUrl := "https://mitocw.zendesk.com/hc/en-us" }}
{{ $trimmedBaseUrl := strings.TrimSuffix "/" site.BaseURL }}
{{ $shortId := printf "%v-%v-%v" $courseData.primary_course_number (lower $courseData.term) $courseData.year }}
{{ $downloadCourseUrl := printf "%v/%v.zip" $trimmedBaseUrl $shortId }}
<div class="mb-2">
  <h2>Download</h2>
  <div class="hide-offline download-course-container background-color-light-grey p-3">
    <div class="row">
      <div class="d-flex justify-content-center col-3 px-3">
        <a class="download-course-button p-2" href="{{ $downloadCourseUrl }}">
          <span class="material-icons">file_download</span> Download course
        </a>
      </div>
      <div class="col-9 pl-0 pr-3">
        This package contains the same content as the online version of the course, 
        <em>except for the audio/video materials</em>. These can be downloaded below. For help 
        downloading and using course materials, read our {{ partial "link.html" (dict "href" $zenDeskUrl "text" "FAQs" "target" "_blank") }}.
      </div>
    </div>
  </div>
</div>
