{{ define "renderSortedResources" }}
  {{ $resources := .resources }}
  {{ $limitResources := .limitResources}}
  {{ range $index, $resourceToRender := (first (int $limitResources) .resourcesToRender) }}
    {{- partial "resource_list_item.html" (dict "params" . "permalink" (index $resources .resourceIndex).Permalink "hideThumbnail" .hideThumbnail "hideDownloadIcon" .hideDownloadIcon) -}}
    <hr>
  {{end}}
{{ end }}

{{ define "renderResources" }}
  {{ range .resources }}
    {{- partial "resource_list_item.html" (dict "params" .Params "permalink" .Permalink "hideThumbnail" .hideThumbnail "hideDownloadIcon" .hideDownloadIcon) -}}
    <hr>
  {{end}}
{{ end }}

{{- $hideThumbnail := .hideThumbnail | default false -}}
{{- $hideDownloadIcon := .hideDownloadIcon | default false -}}
{{- $defaultSort := .sort | default true -}}

{{ $resources := .resources }}
{{ $numberOfResources := len $resources }}

{{ $limitResources := .limitResources | default $numberOfResources }}
{{ $paramsWithNumericTitles := slice}}
{{ $paramsWithAlphabeticTitles := slice}}

{{ if gt $numberOfResources 0 }}
  {{ if $defaultSort }}
    {{ range $resourceIndex, $resource:= $resources }}
      {{ $numericalTitle :=  (index (findRE `\d+` .Params.title) 0) }}
      {{ $paramsWithResourceIndex := merge .Params (dict "resourceIndex" $resourceIndex) }}
      {{ if $numericalTitle }}
        {{ $paramsWithNumericTitleAndIndex := merge $paramsWithResourceIndex (dict "numericalTitle" $numericalTitle) }}
        {{ $paramsWithNumericTitles = $paramsWithNumericTitles | append $paramsWithNumericTitleAndIndex  }}
      {{ else }}
        {{ $paramsWithAlphabeticTitleAndIndex := merge $paramsWithResourceIndex (dict "alphabeticalTitle" .Params.title) }}
        {{ $paramsWithAlphabeticTitles = $paramsWithAlphabeticTitles | append $paramsWithAlphabeticTitleAndIndex }}
      {{ end }}  
    {{ end }}
    {{ template "renderSortedResources" (dict "resourcesToRender" (sort ($paramsWithNumericTitles) ".numericalTitle" "asc") "resources" $resources "limitResources" $limitResources "hideThumbnail" $hideThumbnail "hideDownloadIcon" $hideDownloadIcon ) }}
    {{ template "renderSortedResources" (dict "resourcesToRender" (sort ($paramsWithAlphabeticTitles) ".alphabeticalTitle" "asc") "resources" $resources "hideThumbnail" $hideThumbnail "hideDownloadIcon" $hideDownloadIcon ) }}
  {{ else }}
    {{ template "renderResources" (dict "resources" sort (first $limitResources $resources) .Params "title") "hideThumbnail" $hideThumbnail "hideDownloadIcon" $hideDownloadIcon }}
  {{ end }}
{{ else }}
  {{ partial "no_resources_found.html" }}
{{ end }}
