<div class="resource-item">
  <div class="row">
    <div class="d-inline-flex">
      <div class="parent-divs resource-thumbnail">
        {{ $resourceAttrs := partial "get_resource_attributes.html" (dict "resourceType" .params.resourcetype "fileType" .params.file_type) }}
        <div class="resource-type-thumbnail {{ $resourceAttrs.resourceName }}">
          <div class="d-flex align-self-center" aria-label="{{- $resourceAttrs.ariaLabel -}}">{{- $resourceAttrs.resourceName -}}</div>
        </div>  
        <div class="download-div">
          {{ if not .hideDownloadIcon }}
            {{ $downloadableLink := partial "get_resource_download_link.html" .params }}
              <span class="download-link">
                {{ if $downloadableLink }}
                  <a href="{{- $downloadableLink -}}" target="_blank" download>
                    <img
                      class="hide-offline resources-download"
                      src="/static_shared/images/resource-download.svg"
                      aria-hidden="true"
                    />
                  </a>
                {{ end }}
              </span>
              {{ if .params.file_size }}
              <div class="resource-list-file-size">
                {{ partial "file_size_formatter.html" .params.file_size }}
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="resource-list-item-details">
        {{ partial "resource_list_item_title.html" (dict "permalink" .permalink "title" .params.title) }}
      </div>
    </div>
  </div>
</div>
