<div class="resource-list-item container">
  <div class="row">
    <div class="d-inline-flex">
      {{ if not .hideThumbnail }}
        {{ $thumbnailSrc := partial "get_resource_thumbnail_src.html" (dict "resourceType" .params.resourcetype) }}
        <img
          class="resource-thumbnail"
          src="{{- $thumbnailSrc -}}"
        />
      {{ end }}

      {{ if not .hideDownloadIcon }}
        {{ $downloadableLink := partial "get_resource_download_link.html" .params }}
          <span class="pr-2">
            {{ if $downloadableLink }}
              <a href="{{- $downloadableLink -}}" target="_blank" download>
                <img
                  class="hide-offline resource-download"
                  src="/static_shared/images/download.svg"
                />
              </a>
            {{ end }}
          </span>
      {{ end }}
      <div class="pt-2">
        {{partial "resource_list_item_title.html" (dict "permalink" .permalink "title" .params.title)}}
      </div>
    </div>
  </div>
</div>
