{{ $index := .index }}
{{ $context := .context }}
{{ $subtopics := slice }}
{{ if not (eq .subtopics nil) }}
{{ $subtopics = .subtopics }}
{{ end }}
{{ $scratch := newScratch }}
<div class="position-relative pt-1 pb-1{{ if gt (len $subtopics) 0 }} pl-4{{ end }}">
  {{ if gt (len $subtopics) 0 }}
  <a class="topic-toggle"
    href="#subtopic-container_{{ $index }}"
    data-toggle="collapse"
    aria-controls="subtopic-container_{{ $index }}"
    aria-expanded="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
    <i class="material-icons"></i>
  </a>
  {{ end }}
  <span class="topic-text-wrapper">
    <a class="text-black course-info-topic" href="{{ partial "get_search_url.html" (dict "key" "topic" "value" (title .topic)) }}">
      {{ title .topic }}
    </a>
  </span>
</div>
{{ if gt (len $subtopics) 0 }}
<div class="pl-4 subtopic-container collapse{{if eq $index 0 }} show{{ end }}" id="subtopic-container_{{ $index }}">
  {{ $scratch.Set "index" 0 }}
  {{ range $subtopic, $specialities := $subtopics }}
  {{ $subtopicIndex := $scratch.Get "index" }}
  <div class="position-relative pt-1 pb-1 {{ if gt (len ($specialities | default slice)) 0 }} pl-4 {{ else }} pl-2 {{ end }}">
    {{ if gt (len ($specialities | default slice)) 0 }}
    <a class="topic-toggle"
      href="#speciality-container_{{ $index }}_{{ $subtopicIndex }}"
      data-toggle="collapse"
      aria-controls="speciality-container_{{ $index }}_{{ $subtopicIndex }}"
      aria-expanded="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
      <i class="material-icons"></i>
    </a>
    {{ end }}
    <span class="topic-text-wrapper">
      <a class="text-black course-info-topic" href="{{ partial "get_search_url.html" (dict "key" "topic" "value" (title $subtopic)) }}">
      {{ title $subtopic }}
      </a>
    </span>
  </div>
  {{ range $speciality, $ignore := $specialities }}
  <div class="pt-1 pb-1 pl-5 collapse{{if eq $index 0 }} show{{ end }}" id="speciality-container_{{ $index }}_{{ $subtopicIndex }}">
    <span class="topic-text-wrapper">
      <a class="text-black course-info-topic" href="{{ partial "get_search_url.html" (dict "key" "topic" "value" (title $speciality)) }}">
      {{ title $speciality }}
      </a>
    </span>
  </div>
  {{ end }}
  {{ $scratch.Set "index" (add 1 ($scratch.Get "index")) }}
  {{ end }}
</div>
{{ end }}
