<div class="mb-2 border-gray rounded video-gallery-card">
  <a class="video-link" href="{{ partial "page_url.html" (dict "context" . "url" .RelPermalink) }}">
    <div class="inner-container">
      <div class="left-col">
        {{- if isset .Params.video_files "video_thumbnail_file" -}}
        <img class="thumbnail" src="{{ .Params.video_files.video_thumbnail_file }}" alt="" />
        {{- else -}}
        <img class="youtube-logo-overlay" src="{{ partial "hashed_resource.html" "static_shared/images/youtube.svg" }}" alt="Youtube" />
        {{- end -}}
      </div>
      <div class="right-col">
        <h5 class="video-title">{{ .Params.title }}</h5>
      </div>
    </div>
  </a>
</div>
