{{ define "main" }}
{{ partial "course_content.html" . }}

{{- $numberOfResourcesLimit := 10 -}}
{{- $showNoResourcesFoundMessage := true -}}
{{ $taxonomy := "learning_resource_types" }}

<div class="mb-5">
  {{ with ($.Site.GetPage (printf "/%s" $taxonomy)) }}
    {{ with .Pages }}
      {{ range . }}

        {{ $resources := where .Pages "Params.content_type" "resource" }}
        {{ $numberOfResources := len $resources  }}
        {{ if gt $numberOfResources 0 }}

          {{- $showNoResourcesFoundMessage = false -}}
          {{ $limitedResourcesShown := false }}

          {{ if gt $numberOfResources $numberOfResourcesLimit }}
            {{ $numberOfResources = $numberOfResourcesLimit }}
            {{ $limitedResourcesShown = true }}
          {{ end }}

          <div>
            <h4 class="my-4">{{ .Title }}</h4>  
          </div>

          {{- partial "resource_list.html" (dict "resources" $resources "limitResources" $numberOfResources) -}}
            
          {{ if eq $limitedResourcesShown true }}
            <div>
              <div class="float-right">
                {{- partial "see_all.html" (dict "permalink" .Permalink) -}}
              </div>
            </div>
          {{ end }}
          <br>
        {{ end }}
      {{ end }}
    {{ else }}
      {{- $showNoResourcesFoundMessage = false -}}
      {{- partial "no_resources_found.html" -}}
    {{ end }}

    {{ if eq $showNoResourcesFoundMessage true }}
      {{- partial "no_resources_found.html" -}}
    {{ end }}

  {{ end }}
</div>
{{ end }}
