{{ $sitesWithNumericCourseNumbers := slice }}
{{ $sitesWithAlphabeticCourseNumbers := slice }}
{{ range . }}
  {{ $courseNumberParts := split .Params.primary_course_number "." }}
  {{ $departmentNumber := index $courseNumberParts 0 }}
  {{ $courseNumber := index $courseNumberParts 1 }}
  {{ $numericalDepartmentNumber := index (findRE `\d+` $departmentNumber) 0 }}
  {{ $numericalCourseNumber := strings.TrimLeft "0" (index (findRE `\d+` $courseNumber) 0) }}
  {{ if and $numericalDepartmentNumber $numericalCourseNumber }}
    {{ $numericalDepartmentNumber = int $numericalDepartmentNumber }}
    {{ $numericalCourseNumber = int $numericalCourseNumber }}
    {{ $courseIndex := add (mul $numericalDepartmentNumber 1000000) $numericalCourseNumber }}
    {{ $sitesWithNumericCourseNumbers = $sitesWithNumericCourseNumbers | append (dict "website" . "courseIndex" $courseIndex) }}
  {{ else }}
    {{ $sitesWithAlphabeticCourseNumbers = $sitesWithAlphabeticCourseNumbers | append (dict "website" . "courseIndex" .Params.primary_course_number) }}
  {{ end }}
{{ end }}
{{ $sortedNumericCourseNumbers := sort $sitesWithNumericCourseNumbers ".courseIndex" "asc" }}
{{ $sortedAlphabeticCourseNumbers := sort $sitesWithAlphabeticCourseNumbers ".courseIndex" "asc" }}
{{ $sortedWebsites := slice }}
{{ range $sortedNumericCourseNumbers }}
  {{ $sortedWebsites = $sortedWebsites | append .website }}
{{ end }}
{{ range $sortedAlphabeticCourseNumbers }}
  {{ $sortedWebsites = $sortedWebsites | append .website }}
{{ end }}
{{ return $sortedWebsites }}