{{ $destination := .Destination }}
{{ $isInternalLink := not (strings.HasPrefix $destination "http") }}
{{ $isExternalCourseLink := strings.HasPrefix $destination "/courses" }}
{{ if $isInternalLink }}
  {{ if $isExternalCourseLink }}
    {{ $destination = partial "site_root_url.html" $destination }}
  {{ else }}
    {{ $destination = strings.TrimSuffix "/index.html" $destination }}
    {{ if not (strings.HasSuffix $destination ".html") }}
      {{ $destination = printf "%s/index.html" (strings.TrimSuffix "/" $destination) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $destination }}
