.pdf-viewer {
  .download-link {
    display: block;
    height: 50px;
  }

  .pdf-wrapper {
    height: 0;
    padding-bottom: 130%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
