{{ define "main" }}
<div class="search-wrapper">
  {{ block "header" . }}
  {{ $renderSearchIcon := index .Params "renderSearchIcon" | default true }}
  {{ partialCached "header" . $renderSearchIcon }}
  {{ end }}
  <div class="container-fluid">
    <main>
      <div class="container-fluid p-0">
        <div class="row m-0">
          <div id="search-page" class="w-100"></div>
        </div>
      </div>
    </main>
  </div>
</div>
{{ block "footer" . }}{{ partial "footer" . }}{{end}}
{{ end }}
