{{- $gtmId := getenv "GTM_ACCOUNT_ID" -}}
<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ if $gtmId }}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $gtmId }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {{ end }}
    <div>
      {{ block "notification" . }}{{ partial "notification.html" . }}{{ end }}
      {{ block "main" . }}{{ end }}
    </div>
    {{- $js_urls := slice (partial "get_asset_webpack_url.html" "common.js") -}}
    {{ block "extrajs" . }}{{ end }}
    {{ partial "include_js.html" (dict "context" . "urls" $js_urls) }}
    <!-- Appzi: Capture Insightful Feedback -->
    {{ partial "mathjax_if_necessary.html" (dict "context" .) }}
    <script async src="https://w.appzi.io/w.js?token=Tgs1d"></script>

    <!-- End Appzi -->
  </body>
</html>
