button.blue-btn,
a.blue-btn {
  background-color: $blue;
  color: white;
  margin: 0 10px 5px 0;
  padding: 9px 36px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

button.blue-btn.outlined {
  border: 1px solid $blue;
  background: white;
  color: black;
  display: flex;
  width: 160px;
  text-align: center;
  align-items: center;

  &:enabled:hover {
    border-color: $blue;
    background: $blue;
    color: white;
  }

  &:disabled {
    border-color: $medium-gray;
    color: $medium-gray;
  }
}

button.red-btn,
a.red-btn {
  background-color: $about-red;
  color: #fff !important;
  margin: 0 10px 5px 0;
  padding: 9px 36px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
