#external-link-modal {
  z-index: 2147483647 !important;
  .modal-footer {
    justify-content: space-between;

    .btn-primary,
    .btn-outline-primary:hover {
      color: white;
    }

    .btn {
      flex: 1;
      white-space: nowrap;
      padding: 12px 30px;
      font-size: $font-lg;
      text-decoration: none;
    }
  }
}

.external-link.nav-link::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: cover;
  margin: 0 2px 0 4px;
}
