.font-cardo {
  font-family: "Cardo";
}

.font-cardo-bold {
  font-family: "Cardo Bold";
}

.font-cardo-italic {
  font-family: "Cardo Italic";
}

.font-Helvetica {
  font-family: "Helvetica";
}

.font-helvetica-light {
  font-family: "Helvetica Light";
}

.font-Helvetica-bold {
  font-family: "Helvetica Bold";
}
