#footer-container {
  background-color: $footer-background-color;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d2d2d2;
  width: 100%;

  #home-footer {
    max-width: $max-home-width;
    padding: 35px 3rem 30px 3rem;

    @include media-breakpoint-down(md) {
      padding: 35px 2rem 30px 2rem;
    }
  }

  .row-gap-20 {
    row-gap: 20px;
  }

  .support-link-column {
    width: 55%;
    font-weight: bold;
  }

  .support-link-container {
    font-weight: bold;
    a {
      padding-left: 10px;
    }
  }

  .about-courseware {
    width: 50%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  p {
    line-height: 24px;
    margin: 0px;
  }

  #open-learning-logo {
    img {
      width: 128.65px;
    }

    @media (max-width: $extra-small-screen-width) {
      padding-top: 2rem;
      padding-left: 0 !important;
    }
  }

  .footer-social-icon {
    height: 26px;
  }

  .footer-social-icon.nudge-up {
    position: relative;
    top: -1px;
  }

  .oeg-logo {
    width: 100px;
  }

  .horizontal-list {
    display: flex;
    margin-top: auto;
    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        padding-right: 28px;
        margin-bottom: 2px;
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }

        &:last-child {
          padding-right: 0px;
        }
      }
    }
  }
}
