// This file has been created in base-theme in-case 
// we want to use this new footer in other themes (www, course-offline etc)
.footer{
	background-color: $white;
	font-size: $font-sm !important;
	color: #595959 !important;
  
  	.footer-main-content{
		max-width: $max-content-width;
		padding: 1.5rem 1rem 2.5rem 1rem !important;
		
		.footer-social-icon {
			height: 22px;
			width: 22px;
			margin-left: 5px;
    		margin-right: 5px;
		}

		.footer-links > * {
			margin-left: 5px;
    		margin-right: 5px;
		}
  	}
}