// This file has been created in base-theme in-case
// we want to use this new footer in other themes (www, course-offline etc)

.footer-v3 {
  border-top: 1px solid #8c8c8c;

  &__logo {
    height: 48px;
  }

  &__address {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  &__link {
    color: #000000;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.125rem;

    &:hover {
      color: #cc0000;
    }
  }

  &__copyright-text {
    color: #8c8c8c;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .left-container {
    gap: 30px;
  }
}
