#footer-container {
  background-color: $footer-background-color;
  display: flex;
  padding: 35px 50px 30px 50px;
  flex-direction: column;
  border-top: 1px solid #d2d2d2;

  @include media-breakpoint-down(lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .row-gap-20 {
    row-gap: 20px;
  }

  .support-link-column {
    width: 55%;
    font-weight: bold;
    font-size: 14px;
  }

  .support-link-container {
    font-weight: bold;
    font-size: 14px;
    a {
      padding-left: 10px;
    }
  }

  .about-courseware {
    width: 50%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
  }

  #open-learning-logo {
    img {
      width: 220px;
    }

    @media (max-width: $extra-small-screen-width) {
      padding-top: 2rem;
      padding-left: 0 !important;
    }
  }

  .social-icon {
    height: 24px;
  }

  .horizontal-list {
    display: flex;
    margin-top: auto;
    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        padding-right: 28px;
        margin-bottom: 5px;

        &:last-child {
          padding-right: 0px;
        }
      }
    }
  }
}
