#mobile-header {
  #ocw-logo-mobile {
    width: 250px;
    height: 39px;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -18px;
  }

  .search-icon {
    display: flex;
    text-decoration: none;
    color: $orange;
    padding-bottom: 0;

    .material-icons {
      font-size: 1.75rem;
    }
  }
}

#desktop-header {
  height: $desktop-header-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .contents {
    display: flex;
    justify-content: space-between;
    max-width: $max-content-width;
    margin: auto;
    width: 100%;
    height: 100%;

    .right,
    .left {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    .left {
      .ocw-logo {
        img {
          height: 40px;
        }
      }
    }

    .right {
      justify-content: flex-end;

      .search-icon {
        display: flex;
        text-decoration: none;
        color: $orange;

        .material-icons {
          font-size: 1.75rem;
        }
      }

      a {
        font-size: 14px;
        text-transform: uppercase;

        &.give-button-header {
          background-color: $orange;
          text-decoration: none;
          border-radius: 5px;
        }
      }
    }
  }
}

#home-header {
  #desktop-header {
    position: absolute;
    background-color: transparent;

    @include media-breakpoint-down(lg) {
      height: 90px;
    }
  }
}
