#mobile-header {
  #ocw-logo-mobile {
    width: 250px;
    height: 39px;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -18px;
  }

  .search-icon {
    display: flex;
    text-decoration: none;
    padding-bottom: 0;

    .material-icons {
      font-size: $material-icon-font-lg;
    }
  }
}

.search-wrapper {
  #desktop-header .contents {
    padding: 0 3rem;
  }
}
#desktop-header {
  height: $desktop-header-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .contents {
    display: flex;
    max-width: $max-content-width;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    .right,
    .left {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    .left {
      .ocw-logo {
        img {
          width: 260px;
        }
      }
    }

    .right {
      justify-content: flex-end;

      .search-icon {
        display: flex;
        text-decoration: none;

        .material-icons {
          font-size: $material-icon-font-lg;
        }

        .offline-search-icon {
          height: 1.75rem;
          width: 1.75rem;
        }
      }

      a {
        font-size: $font-sm;
        text-transform: uppercase;

        &.give-button {
          padding: 13px 20px 10px 20px;
          border-bottom: 3px solid #851124;
          border-radius: 5px;

          img {
            height: 13px;
          }
        }
      }
    }
  }
}
.give-button {
  color: $white;
  text-wrap: nowrap;
  background-color: #a31f34;
  text-decoration: none;
}
.give-button:hover > img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7486%)
    hue-rotate(142deg) brightness(96%) contrast(103%);
}

#home-header {
  #desktop-header {
    position: absolute;
    background-color: transparent;

    @include media-breakpoint-down(lg) {
      height: 90px;
    }
    .contents {
      max-width: $max-home-width;
    }
  }
}

#collection-header {
  width: 100%;
  height: 300px;

  img {
    object-fit: cover;
    width: inherit;
    height: inherit;
  }
}
