#mobile-header {
  #ocw-logo-mobile {
    width: 250px;
    height: 39px;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -18px;
  }

  .search-icon {
    display: flex;
    text-decoration: none;
    color: $orange;
    padding-bottom: 0;

    .material-icons {
      font-size: $material-icon-font-lg;
    }
  }
}

#desktop-header {
  height: $desktop-header-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .contents {
    display: flex;
    justify-content: space-between;
    max-width: $max-content-width;
    padding: 0 3rem 0 3rem !important;
    margin: auto;
    width: 100%;
    height: 100%;

    .right,
    .left {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    .left {
      .ocw-logo {
        img {
          width: 260px;
        }
      }
    }

    .right {
      justify-content: flex-end;

      .search-icon {
        display: flex;
        text-decoration: none;
        color: $orange;

        .material-icons {
          font-size: $material-icon-font-lg;
        }

        .offline-search-icon {
          height: 1.75rem;
          width: 1.75rem;
        }
      }

      a {
        font-size: $font-sm;
        text-transform: uppercase;

        &.give-button {
          // height: 42px;
          // font-size: 0.9375rem;
          padding: 13px 20px 10px 20px;
          border-bottom: 3px solid #851124;
          border-radius: 5px;

          img {
            height: 0.8125rem;
          }
        }
      }
    }
  }
}

#home-header {
  #desktop-header {
    position: absolute;
    background-color: transparent;

    @include media-breakpoint-down(lg) {
      height: 90px;
    }
  }
}

#collection-header {
  width: 100%;
  height: 300px;

  img {
    object-fit: cover;
    width: inherit;
    height: inherit;
  }
}
