@import "imports/reset";
@import "imports/_mixins";
@import "bootstrap-overrides";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~offcanvas-bootstrap/src/sass/bootstrap.offcanvas";

@import "breakpoints";
@import "border";
@import "button";
@import "color";
@import "font";
@import "header";
@import "footer";
@import "footer-v2";
@import "text";
@import "pdf";
@import "video";

/* CUSTOM STYLES */
body {
  font-family: "Helvetica";
}

.underline {
  text-decoration: underline;
}

blockquote {
  margin-left: 2em;
}

a {
  color: black;
  text-decoration: underline;

  &:visited {
    color: black;
  }

  &:hover {
    color: black;
  }
}

h1 {
  font-size: $heading-one-font-lg;
  line-height: $heading-one-line-height-lg;
  color: $black;

  @include media-breakpoint-down(xs) {
    font-size: $heading-one-font-xs;
    line-height: $heading-one-line-height-xs;
  }
}

h2 {
  font-size: $heading-two-font-lg;
  line-height: $heading-two-line-height-lg;
  color: $black;

  @include media-breakpoint-down(xs) {
    font-size: $heading-two-font-xs;
    line-height: $heading-two-line-height-xs;
  }

  &.branded {
    font-family: Helvetica, sans-serif;
    font-weight: 300;

    span {
      color: $orange;
      font-weight: 600;
    }
  }
}

h3 {
  font-size: $heading-three-font;
  line-height: $heading-three-line-height;
  color: $black;
}

a + h3 {
  margin-top: 1rem;
}

h4 {
  font-size: $heading-four-font;
  line-height: $heading-four-line-height;
  color: $black !important;
}

h5 {
  font-size: $heading-five-font;
  line-height: $heading-five-line-height;
  color: $panel-course-info-text-color;
  text-transform: uppercase;
}

.standard-width {
  max-width: $max-home-width;
}

.img-link,
.img-link:visited,
.img-link:hover,
.img-link:active {
  text-decoration: none;
}

.link-unstyled {
  text-decoration: none;
}

.max-content-width {
  max-width: $max-content-width;
}

.outer-wrapper {
  min-height: 100vh;
  margin: auto auto;

  @include media-breakpoint-up(lg) {
    max-width: $max-content-width;
  }

  @include media-breakpoint-down(md) {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

.left-col-bg {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50vw;
    height: 100vh;
    background-color: $light-gray;
    z-index: -1;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.medium-and-below-only {
  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}

.large-and-above-only {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.xl-and-above-only {
  @include media-breakpoint-down(lg) {
    display: none !important;
  }
}

.sm-and-below-only {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.md-and-above-only {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.column-below-medium {
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.m-0-auto {
  margin: 0 auto;
}

/* BOOTSTRAP EXTENSIONS / OVERRIDES */

nav {
  @extend .nav;
}

nav > ul {
  @extend .navbar-nav;
}

nav > ul > li {
  @extend .nav-item;
}

nav > ul > li > a {
  @extend .nav-link;
}

table {
  @extend .table;
}

.bg-black {
  background-color: $black;
}

.bg-light {
  background-color: $light-gray !important;
}

.bg-blue {
  background-color: $blue;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-white-desktop {
  @include media-breakpoint-up(lg) {
    background-color: $white !important;
  }
}

.text-white-mobile {
  @include media-breakpoint-down(md) {
    color: $white !important;
  }
}

.icon-text-box-wrapper {
  border: 0.5px solid $medium-gray;
  background-color: $light-gray;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.material-icons {
  @include icon-styles;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: $material-icon-font-normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.material-icons-round {
  @include icon-styles;
  font-family: "Material Icons Round";
}

.border-left-gray {
  border-left: 1px solid $medium-gray;
}

.border-bottom-gray {
  border-bottom: 1px solid $medium-gray;
}

.border-top-gray {
  border-top: 1px solid $medium-gray;
}

.border-gray {
  border: 1px solid $medium-gray;
}

.content {
  img {
    max-width: 100%;
  }
  td {
    img {
      // Incase of img in td setting maxwith to 100% will lead to img
      // to only have the width of the table column
      max-width: none;
    }
  }
}

article.content {
  font-size: $font-normal;

  h2 {
    color: $highlight-red;
  }

  // sometimes the tables can be wide, and on mobile that can ruin the overall page width
  // this forces the table to scroll if it's too wide
  table {
    display: table;
    overflow: auto;

    thead {
      background-color: $blue;
      color: white;
      text-transform: uppercase;

      th {
        border: none;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: none;
      }

      tr:nth-child(even) {
        background-color: $light-gray;
      }

      td {
        border: none;
      }
    }
  }
}

.course-section-title-container {
  padding-right: 1.5rem;

  #course-title {
    border-bottom: 1px solid $medium-gray;
  }

  @include media-breakpoint-down(xs) {
    padding-right: 15px;
  }
}

.download-file {
  display: initial;
  padding: 15px 33px;
  background-color: $resource-download-btn-color;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out, 0.15s color ease-in-out;

  @include media-breakpoint-down(xs) {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
}

.download-file:visited {
  color: white;
}

.download-file:hover {
  color: white;
  text-decoration: none;
  background-color: $resource-download-btn-hover-color;
}

.download-button-container {
  .button-wrapper {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

.white-color {
  color: $white !important;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.aspect-ratio-16-9 {
  aspect-ratio: 16/9 !important;
}

.pointer {
  cursor: pointer;
}

/* This CSS override can be removed once we upgrade to bootstrap 5 */
/* revert the bootstrap 4 rule */
button:focus:not(.focus-visible) {
  outline: revert;
}
/* re-add it so that it only applies to btn buttons */
button.btn:focus:not(.focus-visible) {
  outline: 0;
}
