.resource-page-container {
  margin-top: 20px;
  padding-right: 1.5rem;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .label {
      font-weight: 700;
      margin-bottom: 15px;
    }

    .content {
      margin-bottom: 15px;
      p {
        margin: 0;
      }
    }

    .label.resource-type {
      margin-right: 20px;
    }
  }

  .row.resource-type {
    padding-left: 15px;
    padding-right: 15px;
  }
}
