$desktop-nav-max-width: 470px;
$max-content-width: 1447px;
$desktop-header-height: 116px;
$desktop-header-max-width: 1664px;
$enable-responsive-font-sizes: true;
$font-size-base: 0.8rem;
$headings-font-weight: 600;
$table-cell-padding: 0.5rem;
$offcanvas-width: 85vw;
$transparent: #ffffff00;
$white: #ffffff;
$black: #000000;
$transparent-black: #00000080;
$light-gray: #f5f5f5;
$dark-gray: #d8d8d8;
$darker-gray: #6f6f6f;
$border-dark-color: #979797;
$border-light-color: #b0b0b0;
$bg-gray: #d5d5d5;
$partial-collapse-height: 6em;
$font-gray-light: #b0b0b0;
$font-gray-mid: #8a8b8c;
$card-background: #fff;
$font-gray: #888;
$podcast-border-gray: #9c9d9e;
$medium-gray: #c2c0bf;
$label-gray: #3d3d3d;

// full-color design
$highlight-red: #a31f34;
$approx-students-red: #a22732;
$orange: #ff8a1f;
$blue: #126f9a;
$link-blue: #32c5ff;
$text-gray: #7c7b7d;
$border-gray: #c2c0bf;
$border-dark-gray: #cfcfcf;
$border-darker-gray: #979797;

// home page
$give-heart-gray: #bbbbbb;
$text-box-border: #a3a3a3;
$text-box-background: #fbfbfb;
$max-home-width: 1280px;

$search-bg-gray: #f7f7f7;
$search-gray: rgba(0, 0, 0, 0.85);
$featured-facet-blue: #385d70;
$bg-light-gray: #f5f5f5;
$transparency-gray: rgba(246, 247, 249, 0.77);

// course pages
$course-content-link-unclicked: #115f83;
$course-content-link-hover-clicked: #355b6b;
