$desktop-nav-max-width: 470px;
$max-content-width: 1447px;
$desktop-header-height: 116px;
$desktop-header-max-width: 1664px;
$extra-small-screen-width: 400px;
$enable-responsive-font-sizes: true;
$font-size-base: 0.8rem;
$headings-font-weight: 600;
$table-cell-padding: 0.5rem;
$offcanvas-width: 85vw;
$transparent: #ffffff00;
$white: #ffffff;
$black: #000000;
$transparent-black: #00000080;
$light-gray: #f5f5f5;
$medium-light-gray: #e9e9e9;
$medium-gray: #9c9d9e;
$dark-gray: #3d3d3d;
$partial-collapse-height: 6em;

// full-color design
$highlight-red: #a31f34;
$orange: #ff8a1f;
$blue: #126f9a;
$link-blue: #32c5ff;
$success-message-color: #569a5a;
$tab-border-color: #32a8d1;

// home page
$max-home-width: 1280px;

$search-gray: rgba(0, 0, 0, 0.85);
$featured-facet-blue: #385d70;
$transparency-gray: rgba(246, 247, 249, 0.77);
$transparency-gray-light: rgba(246, 246, 246, 0.71);

// course pages
$course-content-link-unclicked: #115f83;
$course-content-link-hover-clicked: #355b6b;

// about page
$timeline-spacing: 128px;
$about-red: #a92d41;

// footer partials
$footer-background-color: #f6f7f9;
