.video-tab-header {
  border-top: 1px solid #3d3c3d;
  background-color: black;
  color: white;
  height: 37px;
  .tab-title {
    font-family: "Roboto";
    line-height: 1.14rem;
    text-transform: uppercase;
    color: $video-tab-title-color !important;
    position: relative;
    bottom: 4px;
    left: 2px;
  }
  .tab-title-section {
    display: flex;
    flex: 1;

    > * {
      padding-right: 10px;
      background: none;
      border: none;
    }
    a {
      padding: 5px 15px;
      text-decoration: none;
      display: inline-block;
    }
  }
}
.video-tab.container {
  padding-left: 0px;
}
.video-tab-content-section {
  padding-top: 5px;
  padding-bottom: 7px;
}
.video-tab-content-section > a {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.video-tab.container {
  background-color: $light-gray;
  color: $video-tab-content-color;
  a {
    color: $video-tab-content-color;
  }
}
.video-tab.container:not(.transcript) {
  padding-left: 6%;
}

.video-tab-toggle-section {
  i.toggle:after {
    content: "keyboard_arrow_right";
  }
  i.toggle {
    color: $white;
    position: relative;
    top: 2px;
  }
}

.tab-toggle-button {
  flex: auto;
  text-align: left;
  padding: 5px 0px 5px 15px;
}

.tab-toggle-button[aria-expanded="true"] {
  i.toggle:after {
    content: "keyboard_arrow_down";
  }
}

.video-download-icons {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: $white;
  padding: 5px 15px 5px 0px;
  i.caret-down:after {
    content: "\e5c5";
  }
  i.caret-down {
    font-size: 1.35rem;
  }
  img.video-download-icon {
    height: 22px;
    position: relative;
    left: 9px;
    vertical-align: baseline;
  }
}
