.video-tab-header {
  border-top: 1px solid #3d3c3d;
  background-color: black;
  color: white;
  height: 37px;
  .tab-title {
    line-height: 1.14rem;
    font-size: $video-tab-title-font-size;
    text-transform: uppercase;
    color: $video-tab-title-color !important;
    position: relative;
    bottom: 4px;
    left: 2px;
  }
  .tab-title-section {
    display: flex;
    flex: 1;

    > * {
      padding-right: 10px;
      background: none;
      border: none;
    }
    a {
      padding: 5px 10px 5px 15px;
      text-decoration: none;
      display: inline-block;
    }
  }
}
.video-tab-content-section {
  padding-top: 5px;
  padding-bottom: 7px;
}
.video-tab-content-section > a {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.video-tab.container {
  max-width: inherit !important;
  padding-left: 0px;
  background-color: $light-gray;
  color: $video-tab-content-color;
  a {
    color: $video-tab-content-color;
  }
}
.video-tab.container:not(.transcript) {
  padding-left: 6%;
}

.video-tab-toggle-section {
  position: relative;
  i.toggle:after {
    content: "keyboard_arrow_right";
  }
  i.toggle {
    color: $white;
    position: relative;
    top: 2px;
  }
}

.tab-toggle-button {
  flex: auto;
  text-align: left;
  padding: 5px 0px 5px 15px;
}

.tab-toggle-button[aria-expanded="true"] {
  i.toggle:after {
    content: "keyboard_arrow_down";
  }
}

.video-download-icons {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: $white;
  padding: 5px 15px 5px 0px;
  i.caret-down:after {
    content: "\e5c5";
  }
  i.caret-down {
    font-size: 1.35rem;
  }
  img.video-download-icon {
    height: 22px;
    position: relative;
    left: 9px;
    vertical-align: baseline;
  }
}

.video-gallery-card {
  a {
    user-select: none;
    text-decoration: none;

    .inner-container {
      display: flex;
      justify-content: space-between;
      background-color: white;
      color: black;
      padding: 10px;
      margin: 0;
      text-align: left;
      width: 100%;
      align-items: center;
      cursor: pointer;

      @include media-breakpoint-down(xs) {
        padding: 0px;
      }
      .left-col {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img.thumbnail {
          border-radius: 5px;
          width: 100%;
          max-width: 150px;

          @include media-breakpoint-down(md) {
            border-radius: 0px;
          }
        }

        img.youtube-logo-overlay {
          position: absolute;
          opacity: 0.3;
          left: 0;
          top: 0;
          transform: scale(0.62);
          width: 100%;
          height: 100%;
        }
      }

      .right-col {
        position: relative;
        margin-left: 10px;
        width: 100%;

        @include media-breakpoint-down(xs) {
          margin: 0px;
        }
        .video-title {
          margin: 5px 10px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          @include media-breakpoint-down(xs) {
            font-size: 0.7975rem !important;
            line-height: 1rem !important;
            -webkit-line-clamp: 4;
          }
        }
      }
    }
  }
}

.video-embed {
  margin-bottom: 15px;
}

.video-player-wrapper {
  max-width: $video-player-max-width;
}

.video-page {
  margin-bottom: 15px;

  .video-container {
    height: 0;
    padding-bottom: 56% !important;
    position: relative;
    max-width: 100%;
    margin-bottom: 1px;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-download-container {
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.video-download-button {
  float: right;
  font-size: $font-sm;
  color: white;
}

a.video-download-button:visited {
  color: white;
}

#course-main-content a.download-file.video-download-button:link {
  color: white;
}

#course-main-content a.download-file.video-download-button:visited {
  color: white;
}

@include media-breakpoint-down(md) {
  .video-download-container {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  .video-download-container:first-child {
    padding-bottom: 0px;
  }
}

.video-tab-download-popup {
  position: absolute;
  right: 2.5%;
  background-color: $white;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999 !important; // Need a higher z-index than active transcript line
}
.video-tab-download-popup.hidden {
  visibility: hidden;
}
.video-tab-download-popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.video-tab-download-popup a {
  display: block;
  padding: 5px 40px 5px 5px;
  text-decoration: none;
  color: $black !important;
}

.video-tab-download-popup a:hover {
  background-color: $light-gray;
}

.youtube-container .vjs-poster,
.youtube-container .vjs-big-play-button {
  display: none !important;
}

//video element is replaced by VideoJS; set dimensions to prevent layout shift when VJS loads.
.youtube-container > video {
  height: 0;
  max-width: 100%;
  width: 100%;
  padding-top: 56.25%; // apply aspect ratio padding of (9,16)
}
