{{- $gtmId := getenv "GTM_ACCOUNT_ID" -}}
<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <div>
      {{ block "notification" . }}{{ partial "notification.html" . }}{{ end }}
      {{ block "main" . }}{{ end }}
    </div>
    {{- $webpack := .Site.Data.webpack -}}
    {{- $js_urls := slice (partial "get_asset_webpack_url.html" "common.js") -}}
    {{ block "extrajs" . }}{{ end }}
    {{ partial "include_js.html" (dict "context" . "urls" $js_urls) }}
  </body>
</html>
