{{ define "main" }}
<div class="h-100v">
  {{ block "header" . }}
  {{ partial "header" . }}
  <div class="d-flex flex-column justify-content-between h-100">
    <div>
      <div class="row mt-6 px-6">
        <div class="col-12">
          <h1>{{.Title}}</h1>
        </div>
      </div>
      {{end}}
      <div class="container standard-width mt-5 px-6 mx-0 page-container">    
        {{ .Content }}
      </div>
    </div>
    {{ block "footer" . }} {{ partial "footer" . }} {{ end }}
</div>
</div>
{{ end }}
