{{- $uuid := default "" (.Get "uuid") -}}
{{- $href := default "" (.Get "href") -}}
{{- $href_uuid := default "" (.Get "href_uuid") -}}
{{- $page := .Page -}}

{{- if not $uuid -}}
  {{- $uuid = index .Params 0 -}}
{{- end -}}


{{- range $.Site.Pages -}}
  {{- if eq (replace .Params.uid "-" "") (replace $uuid "-" "") -}}
    {{- if eq .Params.resourcetype "Image" -}}
      {{ partial "image_resource.html" (dict  "context" $page "resource" . "href" $href "href_uuid" $href_uuid) }}
    {{- else if eq .Params.resourcetype "Video" -}}
      {{ partial "video_embed.html" (dict "context" $page "resource" .) }}
    {{- else -}}
      <a href="{{ partial "resource_url.html" (dict "context" $page "url" .Params.file) }}">{{ .Params.title }}</a>
    {{- end -}}
  {{- end -}}
{{- end -}}
