{{- $uuid := index .Params 0 -}}
{{- $title := index .Params 1 | safeHTML -}}
{{- $anchor_id := index .Params 2 | default ""}}
{{- range where $.Site.Pages "Params.uid" $uuid -}}
  {{- if eq .Params.content_type "external-resource" -}}
    {{- if findRE "^(?:http|https|ftp|mailto)" $title -}}
      {{- $title = (replace $title "/" "\\/") -}}
    {{- end -}}
    {{- partial "external_resource_link"
      (merge .Params (dict "text" $title))
    -}}
  {{- else -}}
    [{{ $title }}]({{- .Permalink -}}{{- $anchor_id -}})
  {{- end -}}
{{- end -}}
