{{- $href := .Get "href" -}}
<div class="mb-2 border-light-gray rounded video-gallery-card">
  {{- with .Site.GetPage $href }}
  <a class="video-link" href="{{- .URL -}}">
  {{ else }}
  <a class="video-link" href="{{- strings.TrimSuffix "/" .Site.BaseURL -}}/{{- strings.TrimPrefix "/" $href -}}">
  {{ end }}
    <div class="inner-container">
      <div class="left-col">
            <img class="thumbnail" src ="{{ .Get "thumbnail" }}" />
            <img class="youtube-logo-overlay" src="/images/youtube.svg" />
      </div>
      <div class="right-col">
        <h5 class="section-title">{{ .Get "section" }}</h5>
        <h5 class="video-title">{{ .Get "title" }}</h5>
        <div class="video-description">{{ .Get "description" }}</div>
        <div class="play-button">
          <span>PLAY</span>
          <i class="material-icons">play_arrow_icon</i>
        </div>
      </div>
    </div>
  </a>
</div>
