{{ $bannerClass := "text-capitalize display-4 m-0 text-white" }}
{{ $currentPage := . }}
{{ $pathToRoot := partial "path_to_root.html" . }}
<div id="course-banner" class="p-0">
  <div class="max-content-width course-banner-content m-auto py-3">
    {{- $courseData := .Site.Data.course -}}
    {{ $courseHomePage := .Site.GetPage "/" }}
    {{ $url := $courseHomePage.RelPermalink }}
    {{ if site.Params.offline }}
      {{ $url = printf "%sindex.html" $pathToRoot }}
    {{ end }}
    <span class="course-number-term-detail">{{ $courseData.primary_course_number }} | {{ $courseData.term }} {{ $courseData.year }} | {{ delimit $courseData.level ", " }}</span>
    <br>
    <h1 class="{{ $bannerClass }}">
      <a  class="text-white"
          href="{{ $url }}"
        >{{ $courseData.course_title }}</a></h1>
  </div>
</div>
