{{- $gtmId := getenv "GTM_ACCOUNT_ID" -}}
<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head.html" . }}
{{ $pageDepth := strings.Count "/" .RelPermalink }}
<body class="course-home-page">
  {{ if $gtmId }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $gtmId }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{ end }}
  <div class="overflow-auto">
    <span class="course-header">
    {{ partialCached "mobile_course_nav.html" . }}
    {{ partialCached "mobile_course_info.html" . $pageDepth }}
    {{ block "header" . }}{{ partialCached "header" . }}{{ end }}
    </span>
    {{ $isCourseHomePage := (eq .Params.layout "course_home") }}
    {{ block "subheader" . }}{{ partial "course_banner.html" . }}{{ end }}

    <div id="course-main-content">
      <div class="row">
        <div class="col-12 course-home-grid">
          <div class="medium-and-below-only">
            <div class="d-flex align-items-center mb-3">
              <div class="col-6 px-0">
                {{ partial "mobile_nav_toggle.html" . }}
              </div>
              <div class="col-6 px-0">
                {{ partial "course_info_toggle.html" (dict "isCourseHomePage" $isCourseHomePage) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row course-cards">
        <div class="col-2 course-home-grid large-and-above-only">  
          {{ partialCached "desktop_nav.html" . }}
        </div>
        <div class="col-sm-12 col-lg-10 course-home-grid">
          <div class="">
            <div class="card">
              <div class="d-flex justify-content-between">
                <div class="p-0 col-lg-9" id="main-course-section">
                  <div class="card-body">
                    {{ block "main" . }}{{ end }}
                  </div>
                </div>
                {{ if not $isCourseHomePage }}
                  {{ partialCached "desktop_course_info.html" . $pageDepth }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ block "footer" . }}{{ partial "footer-v2" . }}{{end}}
  </div>
  {{ partialCached "hide_offline_links.html" . }}
  {{ partial "external_link_modal" }}
  <script>
    // Script for maintaining and toggling course drawer state
    // note: This script is placed here instead of being in the bundle so it runs as soon as the HTML is rendered 
    // this way, a glitch/layout thrashing in the course drawer is avoided.
    // code for toggling the course drawer has also been placed here to avoid code duplication.
    
    // constants
    'use strict';
    const COURSE_DRAWER_LOCAL_STORAGE_KEY = "desktopCourseDrawerState"
    const COURSE_DRAWER_OPENED = "opened"
    const COURSE_DRAWER_CLOSED = "closed"
    // IDs of elements
    const DESKTOP_COURSE_DRAWER_ID = "desktop-course-drawer"
    const COURSE_DRAWER_BTN_ID = "desktop-course-drawer-button"
    const MAIN_COURSE_SECTION_ID = "main-course-section"

    try{

      /*
      * Checks if user has already selected any option/state for drawer then it sets that else keep it open by default
      */
      function initializeDesktopCourseDrawerState() {
        const state = getLocalStorageItem(COURSE_DRAWER_LOCAL_STORAGE_KEY)
        if (state === null) {
          // No preference found so setting to "opened" as default and opening the drawer
          setLocalStorageItem(COURSE_DRAWER_LOCAL_STORAGE_KEY, COURSE_DRAWER_OPENED)
          showOrHideDesktopCourseDrawer(COURSE_DRAWER_OPENED)
        } else {
          showOrHideDesktopCourseDrawer(state)
        }

        document.addEventListener("DOMContentLoaded", () => {
          const drawer = $(`#${DESKTOP_COURSE_DRAWER_ID}`)
          const mainSection = $(`#${MAIN_COURSE_SECTION_ID}`)

          drawer.on("shown.bs.collapse", (event) => {
            if (event.target.id !== DESKTOP_COURSE_DRAWER_ID) {
              return;
            }
            mainSection.addClass("col-lg-9")
            mainSection.removeClass("col-12")
            setLocalStorageItem(COURSE_DRAWER_LOCAL_STORAGE_KEY, COURSE_DRAWER_OPENED)
          })
      
          drawer.on("hidden.bs.collapse", (event) => {
            if (event.target.id !== DESKTOP_COURSE_DRAWER_ID) {
              return;
            }
            mainSection.addClass("col-12")
            mainSection.removeClass("col-lg-9")
            setLocalStorageItem(COURSE_DRAWER_LOCAL_STORAGE_KEY, COURSE_DRAWER_CLOSED)
          })
        })
      }

      function showOrHideDesktopCourseDrawer(state) {
        const drawer = document.getElementById(DESKTOP_COURSE_DRAWER_ID)
        const button = document.getElementById(COURSE_DRAWER_BTN_ID)
        const mainSection = document.getElementById(MAIN_COURSE_SECTION_ID)

        if (state === COURSE_DRAWER_OPENED) {
          drawer.classList.add("show")
          button.setAttribute("aria-expanded", "true")
        } else {
          drawer.classList.remove("show")
          button.setAttribute("aria-expanded", "false")
          mainSection.classList.remove("col-lg-9")
          mainSection.classList.add("col-12")
        }
      }

      function setOrGetLocalStorageItem(action,key,value) {
        try {
          // checking browser support for localStorage
          if (typeof Storage !== "undefined") {
            if (action === "set") {
              localStorage.setItem(key, value)
              return true
            } else {
              return localStorage.getItem(key)
            }
          }
          console.error("This browser has no web storage support.")
          return null
        } catch (e) {
          console.error("An exception occurred while storing/fetching data in/from localstorage: ", e)
          return null
        }
      }

      function setLocalStorageItem(key, value) {
        return setOrGetLocalStorageItem("set", key, value)
      }
      
      function getLocalStorageItem(key){
        return setOrGetLocalStorageItem("get", key)
      }

      initializeDesktopCourseDrawerState();
    }
    catch(e){
      console.error("Something went wrong in maintaining/toggling course drawer state", e)
    }
  </script>

  {{ partialCached "navigation_js.html" . }}
  {{ partialCached "responsive_tables_js.html" . }}
</body>

</html>
