{{- $gtmId := getenv "GTM_ACCOUNT_ID" -}}
<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head.html" . }}
<body class="course-home-page">
  {{ if $gtmId }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $gtmId }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{ end }}
  <div class="overflow-auto">
    {{ partialCached "mobile_course_nav.html" . }}
    {{ partialCached "mobile_course_info.html" . }}
    {{ block "header" . }}{{ partialCached "header" . }}{{ end }}
    {{ $isCourseHomePage := (eq .Params.layout "course_home") }}
    {{ if not $isCourseHomePage }}
    <div class="show-course-info medium-and-below-only bg-light shadow-sm border border-right-0 rounded-left">
      <div class="btn px-2 m-0 toggle navbar-toggle offcanvas-toggle text-uppercase font-weight-bold"
        data-toggle="offcanvas" data-target="#course-info-drawer">
        Course Info
      </div>
    </div>
    {{ end }}
    {{ block "subheader" . }}{{ partialCached "course_banner.html" . }}{{ end }}

    <div id="course-main-content">
      <div class="row">
        <div class="col-12 course-home-grid">
          <div class="medium-and-below-only">
            {{ partial "mobile_nav_toggle.html" . }}
          </div>
        </div>
      </div>
      <div class="row course-cards">
        <div class="col-2 course-home-grid large-and-above-only">  
          {{ partialCached "desktop_nav.html" . }}
        </div>
        <div class="col-lg-10 col-sm-12 course-home-grid">
          <div class="">
            <div class="card">
              <div class="d-flex">
                <div class="col-12 col-md-12 p-0" id="main-course-section">
                  <div class="card-body">
                    {{ block "main" . }}{{ end }}
                  </div>
                </div>
                {{/*  adding d-none class here as this section (with id="desktop-course-drawer") is being controlled (shown/hidden) 
                via script written below hence hidden at the start to avoid a quick glitch  */}}
                <div class="p-0 large-and-above-only d-none" id="desktop-course-drawer">
                  {{ if not $isCourseHomePage }}
                    {{ partialCached "desktop_course_info.html" . }}
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ if not $isCourseHomePage }}
        <button id="show-desktop-course-drawer" class="show-course-info large-and-above-only bg-light shadow-sm border border-right-0 rounded-left p-0 d-none">
          <span class="btn px-2 m-0 toggle navbar-toggle offcanvas-toggle font-weight-bold">
            Show Course Info
        </span>
        </button>
        {{ end }} 
      </div>
    </div>

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  </div>

  <script>
    // Script for maintaining and toggling course drawer state
    // note: This script is placed here instead of being in the bundle so it runs as soon as the HTML is rendered 
    // this way, a glitch/layout thrashing in the course drawer is avoided.
    // code for toggling the course drawer has also been placed here to avoid code duplication.

    try{
      // constants
      const COURSE_DRAWER_LOCAL_STORAGE_KEY = "desktopCourseDrawerState"
      const COURSE_DRAWER_OPENED = "opened"
      const COURSE_DRAWER_CLOSED = "closed"
      // IDs of elements
      const DESKTOP_COURSE_DRAWER_ID = "desktop-course-drawer"
      const SHOW_COURSE_DRAWER_BTN_ID = "show-desktop-course-drawer"
      const HIDE_COURSE_DRAWER_BTN_ID = "hide-desktop-course-drawer"
      const MAIN_COURSE_SECTION_ID = "main-course-section"

      /*
      * Checks if user has already selected any option/state for drawer then it sets that else keep it open by default
      */
      function maintainDesktopCourseDrawerState() {
        const isCourseDrawerOpen = localStorage.getItem(COURSE_DRAWER_LOCAL_STORAGE_KEY)
        if (isCourseDrawerOpen === null) {
          // No preference found so setting to "opened" as default and opening the drawer
          localStorage.setItem(COURSE_DRAWER_LOCAL_STORAGE_KEY, COURSE_DRAWER_OPENED)
          showOrHideDesktopCourseDrawer(COURSE_DRAWER_OPENED)
        } else {
          showOrHideDesktopCourseDrawer(isCourseDrawerOpen)
        }
      }

      /*
      * Adds and defines "click" event listeners for show-drawer and hide-drawer buttons, making this function act as a drawer toggler.
      */
      function toggleDesktopCourseDrawer() {
        const showCourseDrawerBtn = document.getElementById(SHOW_COURSE_DRAWER_BTN_ID)
        const hideCourseDrawerBtn = document.getElementById(HIDE_COURSE_DRAWER_BTN_ID)
        showCourseDrawerBtn.addEventListener("click", () => {
          localStorage.setItem(COURSE_DRAWER_LOCAL_STORAGE_KEY, COURSE_DRAWER_OPENED)
          showOrHideDesktopCourseDrawer(COURSE_DRAWER_OPENED)
        })
        hideCourseDrawerBtn.addEventListener("click", () => {
          localStorage.setItem(COURSE_DRAWER_LOCAL_STORAGE_KEY, COURSE_DRAWER_CLOSED)
          showOrHideDesktopCourseDrawer(COURSE_DRAWER_CLOSED)
        })
      }

      function showOrHideDesktopCourseDrawer(state) {
        const desktopCourseDrawer = document.getElementById(DESKTOP_COURSE_DRAWER_ID)
        const showCourseDrawerBtn = document.getElementById(SHOW_COURSE_DRAWER_BTN_ID)
        const mainCourseSection = document.getElementById(MAIN_COURSE_SECTION_ID)
        if (state === COURSE_DRAWER_OPENED) {
          desktopCourseDrawer.classList.add("col-3")
          desktopCourseDrawer.classList.remove("d-none")
          showCourseDrawerBtn.classList.add("d-none")
          mainCourseSection.classList.add("col-lg-9")
          mainCourseSection.classList.remove("col-md-12")
        } else {
          desktopCourseDrawer.classList.remove("col-3")
          desktopCourseDrawer.classList.add("d-none")
          showCourseDrawerBtn.classList.remove("d-none")
          mainCourseSection.classList.remove("col-lg-9")
          mainCourseSection.classList.add("col-md-12")
        }
      }

      maintainDesktopCourseDrawerState()
      toggleDesktopCourseDrawer()
    }
    catch(e){
      console.log("Something went wrong in maintaining/toggling course drawer state", e)
    }
  </script>

  <script>
    window.MathJax = {
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      },
      displayAlign: "left",
      displayIndent: "2em",
      menuSettings: {
        zoom: "Double-Click",
        mpContext: true,
        mpMouse: true
      },
      errorSettings: {
        message: ["[Math Error]"]
      }
    }
  </script>
  {{ partialCached "navigation_js.html" . }}
  {{ partialCached "responsive_tables_js.html" . }}
  {{- $theme := .Site.Data.webpack.main -}}
  {{- $courseTheme := .Site.Data.webpack.course_v2 -}}
  {{- $mathjax := .Site.Data.webpack.mathjax -}}

  <script src="{{ partial "webpack_url.html" $theme.js }}"></script>
  <script src="{{ partial "webpack_url.html" $courseTheme.js }}"></script>
  <script src="{{ partial "webpack_url.html" "/static/mathjax/tex-svg.js" }}" defer></script>
  <!-- Appzi: Capture Insightful Feedback -->

  <script async src="https://w.appzi.io/w.js?token=Tgs1d"></script>

  <!-- End Appzi -->
</body>

</html>
