.course-home-page {
  background-color: $light-gray;

  .overflow-auto .course-header #desktop-header .contents {
    max-width: $max-content-width;
  }

  #course-main-content {
    max-width: $max-content-width;
    margin: 0 auto;
    gap: 1.5rem;
    
    .course-nav {
      @include media-breakpoint-down(md) {
        position: sticky;
        top: 60px;
        z-index: 500;
      }
    }
  }

  .course-home-grid {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  @include media-breakpoint-down(sm) {
    .course-cards {
      flex-flow: column-reverse;
      gap: 1.5rem;
    }

    .course-home-grid {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }

  .card {
    border-radius: 0px;
    border: 0px;
    height: 100%;
  }

  .container-fluid {
    max-width: $max-content-width;
  }

  .course-home-section {
    padding: 20px 40px 0px 40px;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    &.in-panel {
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    .other-version-list {
      a {
        text-decoration: underline;
        color: $blue;
      }

      li {
        padding-bottom: 4px;
      }
    }
  }

  .course-detail {
    gap: 2rem;
  }
}

#collapsed-description {
  & p:last-of-type {
    display: inline;
  }
}

#collapsed-description, #expanded-description, #full-description {
  color: #000;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;

  button {
    color: #a31f34;
    line-height: inherit !important;
    font-size: inherit !important;
    border: none;
  }
}
