nav {
  display: block !important;

  .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.course-nav {
  a {
    text-decoration: none;

    &.active {
      font-weight: 600;
      background-color: #212326 !important;
      color: #ffffff !important;
      border-radius: 4px;
    }
  }
}

.course-nav-parent {
  padding-left: 8px !important;
  &.active {
    font-weight: 600;
    background-color: #212326 !important;
    // color: #ffffff !important;
    border-left: 5px solid $highlight-red !important;
    border-radius: 4px;
    // padding-left: 14px;
  }
}

.desktop-nav {
  @include media-breakpoint-up(xl) {
    max-width: $desktop-nav-max-width;
  }
}

.mobile-course-nav-toggle-btn {
  border: 1px solid $mobile-menu-btn-color;
  color: $mobile-menu-btn-color;
  border-radius: 15px;
  padding: 3px 15px 3px 10px;
  background: none;
}

.mobile-course-info-toggle-btn {
  color: $mobile-menu-btn-color;
}

.course-nav-text-wrapper {
  width: 100%;
}

.course-nav-section-toggle {
  border: none;
  padding: 0;
  background: none;
}

.course-nav-section-toggle > i:after {
  content: "keyboard_arrow_down";
}

.course-nav-section-toggle[aria-expanded="true"] > i:after {
  content: "keyboard_arrow_up" !important;
}

.course-nav-child-nav {
  list-style: none;
}

.course-nav-child-nav > li {
  padding-right: 0 !important;
}
