$panel-course-info-text-color: #464646;

.course-info {
  h5 {
    font-size: 1.125rem !important;
    text-transform: capitalize;
    font-weight: 500;
  }
}

.panel-course-info-title {
  text-transform: uppercase;
  color: $panel-course-info-text-color !important;
}

.panel-course-info-text {
  font-size: $font-sm;
}

.course-info-button {
  position: absolute;
  top: 0;
  right: 0;
}

.course-info-button:hover {
  svg path {
    fill: #750014;
  }
}

.close-mobile-course-info {
  position: absolute;
  right: 0;
}

.download-course-container-v3 {
  background-color: #f3f4f8; // light-gray-1
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid var(--Light-Gray-2, #dde1e6);
  gap: 2rem;

  &.in-panel {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: -1.5rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.download-course-button-v3 {
  padding: 0.75rem 1.5rem 0.75rem 1.25rem;
  gap: 0.625rem;
  background-color: #750014; // MIT red
  border-radius: 0.25rem;
  color: #ffffff;
  text-decoration: none;
  font-family: $mit-learn-font-family;
  font-weight: 500;
  line-height: 16px;
  box-shadow: 0px 2px 4px 0px rgba(37, 38, 43, 0.1),
    0px 3px 8px 0px rgba(37, 38, 43, 0.12);
  gap: 0.5rem;
  transition: background-color 0.2s ease;

  .download-icon {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    background-color: #8b0018;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    background-color: #5e0011;
  }

  &:visited {
    color: white;
  }
}
