nav {
  display: block !important;

  .nav-link {
    padding: 0 !important;
  }
}

.course-nav {
  a {
    text-decoration: none;

    &.active {
      font-weight: 600;
      background-color: #212326 !important;
      color: #ffffff !important;
      border-radius: 4px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  li > ul {
    padding-left: 0px;

    li > .course-nav-parent {
      padding-left: 24px !important;
    }
  }
}

.course-nav-parent {
  border-left: 3px solid transparent !important;
  border-radius: 0.0625rem 0.25rem 0.25rem 0.0625rem;

  padding: 0.5rem 0.75rem !important;
  &.active {
    font-weight: 600;
    background-color: #212326 !important;
    border-left: 3px solid $highlight-red !important;
    border-radius: 4px;
  }

  &:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
    a,
    button {
      color: $highlight-red;
    }
  }
}

.desktop-nav {
  @include media-breakpoint-up(xl) {
    max-width: $desktop-nav-max-width;
  }
}

.mobile-course-nav-toggle-btn {
  border: 1px solid $mobile-menu-btn-color;
  color: $mobile-menu-btn-color;
  border-radius: 15px;
  padding: 3px 15px 3px 10px;
  background: none;
}

.mobile-course-info-toggle-btn {
  color: $mobile-menu-btn-color;
}

.course-nav-text-wrapper {
  width: 100%;
}

.course-nav-section-toggle {
  border: none;
  padding: 0;
  background: none;
  align-self: flex-start;
}

.course-nav-section-toggle > i:after {
  content: "keyboard_arrow_down";
}

.course-nav-section-toggle[aria-expanded="true"] > i:after {
  content: "keyboard_arrow_up" !important;
}

.course-nav-child-nav {
  list-style: none;
}

.course-nav-child-nav > li {
  padding-right: 0 !important;
}
