@import "../../../base-theme/assets/css/variables.scss";
@import "../../../base-theme/assets/css/breakpoints.scss";

.course-licensing-section {
  border-radius: 0.25rem;
  border: 1px solid var(--Light-Gray-2, #DDE1E6);
  background: var(--Light-Gray-1, #F3F4F8);

  gap: 1rem;

  .licensing-text {
    color: var(--dark-gray-2-text-primary, #212326);

    font-family: $mit-learn-font-family;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    margin: 0;

    a {
      color: var(--dark-gray-2-text-primary, #212326);

      font-family: $mit-learn-font-family;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  .cc-icons {

    gap: 1rem;

    @include media-breakpoint-down(md) {
      justify-content: center;
      width: 100%;
    }
  }

}
