@import "../../../base-theme/assets/css/variables.scss";
@import "../../../base-theme/assets/css/breakpoints.scss";

.course-licensing-section {
  border-radius: 0.25rem;
  border: 1px solid var(--Light-Gray-2, #dde1e6);
  background: var(--Light-Gray-1, #f3f4f8);
  padding: 1rem;

  @media (max-width: 992px) {
    margin-top: 1.5rem;
  }

  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row !important;
    justify-content: center;
    padding: 1.5rem;
  }
  gap: 1rem;

  .licensing-text {
    color: var(--dark-gray-2-text-primary, #212326);

    font-family: $mit-learn-font-family;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    margin: 0;

    a {
      color: var(--dark-gray-2-text-primary, #212326);

      font-family: $mit-learn-font-family;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  .cc-icons {
    gap: 1rem;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }
}
