.course-image-section-container {
  @include media-breakpoint-up(lg) {
    position: relative;
    top: -150px;
  }

  .course-image-container {
    overflow: hidden;

    border: 1px solid #dde1e6;
    border-radius: 4px;

    .course-image {
      object-fit: contain;
      border: 1px solid $medium-gray;
      width: 100%;
    }

    .course-image-caption {
      font-size: $font-sm;
      padding: 0.5rem;
      line-height: 1.2;
    }
  }
}
