.course-image-section-container {
  box-shadow: 0px 0.5rem 1.25rem rgba(120, 147, 172, 0.1);

  @media (min-width: 992px) {
    margin-bottom: 1rem;
  }

  .download-button {
    margin-top: 1rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .gap-3 {
    gap: 1rem;
  }

  .course-image {
    width: 100%;
    background: black;
  }

  .course-card-content {
    outline: 1px var(--Light-Gray-2, #dde1e6) solid;
    outline-offset: -1px;
    gap: 2rem;
  }

  .course-description {
    .text-body {
      color: var(--Dark-Gray-2-(Text-Primary), #212326);
      font-size: 0.875rem;
      font-family: $mit-learn-font-family;
      font-weight: 400;
      line-height: 1.375rem;
      word-wrap: break-word;
    }
  }
}
