nav {
  display: block !important;

  .nav-link {
    padding: 0 !important;
  }
}

.course-nav {
  &.mobile {
    background: white;
    ul {
      gap: 0;
      margin: 0;

      li {
        border-bottom: 1px solid #dde6e2;
      }

      li:first-child {
        border-top: 1px solid #dde6e2;
      }

      li:last-child {
        border-bottom: none;
      }
    }

    > ul {
      > li:first-child {
        border-top: none;
      }
    }

    li .course-nav-parent {
      border-radius: 0;
      padding: 1rem;
      justify-content: start;
      gap: 0.5rem;

      border-left: 1px solid #dde6e2;
      border-right: 1px solid #dde6e2;

      &.active {
        border-left: 2px solid $highlight-red;
      }

      &:has(button) {
        .course-nav-text-wrapper {
          width: unset;
        }

        button {
          flex-grow: 1;
          justify-content: start;
        }
      }
    }

    // Nested padding for upto 5 levels of nesting.
    > ul > li {
      > ul > li {
        > .course-nav-parent {
          padding-left: 2rem;
        }

        > ul > li {
          > .course-nav-parent {
            padding-left: 3rem;
          }

          > ul > li {
            > .course-nav-parent {
              padding-left: 4rem;
            }

            > ul > li {
              > .course-nav-parent {
                padding-left: 5rem;
              }
            }
          }
        }
      }
    }
  }

  a {
    text-decoration: none;

    &.active {
      font-weight: 600;
      background-color: #212326 !important;
      color: #ffffff !important;
      border-radius: 4px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  > ul {
    gap: 0.75rem;
    margin-left: 0;

    li > div:hover {
      background-color: #f3f4f8;
      border-radius: 4px;
    }
  }

  li > ul {
    padding-left: 0px;
  }
}

ul .course-nav-parent {
  border-left: 3px solid transparent;
  border-radius: 0.0625rem 0.25rem 0.25rem 0.0625rem;
  padding: 0.5rem 0.75rem;
  justify-content: space-between;

  &.active {
    font-weight: 600;
    background-color: #212326;
    border-left: 3px solid $highlight-red !important;
    border-radius: 4px;

    &:hover {
      background-color: #212326;
    }
    button.course-nav-section-toggle {
      svg path {
        fill: white;
      }
    }
  }

  &:hover {
    a,
    button {
      color: $highlight-red;
    }
  }
}

.desktop-nav {
  @include media-breakpoint-up(xl) {
    max-width: $desktop-nav-max-width;
  }
}

.mobile-course-nav-toggle-btn {
  border: 1px solid $mobile-menu-btn-color;
  color: $mobile-menu-btn-color;
  border-radius: 15px;
  padding: 3px 15px 3px 10px;
  background: none;
}

.mobile-course-info-toggle-btn {
  color: $mobile-menu-btn-color;
}

.course-nav-text-wrapper {
  width: 100%;
}

.course-nav-section-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0.125rem;
  margin-left: 0.25rem;
  background: none;
  align-self: flex-start;
  line-height: 1;
}

.course-nav-section-toggle[aria-expanded="true"] {
  svg {
    transform: rotate(180deg);
  }
}

.course-nav-child-nav {
  list-style: none;
}

.course-nav-child-nav > li {
  padding-right: 0 !important;
}
