.learning-resource-types-container {
  border: 1px solid #dde1e6;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: $white;

  h5.course-detail-title {
    font-size: 1.28rem !important; // 18px
    line-height: 26px !important;
    color: $black;
    margin: 0;
    min-height: auto;
  }
}

.learning-resource-types-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.learning-resource-types-subtitle {
  font-size: 1rem; // 14px
  font-weight: 400;
  line-height: 18px;
  color: #626a73;
  margin: 0;
}

.learning-resource-types-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
}

.learning-resource-type-item {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 280px;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: default;

  .material-icons {
    font-size: 24px;
    color: #212326;
  }

  span {
    font-size: 1rem; // 14px
    font-weight: 400;
    line-height: 18px;
    color: #212326;
  }
}
