.partial-collapse-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background-size: cover;
  background: linear-gradient(transparent, transparent, $white) no-repeat
}

.partial-collapse.collapse.show ~ .partial-collapse-overlay,
.partial-collapse.collapsing ~ .partial-collapse-overlay {
  display: none;
}

.partial-collapse-toggle-link {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 2;
}

.partial-collapse-icon-container {
  position: absolute;
  height: $partial-collapse-height;
  width: 100%;
  pointer-events: none;
}

.partial-collapse-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  pointer-events: all;
}

.partial-collapse-icon > i:after {
  content: "expand_more";
}

.partial-collapse-toggle-link[aria-expanded="true"]
  > .partial-collapse-icon-container
  > .partial-collapse-icon
  > i:after {
  content: "expand_less" !important;
}

.partial-collapse.collapse:not(.show) {
  display: block;
  height: $partial-collapse-height;
  overflow: hidden;
}

.partial-collapse.collapsing {
  height: $partial-collapse-height;
}

.partial-collapse.collapse.show > ul > li > a.partial-collapse-link {
  position: relative;
  z-index: 3;
}
