/* 
  responsive table css based on:
  https://css-tricks.com/responsive-data-tables/
  https://elvery.net/demo/responsive-tables/#no-more-tables
*/
@mixin mobile-table {
  // Force table to not be like tables anymore
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  // Hide table headers (but not display: none;, for accessibility)
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
  }

  td:before {
    /* 
      The data-title attribute is written in using the table's headings
      See responsive_tables.js for more info
    */
    content: attr(data-title);
    font-weight: bold;
  }
}

.course-main-content-v3 {
  thead th,
  td {
    vertical-align: middle !important;
  }

  tr {
    td:empty {
      display: none;
    }
  }

  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    @include mobile-table;
  }

  table {
    border-collapse: separate !important;
    border-spacing: 0px !important;

    overflow: hidden !important;

    thead {
      background-color: #40464c !important;
      text-transform: none !important;

      th:first-child {
        border-top-left-radius: 0.5rem;
      }
      th:last-child {
        border-top-right-radius: 0.5rem;
      }
    }

    tbody {
      > tr > td {
        background: white !important;
        border-bottom: 1px solid var(--Light-Gray-2, #dde1e6) !important;
      }

      > tr > td:first-child {
        border-left: 1px solid var(--Light-Gray-2, #dde1e6) !important;
      }
      > tr > td:last-child {
        border-right: 1px solid var(--Light-Gray-2, #dde1e6) !important;
      }
      > tr:last-child > td:first-child {
        border-bottom-left-radius: 0.5rem;
      }
      > tr:last-child > td:last-child {
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
}

.mobile-table {
  @include mobile-table;
}
