.topic-toggle {
  position: static;
  // height: 21px;
  // top: 50%;
  // line-height: 1px;
  // transform: translateY(-50%);
  vertical-align: top;
  left: 0;
  pointer-events: all;

  .material-icons {
    font-size: 21px;
    width: 21px;
    height: 21px;
  }
}

.topic-toggle > i:after {
  content: "chevron_right";
}

.topic-toggle[aria-expanded="true"] > i:after {
  content: "expand_more" !important;
}
