{{ $archiveUrl := .archiveUrl }}
{{ $archiveVideoFound := false }}
{{ $staticResourcesBundle := site.GetPage "/static_resources" }}
{{ $archiveVideos := $staticResourcesBundle.Resources.ByType "video" }}
{{ range $archiveVideos }}
  {{ if strings.Contains $archiveUrl .Name }}
    {{ $archiveVideoFound = true }}
  {{ end }}
{{ end }}
{{ if not $archiveVideoFound }}
{{ partial "youtube_player.html" (dict "context" .context "youtubeKey" .youtubeKey "archiveUrl" .archiveUrl "startTime" .startTime "endTime" .endTime)}}
{{ else }}
{{ partial "local_video_player.html" (dict "context" .context "youtubeKey" .youtubeKey "archiveUrl" .archiveUrl "startTime" .startTime "endTime" .endTime)}}
{{ end }}
