{{ $courseData := .context.Site.Data.course }}
{{ $shouldCollapseDescription := false }}
{{ with $courseData.course_description }}
  <!-- This matches the text inside the square brackets and keeps it, removing the actual link part. -->
  {{ $plainDescription := . | replaceRE `\[(.*?)\]\(.*?\)` `$1` }}
  {{ $shouldCollapseDescription = gt (len $plainDescription) 320 }}
{{ end }}
<div id="course-description" class="d-flex flex-column align-self-stretch align-items-start">
  <h2 class="course-section-heading align-self-stretch m-0">
    Course Description
  </h2>
  {{ if $shouldCollapseDescription }}
  <div id="collapsed-description" class="description">
    {{- truncate 320 "" (.context.RenderString $courseData.course_description) -}}
    {{- partial "link_button.html" (dict "text" "Show more" "id" "expand-description")  -}}
  </div>
  <div id="expanded-description" class="description d-none">
    {{- .context.RenderString $courseData.course_description -}}
    {{- partial "link_button.html" (dict "text" "Show less" "id" "collapse-description")  -}}
  </div>
  {{ else }}
  <div id="full-description" class="description">
    {{- .context.RenderString $courseData.course_description -}}
  </div>
  {{ end }}
</div>
