{{- $imageData := partial "course-image-url.html" . -}}
{{- $courseImageUrl := index $imageData 0 -}}
{{- $courseImageMetadata := index $imageData 1 -}}


<div class="course-image-section-container w-100 align-self-stretch d-inline-flex flex-column justify-content-center align-items-start overflow-hidden">
  <img class="course-image align-self-stretch rounded-top" src="{{ $courseImageUrl }}" alt="{{ index $courseImageMetadata.Params.image_metadata "image-alt" }}" />
  <div class="align-self-stretch d-flex flex-column justify-content-start align-items-start gap-3">
    <div class="course-card-content align-self-stretch p-3 bg-white rounded-bottom d-flex flex-column justify-content-start align-items-start">
      <div class="course-description align-self-stretch">
        <span class="text-body">
          {{ $courseImageMetadata.Params.image_metadata.caption | .RenderString }}
        </span>
      </div>
    </div>
  </div>

  <div class="w-100 download-button">
    {{ partial "download_course_link_button.html" (dict "context" . "inPanel" false) }}
  </div>

</div>

<script>
  function adjustImageSectionMargin() {
    const imageSection = document.querySelector('.course-image-section')
    const heroTextHeight = document.querySelector('.course-banner-v3 .hero-text').offsetHeight
    const bannerPaddingBottom = parseFloat(window.getComputedStyle(document.querySelector('.course-banner-v3')).paddingBottom)
    imageSection.style.marginTop = `-${heroTextHeight + bannerPaddingBottom + 32}px`
  }

  // Run on page load
  adjustImageSectionMargin()
  
  // Run on window resize
  window.addEventListener('resize', adjustImageSectionMargin)
</script>
