{{ $courseData := .context.Site.Data.course }} {{ $inPanel := .inPanel }} {{
$isDesktopCourseDrawer := .isDesktopCourseDrawer | default false }}

<div class="course-info d-flex flex-column align-self-stretch align-items-start">
  <div class="align-self-stretch d-flex justify-content-between align-items-center">
    <h5 class="m-0">
      Course Info
    </h5>
    {{ if $inPanel}}
      <button 
        type="button" 
        class="course-info-button tablet-and-above-only position-static border-0 bg-white"
        id="desktop-course-drawer-button-close"
        data-target="#desktop-course-drawer"
        data-toggle="collapse"
        aria-label="Course Info"
        aria-controls="desktop-course-drawer"
        aria-expanded="false"
      >
        <svg aria-hidden="true" class="collapse-drawer-img" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
          <path d="M6.36396 4.94978L11.3138 0L12.728 1.41421L7.77816 6.36398L12.728 11.3137L11.3138 12.7279L6.36396 7.77818L1.41422 12.7279L0 11.3137L4.94976 6.36398L0 1.41421L1.41422 0L6.36396 4.94978Z" fill="black"/>
        </svg>
      </button>
    {{ end }}
  </div>
  <div class="align-self-stretch">
    <div class="info-container d-flex m-0 align-items-start flex-column flex-sm-row align-self-stretch">
      <div class="p-0 d-flex flex-column align-self-stretch align-items-center justify-content-start instructors-departments">
        {{ with $courseData.instructors.content }}
        <div class="align-self-stretch d-flex flex-column align-items-start instructors">
          {{ $instructors := partial "get_instructors.html" . }}
          <h6 class="m-0">
            {{ if eq (len $instructors) 1 }}Instructor{{ else }}Instructors{{
            end }}
          </h6>
          <div class="{{ if $inPanel }}panel-course-info-text{{ end }} align-self-stretch">
            {{ partial "partial_collapse_list.html" (dict "list" $instructors
            "id" "instructors" "key" "title" "klass" "course-info-instructor"
            "showCollapse" $inPanel) }}
          </div>
        </div>
        {{ end }}
        {{ with $courseData.department_numbers }}
          {{ $departments := partial "get_departments.html" . }}
          {{ if $departments }}
            <div class="d-flex flex-column departments align-self-stretch">
              <h6 class="m-0">
                Departments
              </h6>
              <div class="{{ if $inPanel }}panel-course-info-text{{ end }} align-self-stretch">
                {{ partial "partial_collapse_list.html" (dict "list" $departments
                "id" "departments" "key" "title" "klass" "course-info-department"
                "useLinks" true) }}
              </div>
            </div>
          {{ end }}
        {{ end }} 
        {{ if $inPanel }}
        <div class="align-self-start gap-1">
          <h6 class="m-0">
            As Taught In
          </h6>
          <div class="{{ if $inPanel }}panel-course-info-text{{ end }}">
            {{ $courseData.term }}
            {{ if isset $courseData "year" }}
              {{ $courseData.year }}
            {{ end }}
          </div>
        </div>

        <div class="align-self-start gap-1">
          <h6 class="m-0">
            Level
          </h6>
          <div class="{{ if $inPanel }}panel-course-info-text{{ end }}">
            {{ if eq (printf "%T" $courseData.level) "string" }} {{
            $levelSearchUrl := partial "get_search_url.html" (dict "key" "level" "value" $courseData.level) }}
            {{- partial "link.html" (dict "href" $levelSearchUrl "text" $courseData.level "stripLinkOffline" true) -}}
            {{ else }}
              {{ range $courseData.level }}
                {{ $levelSearchUrl := partial "get_search_url.html" (dict "key" "level" "value" .) }}
                {{- partial "link.html" (dict "href" $levelSearchUrl "text" . "stripLinkOffline" true) -}}<br />
              {{ end }}
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>

      {{ if not $inPanel }}
      <div class="p-0 info-topics">
          {{ partial "topics.html" (merge . (dict "renderMarginTop" false)) }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
