{{- $hideDownload := .context.Site.Data.course.hide_download -}}
{{- $trimmedBaseUrl := strings.TrimSuffix "/" site.BaseURL -}}
{{- $downloadPageUrl := print $trimmedBaseUrl "/download" -}}
{{- $downloadPageUrl = partial "page_url.html" (dict "context" .context "url" $downloadPageUrl) -}}
{{- $downloadCourseUrl := partial "get_course_download_url.html" .context -}}
{{- if not $hideDownload -}}
<div class="download-course-section">
  <div class="download-course-container-v3 d-flex flex-column align-items-start align-self-stretch">
    <a class="download-course-button-v3 d-flex align-items-center justify-content-center align-self-stretch"
      role="button"
      href="{{- $downloadPageUrl -}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M3 19H21V21H3V19ZM13 13.1716L19.0711 7.1005L20.4853 8.51472L12 17L3.51472 8.51472L4.92893 7.1005L11 13.1716V2H13V13.1716Z" fill="white"/>
      </svg>
      <span>Download Course</span>
    </a>
  </div>
</div>
{{- end -}}