{{- $hideDownload := .context.Site.Data.course.hide_download -}}
{{- $trimmedBaseUrl := strings.TrimSuffix "/" site.BaseURL -}}
{{- $downloadPageUrl := print $trimmedBaseUrl "/download" -}}
{{- $downloadPageUrl = partial "page_url.html" (dict "context" .context "url" $downloadPageUrl) -}}
{{- $downloadCourseUrl := partial "get_course_download_url.html" .context -}}
{{- if not $hideDownload -}}
<div class="download-button-container">
  <a class="download-course-link-button"
    role="button"
    href="{{- $downloadPageUrl -}}">
    <span class="material-icons download-icon">download</span>
    <span>Download Course</span>
  </a>
</div>
{{- end -}}