{{- $hideDownload := .context.Site.Data.course.hide_download -}}
{{- $trimmedBaseUrl := strings.TrimSuffix "/" site.BaseURL -}}
{{- $downloadPageUrl := print $trimmedBaseUrl "/download" -}}
{{- $downloadPageUrl = partial "page_url.html" (dict "context" .context "url" $downloadPageUrl) -}}
{{- $downloadCourseUrl := partial "get_course_download_url.html" .context -}}
{{- if not $hideDownload -}}
<div class="download-course-section">
  <div class="download-course-container-v3">
    <a class="download-course-button-v3"
      role="button"
      href="{{- $downloadPageUrl -}}">
      <span aria-hidden="true" class="material-icons download-icon">file_download</span>
      <span>Download Course</span>
    </a>
  </div>
</div>
{{- end -}}