{{ $courseData := .context.Site.Data.course }}
{{ $inPanel := .inPanel }}

{{ if gt (len ($courseData.learning_resource_types | default slice)) 0 }}
<div class="learning-resource-types-container">
  <div class="learning-resource-types-header">
    <h5 class="lrt-heading {{ if $inPanel }}panel-course-info-title mt-3{{ end }}">
      Learning Resource Types
    </h5>
    <p class="learning-resource-types-subtitle">
      This course includes the following types of learning materials.
    </p>
  </div>
  <div class="learning-resource-types-content">
    {{ range $courseData.learning_resource_types }}
      {{ partial "learning_resource_type.html" (dict "context" . "inPanel" $inPanel) }}
    {{ end }}
  </div>
</div>
{{end}}
