{{ $courseData := .context.Site.Data.course }}
{{ $inPanel := .inPanel }}

{{ if gt (len ($courseData.learning_resource_types | default slice)) 0 }}
<div class="learning-resource-types-container {{ if $inPanel }}in-panel{{ end }}">
  <div class="learning-resource-types-header">
    {{ if $inPanel }}
      <h3 class="course-subsection-heading m-0">
        Learning Resource Types
      </h3>
    {{ else }}
      <h2 class="course-section-heading lrt-heading">
        Learning Resource Types
      </h2>
    {{ end }}
    <p class="learning-resource-types-subtitle {{ if $inPanel }}in-panel{{ end }}">
      This course includes the following types of learning materials.
    </p>
  </div>
  <div class="learning-resource-types-content {{ if $inPanel }}in-panel{{ end }}">
    {{ range sort $courseData.learning_resource_types }}
      {{ partial "learning_resource_type.html" (dict "context" . "inPanel" $inPanel) }}
    {{ end }}
  </div>
</div>
{{end}}
