{{- $context := .context -}}
{{ $inPanel := .inPanel }}

<div class="learning-resource-type-item">
    <i aria-hidden="true" class="material-icons">
      {{- if in $context "Audio" -}}
      {{ partial "icon.html" "audio" }}
      {{- else if in $context "Video" -}}
        {{ partial "icon.html" "video" }}
      {{- else if or (in $context "Problem Set") (in $context "Assignment") -}}
        {{- if or (in $context "with Examples") (in $context "Solutions") -}}
        {{ partial "icon.html" "assignment-with-examples" }}
        {{- else -}}
        {{ partial "icon.html" "problem-set" }}
        {{- end -}}
      {{- else if in $context "Exam" -}}
        {{ partial "icon.html" "exams" }}
      {{- else if eq $context "Image Gallery" -}}
        {{ partial "icon.html" "image-gallery" }}
      {{- else if eq $context "Lecture Notes" -}}
        {{ partial "icon.html" "lecture-notes" }}

      {{- else if eq $context "Open Textbooks" -}}
        {{ partial "icon.html" "open-textbooks" }}
      {{- else if in $context "Projects" -}}
        {{ partial "icon.html" "projects" }}
      {{- else if in $context "Simulations" -}}
        {{ partial "icon.html" "simulations" }}
      {{- else if in $context "Instructor Insights" -}}
        {{ partial "icon.html" "instructor-insights" }}
      {{- else if in $context "Readings" -}}
        {{ partial "icon.html" "readings" }}
      {{- else if in $context "Editable Files" -}}
        {{ partial "icon.html" "editable-files" }}
      {{- end -}}
    </i>
    <span>
      {{- $context -}}
    </span>
</div>
