{{ $url := partial "nav_url.html" . }}
{{ $linkedPage := site.GetPage .menuItem.PageRef }}
{{ $hasChildren := .menuItem.HasChildren }}
{{ $hasOneValidChild := false }}
{{ $uniqueId := .menuItem.Identifier }}

{{ if $hasChildren }}
  {{ $hasOneValidChild = partial "nav_item_has_child.html" .menuItem.Children }}
{{ end }}

<div class="mobile-course-menu-item-v3">
  {{ if eq $linkedPage.Params.content_type "external-resource" }}
    {{- partial "external_resource_link"
      (merge $linkedPage.Params
        (dict
          "text" .menuItem.Name
          "class" "mobile-course-menu-link"
        )
      )
    -}}
  {{ else if or $url $hasOneValidChild }}
    {{ if $hasOneValidChild }}
      <button 
        class="mobile-course-menu-link mobile-course-menu-link-with-submenu"
        type="button"
        data-uuid="{{ .menuItem.Identifier }}"
        aria-expanded="false"
        aria-controls="mobile-submenu-{{ $uniqueId }}"
        onclick="
          const submenu = document.getElementById('mobile-submenu-{{ $uniqueId }}');
          const isExpanded = this.getAttribute('aria-expanded') === 'true';
          if (isExpanded) {
            this.setAttribute('aria-expanded', 'false');
            submenu.style.display = 'none';
          } else {
            this.setAttribute('aria-expanded', 'true');
            submenu.style.display = 'flex';
          }
        "
      >
        {{ .menuItem.Name }}
        <svg class="submenu-arrow" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div class="mobile-course-submenu" id="mobile-submenu-{{ $uniqueId }}" style="display: none;">
        {{ range .menuItem.Children }}
          {{ partial "mobile_course_menu_item_v3.html" (dict "menuItem" . "context" $.context) }}
        {{ end }}
      </div>
    {{ else }}
      <a 
        class="mobile-course-menu-link"
        data-uuid="{{ .menuItem.Identifier }}"
        href="{{ $url }}"
      >
        {{ .menuItem.Name }}
      </a>
    {{ end }}
  {{ end }}
</div>
