<div
  id="course-info-drawer"
  class="navbar-offcanvas navbar-offcanvas-right medium-and-below-only drawer"
>
  <div class="col-12">
    <button
      class="close-mobile-course-info"
      type="button"
      aria-label="Close Course Info"
      onclick="$('#mobile-course-info-toggle').click();"
      id="close-mobile-course-info-button"
      >
      {{- partial "icon.html" "ri-close-line" -}}
    </button>
  </div>
  {{ partial "course_info.html" (dict "context" . "inPanel" true) }}
  {{ partial "topics.html" (dict "context" . "inPanel" true "device" "mobile") }}
  {{ partial "learning_resource_types.html" (dict "context" . "inPanel" true) }}
</div>
