{{- $hideDownload := .Site.Data.course.hide_download -}}
{{- $zenDeskUrl := "https://mitocw.zendesk.com/hc/en-us/articles/4414681093659-I-have-downloaded-an-MIT-OpenCourseWare-course-but-I-can-t-access-the-materials-How-do-I-get-started-" -}}
{{- $downloadCourseUrl := partial "get_course_download_url.html" . -}}
{{- $noResourcesFound := partial "show_no_resources_found.html" (dict "context" . "taxonomy" "learning_resource_types") -}}
{{- $containsVideos := partial "contains_videos.html" (dict "context" . "taxonomy" "learning_resource_types") -}}
{{- if not $hideDownload -}}
<div class="mb-2">
  <h2>Download</h2>
  <div class="hide-offline download-course-container background-color-light-grey p-3">
    <div class="download-course-content">
      <div class="download-course-button-wrap">
        <a class="download-course-button p-2" href="{{ $downloadCourseUrl }}">
          <span aria-hidden="true" class="material-icons">file_download</span> Download course
        </a>
      </div>
      <div class="download-course-text">
        {{- if $noResourcesFound -}}
        This package contains the same content as the online version of the course. Once downloaded, to open the homepage, click on the <strong>index.html</strong> file.
        For more help using these materials, read our {{ partial "link.html" (dict "href" $zenDeskUrl "text" "FAQs" "target" "_blank") }}.
      </div>
    </div>
        {{- else -}}
        This package contains the same content as the online version of the course
        {{- if $containsVideos }}, <em>except for the audio/video materials</em>, which can be downloaded using the links below{{ end }}. Once downloaded, follow the steps below.
        For more help using these materials, read our {{ partial "link.html" (dict "href" $zenDeskUrl "text" "FAQs" "target" "_blank") }}.
        <ol>
          <li>To open the homepage, click on the <strong>index.html</strong> file.</li>
          <li>To find the course resource files such as PDFs, open the <strong>static_resources</strong> folder.</li>
        </ol>
      </div>
    </div>
    {{- end -}}
  </div>
  <div class="alert-warning p-2 limited-pointer-only">
    <strong>Note: </strong>
    The downloaded course may not work on mobile devices.
    We recommend using a computer with the downloaded course package.
  </div>
</div>
{{- end -}}
