{{ $courseData := .context.Site.Data.course }}
{{ $scratch := newScratch }}
{{ $scratch.Set "index" 0 }}
{{ $inPanel := .inPanel }}
{{ $device := .device }}
{{ with $courseData.topics }}
  {{ with partial "hierarchical_select_as_map.html" . }}
  <div class="d-flex flex-column course-topics-container">
    <h3 class="m-0 course-subsection-heading">
      Topics
    </h3>
    <ul class="list-unstyled m-0 {{ if $inPanel }}panel-course-info-text{{ end }}">
      {{- range $topic, $subtopics := . -}}
      <li>
        {{- partial "topic.html" (dict "index" ($scratch.Get "index") "topic" $topic "subtopics" $subtopics "device" $device) -}}
      </li>
      {{ $scratch.Set "index" (add 1 ($scratch.Get "index")) }}
      {{- end -}}
    </ul>
  </div>
  {{ end }}
{{ end }}
