{{ $youtubeKey := trim .Params.video_metadata.youtube_id " "}}
{{ $archiveUrl := .Params.video_files.archive_url }}
{{ $captionsSource := .Params.video_files.video_captions_resources }}
{{ $captionTracks := partial "video_caption_tracks.html" (dict "context" . "captionsFile" $captionsSource) }}
{{ $captionsLocation := "" }}
{{ if gt (len $captionTracks) 0 }}
  {{ $captionsLocation = (index $captionTracks 0).src }}
{{ end }}
{{ $transcriptSource := .Params.video_files.video_transcript_resources }}
{{ $transcriptLinks := partial "video_transcript_links.html" (dict "context" . "transcriptFile" $transcriptSource) }}
{{ $transcriptPdfLocation := "" }}
{{ if gt (len $transcriptLinks) 0 }}
  {{ $transcriptPdfLocation = (index $transcriptLinks 0).href }}
{{ end }}
{{ $downloadLink := .Params.file }}
{{ $relatedResourses := .Params.related_resources_text | default "" }}
{{ $optionalTabTitle := .Params.optional_tab_title | default "" }}
{{ $optionalTabContent := .Params.optional_text | default ""}}
{{ $startTime := .Params.start_time | default "" }}
{{ $endTime := .Params.end_time | default "" }}
{{ $context := . }}

{{ if (eq $downloadLink nil) }}
{{ $downloadLink = .Params.video_files.archive_url }}
{{ else }}
{{ $downloadLink = partial "resource_url.html" (dict "context" . "url" $downloadLink) }}
{{ end }}

<div class="video-page">
  <div class="video-player-wrapper">
    {{ partial "video_player.html" (dict "context" $context "youtubeKey" $youtubeKey "archiveUrl" $archiveUrl "captionsLocation" $captionsLocation "captionTracks" $captionTracks "startTime" $startTime "endTime" $endTime "downloadLink" $downloadLink "transcriptLink" $transcriptPdfLocation)}}
    {{ if or (gt (len $transcriptLinks) 0) (gt (len $captionTracks) 0) }}
      {{ partial "video_expandable_tab.html" (dict "context" $context "tabClass" "transcript" "tabTitle" "Transcript" "downloadLink" $downloadLink "transcriptLinks" $transcriptLinks) }}
    {{ end }}

    {{ if $relatedResourses }}
      {{ partial "video_expandable_tab.html" (dict "context" $context "tabClass" "related-resource" "tabTitle" "Related Resources" "tabContent" $relatedResourses) }}
    {{ end }}

    {{ if and $optionalTabTitle $optionalTabContent }}
      {{ partial "video_expandable_tab.html" (dict "context" $context "tabClass" "optional-tab" "tabTitle" $optionalTabTitle "tabContent" $optionalTabContent) }}
    {{ end }}
  </div>
</div>
