<a class="video-gallery-card" href="{{ partial "page_url.html" (dict "context" . "url" .RelPermalink) }}">
  <div class="video-gallery-card-thumbnail">
    {{- if isset .Params.video_files "video_thumbnail_file" -}}
    <img src="{{ .Params.video_files.video_thumbnail_file }}" alt="" loading="lazy" decoding="async" />
    {{- else -}}
    <img class="youtube-logo-overlay" src="{{ partial "get_asset_webpack_url.html" "images/youtube.svg" }}" alt="YouTube" loading="lazy" decoding="async" />
    {{- end -}}
  </div>
  <div class="video-gallery-card-title">{{ .Params.title }}</div>
</a>
