{{- $collection := . -}}
{{- $staticApiBaseUrl := partial "static_api_base_url.html" -}}
{{ $collectionImageUuid := index $collection.Params "cover-image"}}
{{ if  $collectionImageUuid.content }}
  {{- $collectionImageMetadata := (dict "Params" (dict "file" "None" "metadata" (dict "image_alt" ""))) -}}
  {{- $collectionImageMetadata = partial "resource_metadata.html" $collectionImageUuid.content }}
  {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) $collectionImageMetadata.Params.file) "" -}}
  <div id="collection-header">
    <img src='{{ partialCached "resource_url.html" (dict "context" . "url" $url) }}' alt='{{ $collectionImageMetadata.Params.metadata.image_alt }}' />
  </div>
{{ end }}
