{{ $courseTitle := .courseData.course_title | default "" }}
{{ $courseImageSrc := .courseData.image_src | default "" }}
{{ $coursePrimaryNumber := .courseData.primary_course_number | default "" }}
{{ $courseLevel := .courseData.level | default slice }}
{{ $courseInstructors := .courseData.instructors | default slice }}
{{ $courseTopics := .courseData.topics | default slice }}
{{ $firstThreeCourseTopics := partial "course_cards_topics_list.html" $courseTopics | default slice }}
{{ $isMobile := (eq .itemsInCarousel 1) }}

{{ $modulo := (mod .index .itemsInCarousel) }}
{{ $group := (div .index .itemsInCarousel) }}
{{ if eq $modulo 0 }}
<div class="carousel-item {{ if not $isMobile }}row{{end}} {{ if eq $group 0 }}active{{ end }}">
{{ end }}
<div class="item-wrapper {{ if not $isMobile }}col-{{ (div 12 .itemsInCarousel) }}{{ end }} w-100 d-flex justify-content-center">
  <div class="course-card card bg-white">
    <a href="{{ partial "site_root_url.html" .urlPath }}" aria-hidden="true" tabindex="-1">
      <img src="{{ partial "resource_url.html" (dict "context" . "url" $courseImageSrc) }}" alt=""/>
    </a>
    <div class="course-card-content pt-1 px-3 pb-3">
      <div class="course-level">
        {{ $coursePrimaryNumber }}{{ partial "course_cards_level.html" $courseLevel }}
      </div>
      <div class="course-card-title pt-1">
        <div class="h5">
          <a href="{{ partial "site_root_url.html" .urlPath }}">{{ $courseTitle }}</a>
        </div>
      </div>
      {{ with $courseInstructors }}
      <div class="course-card-instructors pt-1">
        <span class="card-label">Instructor{{ if gt (len $courseInstructors) 1 }}s{{ end }}:</span>
        {{ partial "course_cards_instructors.html" $courseInstructors }}
      </div>
      {{ end }}
      {{ with $firstThreeCourseTopics }}
      <div class="course-card-topics pt-2">
        <span class="card-label">Topic{{ if gt (len $firstThreeCourseTopics) 1 }}s{{ end }}:</span> {{ partial "course_cards_topics.html" $firstThreeCourseTopics }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ if (or (eq $modulo (sub .itemsInCarousel 1)) (eq .index (sub .numCourses 1))) }}
</div>
{{ end }}
