{{- with first 3 (uniq .) -}}
  {{- $numInstructors := len . -}}
  {{- range $index, $instructorObject := . -}}
    {{- $title := $instructorObject.title | default "" -}}
    {{- $instructorName := $instructorObject.instructor | default $title -}}
    {{- $instructorSearchUrl := partial "get_search_url.html" (dict "key" "instructors" "value" $instructorName) -}}
    {{- partial "link.html" (dict "href" $instructorSearchUrl "text" $instructorName "stripLinkOffline" true) -}}
    {{- if ne (add $index 1) $numInstructors -}}
    ,&nbsp;
    {{- end -}}
  {{- end -}}
{{- end -}}
