{{ if eq (printf "%T" .) "string" }}
  {{ $levelSearchUrl := partial "get_search_url.html" (dict "key" "level" "value" .) }}
  {{ partial "link.html" (dict "href" $levelSearchUrl "text" . "stripLinkOffline" true) }}
{{ else }}
{{/* safe guard from nil values  */}}
  {{ with .}}
    {{ $numLevels := len . }}
    {{ if gt $numLevels 0}}
      <span> | </span>
    {{ end }}
    {{ range $index, $level := . }}
      {{ $levelSearchUrl := partial "get_search_url.html" (dict "key" "level" "value" $level) }}
      {{ partial "link.html" (dict "href" $levelSearchUrl "text" $level "stripLinkOffline" true) }}
      {{ if ne (add $index 1) $numLevels }}
      ,&nbsp;
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}