{{ $context := .context }}
{{ $level := .level }}
{{ if eq (printf "%T" $level) "string" }}
  {{ $levelSearchUrl := partial "get_search_url.html" (dict "context" $context "key" "level" "value" .) }}
  {{- partial "link.html" (dict "href" $levelSearchUrl "text" $level "stripLinkOffline" true) -}}
{{ else }}
{{/* safe guard from nil values  */}}
  {{ with $level}}
    {{ $numLevels := len . }}
    {{ if gt $numLevels 0}}
      <span> | </span>
    {{ end }}
    {{ range $index, $level := . }}
      {{ $levelSearchUrl := partial "get_search_url.html" (dict "context" $context "key" "level" "value" $level) }}
      {{- partial "link.html" (dict "href" $levelSearchUrl "text" $level "stripLinkOffline" true) -}}
      {{- if ne (add $index 1) $numLevels -}}
      ,&nbsp;
      {{- end -}}
    {{ end }}
  {{ end }}
{{ end }}
