{{- $text := default .title .text -}}
{{- $href := default "" .external_url -}}
{{- $isBroken := default false .is_broken -}}
{{- $backupUrl := default "" .backup_url -}}
{{- $hasWarning := default true .has_external_license_warning -}}
{{- $className := printf "%s %s" "external-link" (default "" .class) -}}
{{- $onClick := "" -}}
{{- if $hasWarning -}}
  {{- $className = printf "%s %s" "external-link-warning" $className -}}
  {{/* Prevents external links from being clicked before corresponding JS is fully loaded. */}}
  {{- $onClick = "event.preventDefault()" -}}
{{- end -}}
{{- if and $isBroken $backupUrl -}}
  {{- $href = $backupUrl -}}
{{- end -}}
{{- if not (in $href "ocw.mit.edu") -}}
  {{- partial "link" (dict
      "href" $href
      "text" $text
      "class" $className
      "onClick" $onClick
      "target" "_blank"
    )
  -}}
{{- else -}}
  {{- partial "link" (dict
    "href" $href
    "text" $text
    "class" "external-link"
    "onClick" ""
    )
  -}}
{{- end -}}
