{{ $context := .context }}
{{ $imageData := partial "course-image-url.html" $context }}
{{ $courseImageMetadata := index $imageData 1 }}
{{- $sitemapDomain := partial "sitemap_domain.html" -}}
{{- $absCourseImage := printf "https://%s%s" $sitemapDomain $courseImageMetadata.Params.file -}}
<meta property="og:image" content="{{- $absCourseImage -}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@mitocw" />
<meta name="twitter:image:src" content="{{- $absCourseImage -}}" />