{{- $context := .context -}}
{{- $staticApiBaseUrl := partial "static_api_base_url.html" -}}

{{- $courses := .featuredCourses -}}
{{- $klass := .klass -}}

{{- if $courses -}}

<div class="course-cards standard-width container mx-auto mt-3">
    {{ $breakdowns := (dict "xs-sm" (dict "size" 1 "class" "d-flex d-md-none") "md" (dict "size" 2 "class" "d-none d-md-flex d-lg-none") "lg" (dict "size" 3 "class" "d-none d-lg-flex d-xl-none") "xl" (dict "size" 4 "class" "d-none d-xl-flex")) }}
    <!-- list adapted from https://getbootstrap.com/docs/4.0/utilities/display/#hiding-elements -->
    {{ range $breakpoint, $carouselInfo := $breakdowns }}
      {{ $itemsInCarousel := index $carouselInfo "size" }}
      {{ $breakpointVisibilityClass := index $carouselInfo "class" }}
      {{ $isMobile := (eq $itemsInCarousel 1) }}
      {{ $carouselId := (printf "featured-course-carousel-%v" $breakpoint) }}
      <div class="{{ $breakpointVisibilityClass }}">
        <div id="{{ $carouselId }}" class="carousel slide" data-interval="false" data-touch="true" data-ride="carousel">
          <div class="carousel-header d-flex flex-row justify-content-between font-weight-bold">
            <h2 class="{{ $klass }}">Featured Courses</h2>
            {{ partial "carousel_controls.html" $carouselId }}
          </div>
          <div class="carousel-inner d-flex {{ if not $isMobile }}container{{ end }} mt-2 px-0">
            {{ range $index, $courseItem := $courses }}
              {{- $urlPath := partial "site_root_url.html" (dict "context" $context "url" $courseItem.id) -}}
              {{- $url := delimit (slice (strings.TrimSuffix "/" $staticApiBaseUrl) $urlPath "/data.json") "" -}}
              {{ with resources.GetRemote $url }}
                {{ with .Err }}
                  {{ errorf "Failed to fetch featured course info from %v with error %v" $url . }}
                {{ else }}
                  {{- $courseData := . | unmarshal -}}
                  {{ partial "course_carousel_card.html" (dict "context" $context "itemsInCarousel" $itemsInCarousel "courseData" $courseData "index" $index "urlPath" $urlPath "numCourses" (len $courses)) }}
                {{ end }}
              {{ else }}
                {{ errorf "Failed to fetch featured course info from %v" $url }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
</div>
{{- end -}}
