<div class="d-flex justify-content-md-end">
	<div>
		<a href="https://www.facebook.com/MITOCW" target="_blank">
			<img class="footer-social-icon ml-0" src="{{ partial "get_asset_webpack_url.html" "images/Facebook.png"}}" alt="facebook"/>
		</a>
	</div>
	<div>
		<a href="https://www.instagram.com/mitocw" target="_blank">
			<img class="footer-social-icon" src="{{ partial "get_asset_webpack_url.html" "images/Instagram.png"}}" alt="instagram"/>
		</a>
	</div>
	<div>
		<a href="https://twitter.com/MITOCW" target="_blank">
			<img class="footer-social-icon" src="{{ partial "get_asset_webpack_url.html" "images/Twitter.png"}}" alt="twitter"/>
		</a>
	</div>
	<div>
		<a href="https://www.youtube.com/mitocw" target="_blank">
			<img class="footer-social-icon" src="{{ partial "get_asset_webpack_url.html" "images/Youtube.png"}}" alt="youtube"/>
		</a>
	</div>
	<div>
		<a href="https://www.linkedin.com/company/mit-opencourseware/" target="_blank">
			<img class="footer-social-icon" src="{{ partial "get_asset_webpack_url.html" "images/LinkedIn.png"}}" alt="LinkedIn"/>
		</a>
	</div>
</div>
