<footer id="footer-container">
    <div class="row pb-6 mx-0">
      <div>
        <a id="open-learning-logo"  href="https://openlearning.mit.edu/" target="_blank">
          <img src= "/images/mit-ol.png">
        </a>
      </div>
    </div>
    <div class="row mx-0 justify-content-between">
      <section class="columns">
        <div class="about-courseware">
          <h5>
            ABOUT MIT OPENCOURSEWARE
          </h5>
          <p>
            MIT OpenCourseWare is an online publication of materials from over 2,500
            MIT courses, freely sharing knowledge with learners and educators
            around the world. <a href="/about">Learn more</a>
          </p>
        </div>
        <div class="large-and-above-only row mx-0 align-items-center">
          <p class="font-weight-bold">PROUD MEMBER OF : <a href="https://www.oeglobal.org/" target="_blank"><img class="oeg-logo" src="/images/oeg_logo.png"></a></p>
        </div>
        <div class="copyright large-and-above-only">
          <p>© 2001–{{ now.Format "2006" }} 	Massachusetts Institute of Technology</p>
        </div>
      </section>
      <section class="columns">
        <div>
          <ul>
            <li><a href="https://accessibility.mit.edu">Accessibility</a></li>
            <li><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons License</a></li>
            <li><a href="pages/privacy-and-terms-of-use/">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="horizontal-list">
          <ul>
            <li><a class="img-link" href="https://www.facebook.com/MITOCW" target="_blank">
              <img class="social-icon" src="/images/Facebook.png" alt="facebook" />
            </a></li>
            <li> <a class="img-link" href="https://www.instagram.com/mitocw" target="_blank">
              <img class="social-icon" src="/images/Instagram.png" alt="instagram" />
            </a></li>
            <li> <a class="img-link" href="https://twitter.com/MITOCW" target="_blank">
              <img class="social-icon" src="/images/Twitter.png" alt="twitter" />
            </a></li>
            <li> <a class="img-link" href="https://www.youtube.com/mitocw" target="_blank">
              <img class="social-icon" src="/images/Youtube.png" alt="youtube" />
            </a></li>
            <li> <a class="img-link" href="https://www.linkedin.com/company/mit-opencourseware/" target="_blank">
              <img class="social-icon" src="/images/LinkedIn.png" alt="LinkedIn" />
            </a></li>
          </ul>
        </div>
      </section>
      <section class="columns medium-and-below-only pt-4">
        <div class="image-container mx-0 row align-items-center">
          <h5 class="my-0">PROUD MEMBER OF : </h5>
          <a href="https://www.oeglobal.org/"><img class="oeg-logo" src="/images/oeg_logo.png"></a>
        </div>
        <div>
          <p>© 2001–{{ now.Format "2006" }} 	Massachusetts Institute of Technology</p>
        </div>
      </section>
    </div>
</footer>
