{{/*
This file has been created in base-theme in-case
we want to use this new footer in other themes (www, course-offline etc)
*/}}

{{ define "footer-v3-left-container" }}
<div class="d-flex align-items-center left-container">
  <!-- MIT Logo -->
  <a href="https://mit.edu" target="_blank" rel="noopener noreferrer">
    <img src="https://learn.mit.edu/_next/static/media/mit-logo-black.64b85756.svg" alt="MIT" />
  </a>
  
  <!-- Address -->
  <address class="text-black fw-normal mb-0" style="font-style: normal;" data-testid="footer-address">
    Massachusetts Institute of Technology<br />
    77 Massachusetts Avenue<br />
    Cambridge, MA 02139
  </address>
</div>
{{ end }}

{{/* Define Right Container Block */}}
{{ define "footer-v3-right-container" }}
<div class="d-flex flex-column justify-content-center right-container">
  <!-- Links Container -->
  <div class="d-flex align-items-start footer-links">
    <!-- Home Link -->
    <div class="d-flex align-items-start footer-link">
      <a href="/" class="fw-normal text-center text-decoration-none">
        Home
      </a>
    </div>
    
    <!-- About Us Link -->
    <div class="d-flex align-items-start footer-link">
      <a href="/about" class="fw-normal text-center text-decoration-none">
        About Us
      </a>
    </div>
    
    <!-- Accessibility Link -->
    <div class="d-flex align-items-start footer-link">
      <a href="/accessibility" class="fw-normal text-center text-decoration-none">
        Accessibility
      </a>
    </div>
    
    <!-- Terms of Service Link -->
    <div class="d-flex align-items-start footer-link">
      <a href="/terms" class="fw-normal text-center text-decoration-none">
        Terms of Service
      </a>
    </div>
    
    <!-- Contact Us Link -->
    <div class="d-flex align-items-start footer-link">
      <a href="/contact" class="fw-normal text-center text-decoration-none">
        Contact Us
      </a>
    </div>
  </div>
  
  <!-- Copyright Container -->
  <div class="d-flex align-items-end justify-content-center copyright-container">
    <span>
      &copy; 2025 Massachusetts Institute of Technology
    </span>
  </div>
</div>
{{ end }}

<div class="footer-v3 d-flex flex-column align-items-center align-self-stretch bg-white flex-grow-0" role="contentinfo">
  <div class="sized-container">
    <div class="d-flex flex-column align-items-center container-inner">
      <div class="d-flex justify-content-between align-items-start align-self-stretch footer-content">
        <!-- Left Container -->
        {{ template "footer-v3-left-container" . }}
        
        <!-- Right Container -->
        {{ template "footer-v3-right-container" . }}
      </div>
    </div>
  </div>
</div>

{{ block "basejs" . }}{{ end }}
{{ block "extrajs" . }}{{ end }}
