{{/*  
This file has been created in base-theme in-case 
we want to use this new footer in other themes (www, course-offline etc)
*/}}
<div class="footer">
    <div class="footer-main-content mx-auto">
    	<div class="col-12">
        	<div class="row align-items-center">
            	<div class="col-12 col-md-9">
					<div class="d-md-flex align-items-center">
						<a href="https://openlearning.mit.edu/" target="_blank">
							<img width="150px" src="/images/mit-ol.png" alt="MIT Open Learning" />
						</a>
						<div class="ml-md-3 mt-4 mt-md-0">
							<div class="font-weight-bold">
								Over 2,500 courses & materials
							</div>
							<div>
								Freely sharing knowledge with learners and educators around the world. <a href='{{ partial "site_root_url.html" "/about" }}'>Learn more</a>
							</div>
						</div>
					</div>
            	</div>
				<div class="col-12 col-md-3 d-none d-md-block">
					{{ partial "footer-v2-social-icons.html" . }}
				</div>
        	</div>
    	</div>
		
		<div class="col-12 mt-3 mt-md-4">
			<div class="row align-items-center">
            	<div class="col-12 col-md-8">
					<div class="d-lg-flex">
						<div class="pr-md-2 mt-2 mt-lg-0 d-none d-lg-block">
							{{ partial "footer-v2-copyrights.html" . }}
						</div>
						<div class="px-md-2 mt-2 mt-lg-0">
							<a href="https://accessibility.mit.edu" target="_blank">Accessibility</a>
						</div>
						<div class="px-md-2 mt-2 mt-lg-0">
							<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons License</a>
						</div>
						<div class="px-md-2 mt-2 mt-lg-0">
							<a class="hide-offline" href='{{ partial "site_root_url.html" "/pages/privacy-and-terms-of-use/" }}'>Terms and Conditions</a>
						</div>
					</div>
            	</div>
				<div class="col-12 col-md-4">
					<div class="d-flex justify-content-md-end mt-4 mt-lg-0">
						<div>
						Proud member of: 
						<a href="https://www.oeglobal.org/" target="_blank">
							<img class="oeg-logo" src="/images/oeg_logo.png" alt="Open Education Global"/>
						</a>
						</div>
					</div>
				</div>
        	</div>
		</div>

		<div class="col-12 mt-5 d-md-none">
			{{ partial "footer-v2-social-icons.html" . }}
		</div>

		<div class="col-12 mt-4 pl-3 pl-md-4 d-lg-none">
			{{ partial "footer-v2-copyrights.html" . }}
		</div>
	</div>
</div>
