{{/*
This file has been created in base-theme in-case
we want to use this new footer in other themes (www, course-offline etc)
*/}}
<div style="
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-top: 1px solid #8c8c8c;
  flex-grow: 0;
" role="contentinfo">
  <div style="max-width: 1280px; width: 100%; margin: 0 auto; padding: 0 24px;">
    <div style="
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px 0;
    ">
      <div style="
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
      ">
        <!-- Left Container -->
        <div style="
          display: flex;
          align-items: center;
          gap: 30px;
        ">
          <!-- MIT Logo -->
          <a href="https://mit.edu" target="_blank" rel="noopener noreferrer">
            <img src="https://learn.mit.edu/_next/static/media/mit-logo-black.64b85756.svg" alt="MIT" style="height: 48px;" />
          </a>
          
          <!-- Address -->
          <address style="
            color: #000000;
            font-size: 0.875rem;
            line-height: 1.125rem;
            font-weight: 400;
            font-style: normal;
			margin-bottom: 0;
          " data-testid="footer-address">
            Massachusetts Institute of Technology<br />
            77 Massachusetts Avenue<br />
            Cambridge, MA 02139
          </address>
        </div>
        
        <!-- Right Container -->
        <div style="
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          gap: 32px;
        ">
          <!-- Links Container -->
          <div style="
            display: flex;
            align-items: flex-start;
            gap: 16px;
          ">
            <!-- Home Link -->
            <div style="
              display: flex;
              padding: 0 16px;
              align-items: flex-start;
            ">
              <a href="/" style="
                color: #000000;
                text-decoration: none;
                text-align: center;
                font-size: 0.875rem;
                line-height: 1.125rem;
                font-weight: 400;
              " onmouseover="this.style.color='#cc0000'" onmouseout="this.style.color='#000000'">
                Home
              </a>
            </div>
            
            <!-- About Us Link -->
            <div style="
              display: flex;
              padding: 0 16px;
              align-items: flex-start;
            ">
              <a href="/about" style="
                color: #000000;
                text-decoration: none;
                text-align: center;
                font-size: 0.875rem;
                line-height: 1.125rem;
                font-weight: 400;
              " onmouseover="this.style. color='#cc0000'" onmouseout="this.style. color='#000000'">
                About Us
              </a>
            </div>
            
            <!-- Accessibility Link -->
            <div style="
              display: flex;
              padding: 0 16px;
              align-items: flex-start;
            ">
              <a href="/accessibility" style="
                color: #000000;
                text-decoration: none;
                text-align: center;
                font-size: 0.875rem;
                line-height: 1.125rem;
                font-weight: 400;
              " onmouseover="this.style. color='#cc0000'" onmouseout="this.style. color='#000000'">
                Accessibility
              </a>
            </div>
            
            <!-- Terms of Service Link -->
            <div style="
              display: flex;
              padding: 0 16px;
              align-items: flex-start;
            ">
              <a href="/terms" style="
                color: #000000;
                text-decoration: none;
                text-align: center;
                font-size: 0.875rem;
                line-height: 1.125rem;
                font-weight: 400;
              " onmouseover="this.style.color='#cc0000'" onmouseout="this.style.color='#000000'">
                Terms of Service
              </a>
            </div>
            
            <!-- Contact Us Link -->
            <div style="
              display: flex;
              padding: 0 16px;
              align-items: flex-start;
            ">
              <a href="/contact" style="
                color: #000000;
                text-decoration: none;
                text-align: center;
                font-size: 0.875rem;
                line-height: 1.125rem;
                font-weight: 400;
              " onmouseover="this. style.color='#cc0000'" onmouseout="this. style.color='#000000'">
                Contact Us
              </a>
            </div>
          </div>
          
          <!-- Copyright Container -->
          <div style="
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 0 16px;
            gap: 10px;
          ">
            <span style="
              color: #8c8c8c;
              font-size: 0.875rem;
              line-height: 1.125rem;
              font-weight: 400;
            ">
              &copy; 2025 Massachusetts Institute of Technology
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
