{{/*
This file has been created in base-theme in-case
we want to use this new footer in other themes (www, course-offline etc)
*/}}
<div class="footer-v3 d-flex flex-column align-items-center align-self-stretch bg-white flex-grow-0" role="contentinfo">
  <div class="container-fluid px-3" style="max-width: 1280px;">
    <div class="d-flex flex-column align-items-center py-4">
      <div class="d-flex justify-content-between align-items-start align-self-stretch">
        <!-- Left Container -->
        <div class="d-flex align-items-center gap-4 justify-content-between left-container">
          <!-- MIT Logo -->
          <a href="https://mit.edu" target="_blank" rel="noopener noreferrer">
            <img src="https://learn.mit.edu/_next/static/media/mit-logo-black.64b85756.svg" alt="MIT" class="footer-v3__logo" />
          </a>
          
          <!-- Address -->
          <address class="footer-v3__address text-black fw-normal mb-0" style="font-style: normal;" data-testid="footer-address">
            Massachusetts Institute of Technology<br />
            77 Massachusetts Avenue<br />
            Cambridge, MA 02139
          </address>
        </div>
        
        <!-- Right Container -->
        <div class="d-flex flex-column align-items-end justify-content-center" style="gap: 32px;">
          <!-- Links Container -->
          <div class="d-flex align-items-start gap-3">
            <!-- Home Link -->
            <div class="d-flex px-3 align-items-start">
              <a href="/" class="footer-v3__link fw-normal text-center">
                Home
              </a>
            </div>
            
            <!-- About Us Link -->
            <div class="d-flex px-3 align-items-start">
              <a href="/about" class="footer-v3__link fw-normal text-center">
                About Us
              </a>
            </div>
            
            <!-- Accessibility Link -->
            <div class="d-flex px-3 align-items-start">
              <a href="/accessibility" class="footer-v3__link fw-normal text-center">
                Accessibility
              </a>
            </div>
            
            <!-- Terms of Service Link -->
            <div class="d-flex px-3 align-items-start">
              <a href="/terms" class="footer-v3__link fw-normal text-center">
                Terms of Service
              </a>
            </div>
            
            <!-- Contact Us Link -->
            <div class="d-flex px-3 align-items-start">
              <a href="/contact" class="footer-v3__link fw-normal text-center">
                Contact Us
              </a>
            </div>
          </div>
          
          <!-- Copyright Container -->
          <div class="d-flex align-items-end justify-content-center px-3 gap-2">
            <span class="footer-v3__copyright-text fw-normal">
              &copy; 2025 Massachusetts Institute of Technology
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
