{{/*  
This file has been created in base-theme in-case 
we want to use this new footer in other themes (www, course-offline etc)
*/}}
<div class="footer">
    <div class="footer-main-content mx-auto">
    	<div class="col-12">
        	<div class="d-flex align-items-center">
            	<div>
					<a href="https://openlearning.mit.edu/" target="_blank">
						<img width="150px" src="/images/mit-ol.png" alt="MIT Open Learning" />
					</a>
            	</div>
            	<div class="ml-3">
					<div class="font-weight-bold">
						Over 2,500 courses & materials
					</div>
					<div>
						Freely sharing knowledge with leaners and educators around the world. <a href='{{ partial "site_root_url.html" "/about" }}'>Learn more</a>
					</div>
            	</div>
				<div class="d-flex ml-auto">
					<div>
						<a href="https://www.facebook.com/MITOCW" target="_blank">
							<img class="footer-social-icon" src="/images/Facebook.png" alt="facebook"/>
						</a>
					</div>
					<div>
						<a href="https://www.instagram.com/mitocw" target="_blank">
							<img class="footer-social-icon" src="/images/Instagram.png" alt="instagram"/>
						</a>
					</div>
					<div>
						<a href="https://twitter.com/MITOCW" target="_blank">
							<img class="footer-social-icon" src="/images/Twitter.png" alt="twitter"/>
						</a>
					</div>
					<div>
						<a href="https://www.youtube.com/mitocw" target="_blank">
							<img class="footer-social-icon" src="/images/Youtube.png" alt="youtube"/>
						</a>
					</div>
					<div>
						<a href="https://www.linkedin.com/company/mit-opencourseware/" target="_blank">
							<img class="footer-social-icon" src="/images/LinkedIn.png" alt="LinkedIn"/>
						</a>
					</div>
				</div>
        	</div>
    	</div>
		<div class="col-12 mt-4">
			<div class="d-flex align-items-center">
			<div class="d-flex">
				<div class="mr-2">
				© 2001–{{ now.Format "2006" }} Massachusetts Institute of Technology
				</div>
				<div class="footer-links">
				<a href="https://accessibility.mit.edu" target="_blank">Accessibility</a>
				<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons License</a>
				<a class="hide-offline" href='{{ partial "site_root_url.html" "/pages/privacy-and-terms-of-use/" }}'>Terms and Conditions</a>
				</div>
			</div>
			<div class="d-flex ml-auto">
				<div>
				Proud member of: 
				<a href="https://www.oeglobal.org/" target="_blank">
					<img class="oeg-logo" src="/images/oeg_logo.png" alt="Open Education Global"/>
				</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
