<!-- navbar for mobile screens -->
{{ $siteRootUrl := partial "site_root_url.html" "/" }}
{{ $giveNowUrl := "https://giving.mit.edu/give/to/ocw/?utm_source=ocw&utm_medium=homepage_banner&utm_campaign=nextgen_home" }}
{{ $aboutUrl := partial "site_root_url.html" "/about" }}
{{ $zenDeskUrl := "https://mitocw.zendesk.com/hc/en-us" }}
{{ $contactUrl := partial "site_root_url.html" "/contact" }}
<div id="mobile-header" class="position-relative bg-black medium-and-below-only">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black d-flex">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="material-icons display-4 text-white align-bottom">menu</i>
    </button>
    <div class="mx-auto">
      <!-- TODO: Currently rendering different logos for different course themes via CSS
      This should be undone and ocw_logo_white_v2 should be used when we completely move to new course theme -->
      <a href="{{ $siteRootUrl }}">
        <img
          id="ocw-logo-white" 
          width="250"
          src="/images/ocw_logo_white.png"
          alt="MIT OpenCourseWare"
        />
        <img
        id="ocw-logo-white-v2" 
        class="d-none"
        width="250"
        src="/images/ocw_logo_white_v2.svg"
        alt="MIT OpenCourseWare"
      />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto pl-2 pt-2">
        <li class="nav-item">{{ block "extraheader" . }}{{ end }}</li>
        <li class="nav-item">
          {{ partial "link.html" (dict "href" $giveNowUrl "class" "nav-link" "text" "Give Now") }}
        </li>
        <li class="nav-item">
          {{ partial "link.html" (dict "href" $aboutUrl "class" "nav-link" "text" "About OCW") }}
        </li>
        <li class="nav-item">
          {{ partial "link.html" (dict "href" $zenDeskUrl "class" "nav-link" "text" "Help & Faqs" "target" "_blank") }}
        </li>
        <li class="nav-item">
          {{ partial "link.html" (dict "href" $contactUrl "class" "nav-link" "text" "Contact Us") }}
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- navbar for laptop/desktop screens -->
<div id="desktop-header">
  <div class="contents">
    <div class="left">
      <div class="ocw-logo mr-6">
        <a href="{{ $siteRootUrl }}">
          <!-- TODO: Currently rendering different logos for different course themes via CSS
          This should be undone and ocw_logo_white_v2 should be used when we completely move to new course theme -->
          <img id="ocw-logo-white" src="/images/ocw_logo_white.png" alt="MIT OpenCourseWare" />
          <img class="d-none" id="ocw-logo-white-v2" src="/images/ocw_logo_white_v2.svg" alt="MIT OpenCourseWare" />
        </a>
      </div>
    </div>
    <div class="right">
      {{ block "extraheader" . }}{{ end }}
      {{ partial "link.html" (dict "href" $giveNowUrl "class" "give-button-header font-weight-bold py-2 px-3" "text" "give now") }}
      {{ partial "link.html" (dict "href" $aboutUrl "class" "text-white text-decoration-none font-weight-bold pl-5 pr-3 py-2" "text" "about ocw") }}
      {{ partial "link.html" (dict "href" $zenDeskUrl "class" "text-white text-decoration-none font-weight-bold px-3 py-2" "text" "help & faqs" "target" "_blank") }}
      {{ partial "link.html" (dict "href" $contactUrl "class" "text-white text-decoration-none font-weight-bold px-3 py-2" "text" "contact us") }}
    </div>
  </div>
</div>
