<script>
function hideLinksOffline(){
  if (!window.navigator.onLine) {
    const stripLinks = document.querySelectorAll(".strip-link-offline")
    const hideOffline = document.querySelectorAll(".hide-offline")
    const showOffline = document.querySelectorAll(".show-offline")
    Array.prototype.forEach.call(stripLinks, function(link) {
      link.outerHTML = link.innerHTML
    })
    Array.prototype.forEach.call(hideOffline, function(link) {
      link.classList.add("d-none")
    })
    Array.prototype.forEach.call(showOffline, function(link) {
      link.classList.remove("d-none")
    })
  }
}
hideLinksOffline()
</script>