{{- $imageHref := "" -}}

{{- if .href -}}
    {{- $imageHref = .href -}}
{{- else if .href_uuid -}}
    {{- range where .resource.Site.Pages "Params.uid" .href_uuid -}}
        {{- $imageHref = partial "page_url.html" (dict "context" $.context "url" .RelPermalink) -}}
    {{- end -}}
{{- end -}}

{{- if $imageHref -}}
    <a href="{{- $imageHref -}}" target="_blank">
{{- end -}}
{{- $metadata := .resource.Params.image_metadata | default dict -}}
{{ partial "picture_element.html" (dict "src" (partial "resource_url.html" (dict "context" .context "url" .resource.Params.file)) "alt" (index $metadata "image-alt" | default "") "sizes" "100vw") }}
{{- if $imageHref -}}
    </a>
{{- end -}}
