{{- $imageHref := "" -}}

{{- if .href -}}
    {{- $imageHref = .href -}}
{{- else if .href_uuid -}}
    {{- range where .resource.Site.Pages "Params.uid" .href_uuid -}}
        {{- $imageHref = partial "page_url.html" (dict "context" $.context "url" .RelPermalink) -}}
    {{- end -}}
{{- end -}}

{{- if $imageHref -}}
    <a href="{{- $imageHref -}}" target="_blank">
{{- end -}}
{{- $metadata := .resource.Params.image_metadata | default dict -}}
<img src="{{ partial "resource_url.html" (dict "context" .context "url" .resource.Params.file) }}" {{ if index $metadata "image-alt" -}}alt="{{ index $metadata "image-alt" }}"{{- end }} />
{{- if $imageHref -}}
    </a>
{{- end -}}
