{{ $random := delimit (shuffle (split (md5 "seed") "" )) "" }}
{{ $playerId := printf "video-player-%s-%s" .youtubeKey $random }}
<div class="video-container embedded-video-container">
  <video
    id="{{ $playerId }}"
    class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9 vjs-ocw"
    controls
    data-transcriptlink="{{ .transcriptLink }}"
    data-captionslocation="{{ .captionsLocation }}"
    data-setup='{
    "fluid": true,
    "inactivityTimeout": 0}'
  >
      {{ if .archiveUrl }}
        <source src="{{ partial "resource_url.html" (dict "context" .context "url" .archiveUrl) }}" type="video/mp4" />
      {{ end }}
      {{ if .captionsLocation }}
        <track kind="captions" src="{{ .captionsLocation }}" srclang="en" label="English" default mode="showing" />
      {{ end }}
  </video>
</div>

<script>
  window.addEventListener('load', function() {
    if (window.initVideoJS) {
      window.initVideoJS()
    }
    {{ if or .startTime .endTime }}
    if (window.videojs) {
      const player = window.videojs("{{ $playerId }}")
      const startTime = {{ .startTime }}
      const endTime = {{ .endTime }}
      if (startTime) {
        player.currentTime(startTime)
      }
      const stopper = () => {
        if (player.currentTime() >= endTime) {
          player.pause()
          player.off("timeupdate", stopper)
        }
      }
      if (endTime) {
        player.on("timeupdate", stopper)
      }
    }
    {{ end }}
  })
</script>

