<div class="pdf-viewer w-100 pb-5">
  <div class="pr-4">
    <a class="download-link" href="{{ partial "resource_url" .Params.file }}">
      <div class="btn bg-link-blue text-white rounded float-right mb-3">
        <span>DOWNLOAD</span>
        <div class="ripple-container"></div>
      </div>
    </a>
  </div>
  <div class="pdf-wrapper w-100">
    <object data="{{ partial "resource_url" .Params.file }}" type="application/pdf" class="w-100">
      <embed src="{{ partial "resource_url" .Params.file }}" type="application/pdf" class="w-100" />
    </object>
  </div>
</div>
