{{- $resources := where (where site.RegularPages "Section" "==" "resources") ".Params.resourcetype" "==" .resourcetype -}}
{{- $resource := index (where $resources ".Params.uid" "==" .uid) 0 -}}
{{/* 
  Here we are disassembling the URL and returning it without the host and schema.
  This is done because it is expected that ocw-studio currently returns fully 
  qualified S3 URLs, and when deployed these will need to be behind CDN.

  The RESOURCE_URL_PREFIX env variable is prefixed before the URL. That way for local 
  development, you can set this to the S3 URL you expect the resources to be available at.
*/}}
{{- $prefix := getenv "RESOURCE_BASE_URL" | default "" -}}
{{- return printf "%s%s" (strings.TrimSuffix "/" $prefix) (urls.Parse $resource.Params.file).Path -}}