<div class="resource-page container">
  {{- if ne .Params.resourcetype "Video" }}
      {{- if .Content -}}
          <div class="row">
              <div class="label col-3">Description:</div>
              <div class="col-9">{{ .Content }}</div>
          </div>
      {{- end -}}
      {{- if .Params.learning_resource_types -}}
          <div class="row">
              <div class="label col-3">Resource Type:</div>
              <div class="col-9">{{ delimit (.Params.learning_resource_types | default slice) ", " }}</div>
          </div>
      {{- end -}}
      {{- if .Params.file -}}
      <div class="row">
          <div class="col-12 d-flex flex-direction-row align-items-center">
              <a class="download-file" href="{{ partialCached "resource_url.html" (dict "context" . "url" .Params.file) }}"><span class="material-icons">file_download</span> Download File</a>
          </div>
      </div>
      {{- end -}}
  {{- else -}}
      {{ partialCached "video.html" . }}
  {{- end -}}
  {{ if eq .Params.file_type "application/pdf" }}
  {{ partialCached "pdf_viewer.html" . }}
  {{ else if eq .Params.resourcetype "Image" }}
  {{ partialCached "image_page.html" . }}
  {{ end }}
</div>