<div class="resource-page container">
  {{- if ne .Params.resourcetype "Video" }}
      {{- if .Content -}}
          <div class="row">
              <div class="description-label col-12">Description:</div>
              <div class="description-content col-12">{{ .Content }}</div>
          </div>
      {{- end -}}
      {{- if .Params.learning_resource_types -}}
          <div class="row">
              <div class="resource-label col-3">Resource Type:</div>
              <div class="resource-content col-9">{{ delimit (.Params.learning_resource_types | default slice) ", " }}</div>
          </div>
      {{- end -}}
      {{/*  {{- if .Params.file -}}  */}}
      {{/*  <div class="row">
          <div class="col-12 d-flex flex-direction-row align-items-center">
              <a class="download-file" href="{{ partial "resource_url.html" (dict "context" . "url" .Params.file) }}"><span aria-hidden="true" class="material-icons">file_download</span> Download File</a>
          </div>
      </div>  */}}
      <div class="resource-list-item container">
      <div class="">
        <div class="row col-12 col-sm-10 d-flex flex-wrap" style="border: 1px solid #DEE2E6; border-radius: 3px; padding: 10px">
        <div class="d-flex col-12 col-sm-3 align-self-center" style="padding: 0px">
          {{/*  {{ if not .hideThumbnail }}  */}}
          {{/*  <div>  */}}
            {{/*  <div class="thumbnail">  */}}
            {{ $thumbnailAttrs := partial "get_resource_thumbnail_attributes.html" (dict "resourceType" .Params.resourcetype "fileType" .Params.file_type) }}
            <img
              class="resource-thumbnail"
              aria-label="{{- $thumbnailAttrs.ariaLabel -}}"
              src="{{- $thumbnailAttrs.src -}}"
            />
            {{/*  </div>  */}}
          {{/*  {{ end }}  */}}
          {{/*  <div class="download-thumbnail">  */}}
          {{ $downloadableLink := partial "get_resource_download_link.html" .Params }}
          <span class="pr-2">
            {{ if $downloadableLink }}
              <a href="{{- $downloadableLink -}}" aria-label="Download file" target="_blank" download>
                <img
                  class="hide-offline resource-download"
                  src="/static_shared/images/download.svg"
                  aria-hidden="true"
                />
              </a>
            {{ end }}
          </span>
        {{/*  </div>  */}}
        <div class="">
            {{.Params.title }}
           {{ if .Params.file_size }}
             <div class="resource-list-file-size">
               {{ partial "file_size_formatter.html" .Params.file_size }}
             </div>
           {{ end }}
       </div>
      </div>
    
    <div class="col-12 col-sm align-self-center" style="display: flex; justify-content: flex-end; padding: 0px">
        {{ if .Params.file }}
        <div class="button-container">
        <a class="download-file" href="{{ partial "resource_url.html" (dict "context" . "url" .Params.file) }}">Download File</a>
        </div>
        {{ end }}
   </div>
      </div>
      </div>
    </div>
      {{/*  {{- end -}}  */}}
  {{- else -}}
      {{ partial "video.html" . }}
  {{- end -}}
  {{ if eq .Params.file_type "application/pdf" }}
  {{ partial "pdf_viewer.html" . }}
  {{ else if eq .Params.resourcetype "Image" }}
  {{ partial "image_page.html" . }}
  {{ end }}
</div>
