{{ $downloadableLink := partial "get_resource_download_link.html" . }}   
<div class="resource-page-container w-100">
  {{- if ne .Params.resourcetype "Video" }}
    <div class="resource-single-content">
      {{- if .Params.learning_resource_types -}}
        <div class="resource-type-field">
          <span class="resource-type-label">Resource Type:</span>
          <span class="resource-type-value">{{ delimit (.Params.learning_resource_types | default slice) ", " }}</span>
        </div>
      {{- end -}}
      
      <div class="resource-single-card">
        <a class="resource-single-thumbnail-link"{{ if $downloadableLink }} href="{{- $downloadableLink -}}" target="_blank" aria-label="Download {{ .Params.title }}" download{{ end }}>
          {{ $resourceCategory := partial "get_resource_category.html" (dict "resourceType" .Params.resourcetype "fileType" .Params.file_type) }}
          <div class="resource-card-thumbnail">
            <div class="resource-card-type {{ $resourceCategory }}">{{- $resourceCategory -}}</div>
            <div class="resource-card-download">
              <img
                class="resource-card-download-icon"
                src="{{ partial "get_asset_webpack_url.html" "images/resource-download.svg" }}"
                aria-hidden="true"
              />
              {{ if .Params.file_size }}
              <div class="resource-card-file-size">
                {{ partial "file_size_formatter.html" .Params.file_size }}
              </div>
              {{ end }}
            </div>
          </div>
        </a>
        <div class="resource-single-title">{{.Params.title }}</div>
        {{- if $downloadableLink -}}
          <a class="resource-download-button" href="{{- $downloadableLink -}}" download>
            <img
              class="resource-download-icon"
              src="{{ partial "get_asset_webpack_url.html" "images/resource-download.svg" }}"
              aria-hidden="true"
            />
            <span>Download</span>
          </a>
        {{ end }}
      </div>
    </div>
  {{- else -}}
    <div class="video-view-page-v3">
      <div class="video-view-header">
        <div class="video-view-title-container">
          {{ with .Params.parent_title }}
          <p class="video-view-category">{{ . }}</p>
          {{ end }}
          <h1 class="video-view-title">{{ .Title }}</h1>
        </div>
        {{ if .Content }}
        <div class="video-view-meta-block">
          <div>{{ .Content }}</div>
        </div>
        {{ end }}
        {{ with .Params.video_metadata.video_speakers }}
        <div class="video-view-meta-block">
          <div><strong>Instructors:</strong> {{ . }}</div>
        </div>
        {{ end }}
      </div>
      <div class="video-view-content">
        {{ partial "video_v3.html" . }}
      </div>
    </div>
  {{- end -}}
  {{ if eq .Params.file_type "application/pdf" }}
    {{ partial "pdf_viewer.html" . }}
  {{ else if eq .Params.resourcetype "Image" }}
    {{ partial "image_page.html" . }}
  {{ end }}
</div>
