{{ define "seo" }}

  {{- $sitemapDomain := partial "sitemap_domain.html" -}}
  {{- $path := partial "absolute_url.html" .RelPermalink -}}

  <!-- default value for the meta description -->
  {{- $defaultMetadataDescription := "MIT OpenCourseWare is a web based publication of virtually all MIT course content. OCW is open and available to the world and is a permanent MIT activity" -}}
  {{- $metaDataDescription := $defaultMetadataDescription -}}
  {{- if .IsHome -}}
  {{- $metaDataDescription = (.Site.Data.course.course_description | plainify) | default $defaultMetadataDescription -}}
  {{- else -}}
  {{- $metaDataDescription = (.Params.description | plainify) | default $defaultMetadataDescription -}}
  {{- end -}}

  {{ $title := partial "title.html" . }}

  <meta name="description" content="{{- $metaDataDescription -}}">
  <meta name="keywords" content="opencourseware,MIT OCW,courseware,MIT opencourseware,Free Courses,class notes,class syllabus,class materials,tutorials,online courses,MIT courses">
  {{/*  Facebook Open Graph  */}}
  <meta property="og:site_name" content="MIT OpenCourseWare">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://{{ strings.TrimSuffix "/" $sitemapDomain }}/{{- strings.TrimPrefix "/" $path -}}" />
  <meta property="og:title" content="{{- $title -}}" />
  <meta property="og:description" content="{{- $metaDataDescription -}}" />

  {{ partial "extra_metadata.html" (dict "context" . ) }}
  
  <link rel="canonical" href="https://{{ strings.TrimSuffix "/" $sitemapDomain }}/{{- strings.TrimPrefix "/" $path -}}" />

  <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type" : "WebPage",
        "name": "MIT OpenCourseWare",
        "description": "{{- $metaDataDescription -}}",
        "license": "http://creativecommons.org/licenses/by-nc-sa/4.0/", 
        "publisher": {
          "@type": "CollegeOrUniversity",
          "name": "MIT OpenCourseWare"
        }
      }
  </script>
{{ end }}
