{{- if eq site.BaseURL "" -}}
  {{/* No BaseURL is defined */}}
  {{- errorf "No BaseURL has been defined, please check your configuration" -}}
{{- else if hasPrefix site.BaseURL "/" -}}
  {{/* BaseURL is absolute but not fully qualified, so find the relative path back */}}
  {{- $ignoreBaseUrl := .ignoreBaseUrl | default false -}}
  {{- $relativePathToRoot := partial "relative_path_to_root.html" (dict "url" .context.RelPermalink "ignoreBaseUrl" $ignoreBaseUrl) -}}
  {{- $url := .url -}}
  {{- if $ignoreBaseUrl -}}
    {{- $url = replace $url site.BaseURL "/" -}}
  {{- end -}}
  {{- printf "%s/%s" (strings.TrimSuffix "/" $relativePathToRoot) (strings.TrimPrefix "/" $url) -}}
{{- else if hasPrefix site.BaseURL "http" -}}
  {{/* A fully qualified BaseURL is set, so disassemble it and construct the root URL */}}
  {{- $baseUrl := urls.Parse site.BaseURL -}}
  {{- if or (eq $baseUrl.Scheme nil) (eq $baseUrl.Host nil) -}}
    {{- printf "%s/%s" (strings.TrimSuffix "/" site.BaseURL) (strings.TrimPrefix "/" .url) -}}
  {{- else -}}
    {{- printf "%s://%s/%s" $baseUrl.Scheme $baseUrl.Host (strings.TrimPrefix "/" .url) -}}
  {{- end -}}
{{- else -}}
  {{/* A BaseURL value that doesn't start with "/" or "http" is not valid */}}
  {{- errorf "Invalid BaseURL: %q" site.BaseURL -}}
{{- end -}}