{{- if and (not (eq site.BaseURL "")) (not (hasPrefix site.BaseURL "/")) -}}
  {{- if hasPrefix site.BaseURL "http" -}}
    {{/* A fully qualified BaseURL is set, so disassemble it and construct the root URL */}}
    {{- $baseUrl := urls.Parse site.BaseURL -}}
    {{- if or (eq $baseUrl.Scheme nil) (eq $baseUrl.Host nil) -}}
      {{- printf "%s/%s" (strings.TrimSuffix "/" site.BaseURL) (strings.TrimPrefix "/" .) -}}
    {{- else -}}
      {{- printf "%s://%s/%s" $baseUrl.Scheme $baseUrl.Host (strings.TrimPrefix "/" .) -}}
    {{- end -}}
  {{- else -}}
    {{/* A BaseURL value that doesn't start with "/" or "http" is not valid */}}
    {{- errorf "Invalid BaseURL: %q" site.BaseURL -}}
  {{- end -}}
{{- else -}}
  {{/* No BaseURL is set or it is relative to the root, so simply prefix what's passed in with "/" */}}
  {{- printf "/%s" . -}}
{{- end -}}