<div class="modal" id="userlist-modal" tabindex="-1" role="dialog" aria-labelledby="userlist-modal-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-3">
      <div class="modal-header d-flex align-items-center">
        <div class="d-flex align-items-center">
          <h1 class="modal-title" id="userlist-modal-title">
            Add course to list
          </h1>
        </div>
        <button type="button" class="border-0 p-0 bg-transparent d-flex" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons modal-header-icon">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="userlist-modal-list-container"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-link link-button" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>