<div class="bg-dark-gray white-color mb-2">
  <div
    class="video-tab-toggle-section pointer"
    data-target=".{{- .tabClass -}}"
    data-toggle="collapse"
    aria-controls="{{- .tabClass -}}"
    aria-expanded=""
  >
    <div class="video-tab-header">
      <span>
        {{- .tabTitle -}}
      </span>
      <div class="float-right">
        <i class="material-icons md-18"></i>
      </div>
    </div>
  </div>
  <div class="container collapse pr-0 {{ .tabClass }}">
    <div class="video-tab-content-section">
      {{- .tabContent | markdownify -}}
    </div>
  </div>
</div>
