{{ $context := .context }}
{{ $resource := .resource }}
{{ $youtubeKey := trim $resource.Params.video_metadata.youtube_id " "}}
{{ $captionsLocation := partial "video_captions_file_url.html" (dict "context" . "url" $resource.Params.video_files.video_captions_file) }}
{{ $uid := $resource.Params.uid }}
{{ $startTime := $resource.Params.start_time | default "" }}
{{ $endTime := $resource.Params.end_time | default "" }}
{{ $downloadLink := $resource.Params.file }}
{{ $transcriptPdfLocation := partial "resource_url.html" (dict "context" . "url" $resource.Params.video_files.video_transcript_file) }}

{{ if (eq $downloadLink nil) }}
{{ $downloadLink = $resource.Params.video_files.archive_url }}
{{ else }}
{{ $downloadLink =  partial "resource_url.html" (dict "context" $context "url" $downloadLink) }}
{{ end }}

<div class="video-embed">
  {{ partial "youtube_player.html" (dict "youtubeKey" $youtubeKey "captionsLocation" $captionsLocation "startTime" $startTime "endTime" $endTime "downloadLink" $downloadLink) }}
  {{ range where site.Pages "Params.uid" $uid }}
  {{ $resourceUrl := partial "page_url.html" (dict "context" $context "url" .Permalink) }}
  {{ partial "video_expandable_tab.html" (dict "tabTitle" "View video page" "downloadLink" $downloadLink "transcriptLink" $transcriptPdfLocation "resourceUrl" $resourceUrl) }}
  {{ end }}
</div>
