<div
  class="video-tab-toggle-section pointer"
  data-target=".{{- .tabClass -}}"
  data-toggle="collapse"
  aria-controls="{{- .tabClass -}}"
  aria-expanded=""
  >
  <div class="video-tab-header">
    {{ if .tabTitle }}
      {{/*  In case of embed videos, the tab bar should have a clickable link  */}}
      <span 
        class="tab-title-section" 
        {{ if and .resourceUrl (eq .tabTitle "View video page") }} 
        onclick="window.location='{{ .resourceUrl }}';"
        {{ end }}
        >
        <i class="material-icons toggle md-18"></i>
        <span class="tab-title">
          {{- .tabTitle -}}
        </span>
      </span>
    {{ end }}
    {{/*  If we have transcript or the video is embed video, show download button on those tabs.
      Otherwise show download button in a standalone tab bar  */}}
    {{ if or (eq .tabTitle "Transcript") (eq .tabTitle "View video page") (eq .tabTitle "") }}
      <div class="float-right">
        <div class="video-download-icons">
          <img class="video-download-icon" src="/static_shared/images/videojs_download.svg"/>
          <i class="material-icons caret-down"></i>
        </div>
      </div>
    {{ end }}
  </div>
</div>
<div class="video-tab-download-popup hidden">
  <ul>
    {{ if .downloadLink }}
      <li>
        <a href="{{.downloadLink}}" target="_blank">Download video</a>
      </li>
    {{ end }}
    {{ if .transcriptLink }}
      <li>
        <a href="{{.transcriptLink}}" target="_blank">Download transcript</a>
      </li>
    {{ end }}
  </ul>
</div>
<div class="video-tab container collapse pr-0 {{ .tabClass }}">
  <div class="video-tab-content-section">
    {{ .context.RenderString .tabContent }}
  </div>
</div>
