{{ $youtubeKey := .Params.video_metadata.youtube_id }}
{{ $captionsLocation := partial "video_captions_file_url.html" (dict "context" . "url" .Params.video_files.video_captions_file) }}
{{ $transcriptPdfLocation := partial "resource_url.html" (dict "context" . "url" .Params.video_files.video_transcript_file) }}
{{ $downloadLink := .Params.file }}
{{ $relatedResourses := .Params.related_resources_text | default "" }}
{{ $optionalTabTitle := .Params.optional_tab_title | default "" }}
{{ $optionalTabContent := .Params.optional_text | default ""}}
{{ $startTime := .Params.start_time | default "" }}
{{ $endTime := .Params.end_time | default "" }}

{{ if (eq $downloadLink nil) }}
{{ $downloadLink = .Params.video_files.archive_url }}
{{ else }}
{{ $downloadLink =  partial "resource_url.html" (dict "context" . "url" $downloadLink) }}
{{ end }}

<div class="video-page">
  	<div class="show-offline d-none alert alert-warning" role="alert">
		Viewing videos requires an internet connection
	</div>
  	<div class="description">
    	{{ .Content }}
  	</div>
  	{{ partialCached "youtube_player.html" (dict "youtubeKey" $youtubeKey "captionsLocation" $captionsLocation "startTime" $startTime "endTime" $endTime "downloadLink" $downloadLink "transcriptLink" $transcriptPdfLocation)}}

	{{ if $captionsLocation }}
		{{ partialCached "video_expandable_tab.html" (dict "tabClass" "transcript" "tabTitle" "Transcript") }}
	{{end}}

  	{{ if $relatedResourses }}
  		{{ partialCached "video_expandable_tab.html" (dict "tabClass" "related-resource" "tabTitle" "Related Resources" "tabContent" $relatedResourses) }}
  	{{ end }}
	
  	{{ if and $optionalTabTitle $optionalTabContent }}
		{{ partialCached "video_expandable_tab.html" (dict "tabClass" "optional-tab" "tabTitle" $optionalTabTitle "tabContent" $optionalTabContent) }}
  	{{end}}
</div>
