{{ $context := .context }}
{{ $resource := .resource }}
{{ $youtubeKey := trim $resource.Params.video_metadata.youtube_id " "}}
{{ $archiveUrl := $resource.Params.video_files.archive_url }}
{{ $captionsSource := $resource.Params.video_files.video_captions_resources }}
{{ $captionTracks := partial "video_caption_tracks.html" (dict "context" $context "captionsFile" $captionsSource) }}
{{ $captionsLocation := "" }}
{{ if gt (len $captionTracks) 0 }}
  {{ $captionsLocation = (index $captionTracks 0).src }}
{{ end }}
{{ $uid := $resource.Params.uid }}
{{ $startTime := $resource.Params.start_time | default "" }}
{{ $endTime := $resource.Params.end_time | default "" }}
{{ $downloadLink := $resource.Params.file }}
{{ $transcriptSource := $resource.Params.video_files.video_transcript_resources }}
{{ $transcriptLinks := partial "video_transcript_links.html" (dict "context" $context "transcriptFile" $transcriptSource) }}
{{ $transcriptPdfLocation := "" }}
{{ if gt (len $transcriptLinks) 0 }}
  {{ $transcriptPdfLocation = (index $transcriptLinks 0).href }}
{{ end }}

{{ if (eq $downloadLink nil) }}
{{ $downloadLink = $resource.Params.video_files.archive_url }}
{{ else }}
{{ $downloadLink =  partial "resource_url.html" (dict "context" $context "url" $downloadLink) }}
{{ end }}

<div class="video-embed video-player-wrapper">
  {{ partial "video_player.html" (dict "context" $context "youtubeKey" $youtubeKey "archiveUrl" $archiveUrl "captionsLocation" $captionsLocation "captionTracks" $captionTracks "startTime" $startTime "endTime" $endTime "downloadLink" $downloadLink "transcriptLink" $transcriptPdfLocation) }}
  {{ range where site.Pages "Params.uid" $uid }}
  {{ $resourceUrl := partial "page_url.html" (dict "context" $context "url" .Permalink) }}
  {{ partial "video_expandable_tab.html" (dict "context" $context "tabTitle" "View video page" "downloadLink" $downloadLink "transcriptLinks" $transcriptLinks "resourceUrl" $resourceUrl) }}
  {{ end }}
</div>
