{{ $youtubeKey := .Params.video_metadata.youtube_id }}
{{ $captionsLocation := partial "resource_url.html" .Params.video_files.video_captions_file }}
{{ $transcriptPdfLocation := partial "resource_url.html" .Params.video_files.video_transcript_file }}
{{ $downloadLink := .Params.file }}
{{ $relatedResourses := .Params.related_resources_text | default "" }}
{{ $optionalTabTitle := .Params.optional_tab_title | default "" }}
{{ $optionalTabContent := .Params.optional_text | default ""}}
{{ $startTime := .Params.start_time | default "" }}
{{ $endTime := .Params.end_time | default "" }}

{{ if (eq $downloadLink nil) }}
{{ $downloadLink = .Params.video_files.archive_url }}
{{ else }}
{{ $downloadLink =  partial "resource_url" $downloadLink  }}
{{ end }}


<div class="video-page">
  <div class="description">
    {{ .Content }}
  </div>
  {{ partial "youtube_player.html" (dict "youtubeKey" $youtubeKey "captionsLocation" $captionsLocation "startTime" $startTime "endTime" $endTime)}}
  <div class="video-buttons-container">
	{{ if $transcriptPdfLocation }}
	  <div class="video-download-container">
	    <a class="download-file video-download-button" href="{{ $transcriptPdfLocation }}"><span class="material-icons">file_download</span> Download Transcript</a>
	  </div>
	{{end}}
	{{ if $downloadLink }}
	  <div class="video-download-container">
	    <a class="download-file video-download-button" href="{{ $downloadLink }}"><span class="material-icons">file_download</span> Download Video</a>
	  </div>
	{{end}}
	</div>

  {{ if $captionsLocation }}
    {{ partial "video-expandable-tab.html" (dict "tabClass" "transcript" "tabTitle" "Transcript" "tabContent" "") }}
  {{end}}
  {{ if $relatedResourses }}
  	{{ partial "video-expandable-tab.html" (dict "tabClass" "related-resource" "tabTitle" "Related Resources" "tabContent" $relatedResourses) }}
  {{end}}
  {{ if and $optionalTabTitle $optionalTabContent }}
		{{ partial "video-expandable-tab.html" (dict "tabClass" "optional-tab" "tabTitle" $optionalTabTitle "tabContent" $optionalTabContent) }}
  {{end}}
</div>
