{{ $random := delimit (shuffle (split (md5 "seed") "" )) "" }}
{{$youtubeParams:=`, "youtube": {`}}
{{if and (ne .startTime "") (ne .endTime "")}}
{{$youtubeParams = printf "%s" (delimit (slice `"start": ` .startTime `, "end":`  .endTime  `, `) "" ) | printf "%s%s" $youtubeParams}}
{{else if ne .startTime ""}}
{{$youtubeParams = printf "%s" (delimit (slice `"start": ` .startTime `, `) "") | printf "%s%s" $youtubeParams }}
{{else if ne .endTime ""}}
{{$youtubeParams = printf "%s" (delimit (slice `"end": ` .endTime `, `) "") |  printf "%s%s" $youtubeParams }}
{{end}}
{{$youtubeParams = printf "%s" `"ytControls":2}` | printf "%s%s" $youtubeParams |}}
{{ if .isOffline }}
  <div class="show-offline d-none alert alert-warning" role="alert">
    {{ $searchSvg := resources.Get "images/search.svg" }}
    {{ if $searchSvg }}
      {{ $searchSvg.Content | safeHTML }}
    {{ end }}
    Viewing videos requires an internet connection
  </div>
{{ end }}
<div class="video-container embedded-video-container youtube-container">
  <video
    id="video-player-{{ .youtubeKey }}-{{ $random }}"
    class="video-js vjs-default-skin vjs-big-play-centered vjs-ocw"
    controls
    data-downloadlink = "{{ .downloadLink }}"
    data-transcriptlink = "{{ .transcriptLink }}" 
    data-setup='{
    "fluid": true,
    "techOrder": ["youtube"],
    "inactivityTimeout": 0,
    "sources": [{"type": "video/youtube", "src": "https://www.youtube.com/embed/{{ .youtubeKey }}"}]
    {{$youtubeParams}} }'
  >
      {{ if .captionsLocation }}
        <track kind="captions" src="{{ .captionsLocation }}" mode="disabled" srclang="en" label="English">
      {{ end }}
  </video>
  {{ if .captionsLocation }}
        <track kind="captions" src="{{ .captionsLocation }}" mode="disabled" srclang="en" label="English">
  {{ end }}
</div>

<div class="video-fallback-container" style="display:none">
  <div class="video-fallback-warning" role="alert">
    <div class="warning-icon">
      {{ $searchSvg := resources.Get "images/warning.svg" }}
      {{ if $searchSvg }}
        {{ $searchSvg.Content | safeHTML }}
      {{ end }}
    </div>
    <div class="warning-text">
      Your browser does not support some features required to play this video.
      Please update your browser to the latest version for the best experience.
      {{ if .downloadLink }}
        You can also <a href="{{ .downloadLink }}">download the video</a> to watch it offline.
      {{ end }}
    </div>
  </div>
  <div class="video-fallback-player">
    <iframe src="https://www.youtube.com/embed/{{ .youtubeKey }}"></iframe>
  </div>
</div>

<script>
  window.handleVideoJSError = function(err) {
    console.error('Error loading VideoJS or YouTube player:', err)
    var youtubeVideoContainers = document.querySelectorAll('.video-container.youtube-container')
    for (var i = 0; i < youtubeVideoContainers.length; i++) {
      youtubeVideoContainers[i].style.display = 'none';
    }

    var fallbackContainers = document.querySelectorAll('.video-fallback-container')
    for (var j = 0; j < fallbackContainers.length; j++) {
      fallbackContainers[j].style.display = 'block';
    }
  }

  try {
      new Function("class X{#abc;}; 1??2; ({})?.abc");
  }
  catch (e) {
    window.handleVideoJSError(e)
  }

  window.addEventListener('load', function() {
    if (window.initVideoJS) {
      window.initVideoJS()
    }
  })
</script>
