{{ $random := delimit (shuffle (split (md5 "seed") "" )) "" }}
{{$youtubeParams:=""}}
{{if and (ne .startTime "") (ne .endTime "")}}
{{$youtubeParams =  delimit (slice `, "youtube": { "start": ` .startTime `, "end":`  .endTime  `}`) "" }}
{{else if ne .startTime ""}}
{{$youtubeParams =  delimit (slice `, "youtube": { "start": ` .startTime `}`) "" }}
{{else if ne .endTime ""}}
{{$youtubeParams =  delimit (slice `, "youtube": { "end": ` .endTime `}`) "" }}
{{end}}

<div class="video-container embedded-video-container">
  <video
    id="video-player-{{ .youtubeKey }}-{{ $random }}"
    class="video-js vjs-default-skin vjs-big-play-centered vjs-ocw"
    controls
    data-downloadlink = "{{ .downloadLink }}"
    data-transcriptlink = "{{ .transcriptLink }}" 
    data-setup='{
    "fluid": true,
    "techOrder": ["youtube"],
    "inactivityTimeout": 0,
    "sources": [{"type": "video/youtube", "src": "https://www.youtube.com/embed/{{ .youtubeKey }}"}]
    {{$youtubeParams}} }'
  >
      {{ if .captionsLocation }}
        <track kind="captions" src="{{ .captionsLocation }}" srclang="en" label="English" default>
      {{ end }}
  </video>
  {{ if .captionsLocation }}
        <track kind="captions" src="{{ .captionsLocation }}" srclang="en" label="English" default>
  {{ end }}
</div>
<script src="http://localhost:3001/static_shared/js/videojs.js"></script>
<script>
  window.initVideoJS().then(function(initVideoJS) {
    initVideoJS()
  })
</script>