{{ define "main" }}
{{ partial "course_content.html" . }}
  {{ if .Params.show_section_pages }}
    {{ range .Pages }}
      <div class="mb-2">
        <article class="content pt-3 mt-1">
          {{/* 
            The replaceRE is needed to adjust relative paths for
            image galleries in the offline theme.
          */}}
          {{- .Content | replaceRE `data-base-url='\.\.\/([^']*)'` `data-base-url='$1'` | safeHTML -}}
        </article>
      </div>  
    {{ end }}
  {{ end }}
{{ end }}
