{{ define "main" }}

  {{- $bundle := . -}}
  {{- $uids := .Params.resources.content -}}
  {{- $resources := slice -}}

  {{ partial "course_content.html" . }}
  <div class="mb-5">
    <div class="mb-3 collection-description">
      {{ $bundle.Description | .RenderString }}
    </div>
    <span>
      {{ range $id := $uids }}
        {{ $page := where $.Site.Pages "Params.uid" $id }}
        {{ $resources = $resources |  append (index $page 0) }}
      {{ end }}
      {{- partial "resource_list.html" (dict "resources" $resources "sort" false) -}}
    </span> 
  </div>
{{ end }}
