{{ define "main" }}
{{ $page := . }}
{{ partial "course_content.html" . }}
{{ range $index, $video := (where .Pages ".Params.layout" "video") }}
  <div class="mb-2 border-light-gray rounded video-gallery-card">
    <a class="video-link" href="{{ $video.Permalink }}">
      <div class="inner-container">
        <div class="left-col">
          {{ range $media := $video.Params.embedded_media }}
            {{ if eq $media.type "Thumbnail" }}
              <img class="thumbnail" src ="{{ $media.media_location }}" />
              <img class="youtube-logo-overlay" src="/images/youtube.svg" />
            {{ end }}
          {{ end }}
        </div>
        <div class="right-col">
          <h5 class="section-title">{{ $page.Params.title }}</h5>
          <h5 class="video-title">{{ $video.Params.title }}</h5>
          <div class="video-description">{{ $video.Params.about_this_resource_text | safeHTML | plainify }}</div>
          <div class="play-button">
            <span>PLAY</span>
            <i class="material-icons">play_arrow_icon</i>
          </div>
        </div>
      </div>
    </a>
  </div>
{{ end }}
{{ end }}
