{{ define "main" }}
<style>
  .page-single {
    max-width: 100%;
    margin: 0 auto;
  }

  .title-text {
    width: 100%;
  }

  @media (min-width: 1200px) {
    .title-text {
      max-width: 100%;
      font-size: 3rem;
    }
  }

  @media (min-width: 992px) {
    .page-title{
      padding: 1rem;
    }
  }

  ol,
  ul,
  dl {
    margin: 2rem 0;
  }
  
  .h-100v {
    height: 100vh;
  }
  
  h2 {
    margin-top: 5rem;
  }

  .page-title {
    color: #ffff;
    background-color: #126f9a;
  }

  .max-content-width {
    padding: 0 3rem;
    max-width: 100%;
  }
    
  .navbar-nav.max-content-width {
    padding: 0 1rem 0 0;
  }
  
</style>
<div
  class="page-single"
  style="height: 100vh; display:flex; flex-direction:column"
>
  <div class="page-title">
    <div class="title-text m-auto h1 m-0">
      Page Not Found
    </div>
  </div>
  <div class="d-flex flex-column justify-content-between" style="height: 100vh">
    <div class="container standard-width mx-lg-7 mt-5 px-sm-15 mx-2">
      <h3>Sorry, the page you requested was not found.</h3>
      <br />
      <p>
        You might want to try <a href="/search/">searching</a> for another page,
        or you can <a href="/contact/">contact us</a> and let us know
      </p>
    </div>
  </div>
</div>
{{ end }}
