{{ define "main" }}
<div id="home-header">
  {{ block "header" . }}
  {{ $renderSearchIcon := index .Params "renderSearchIcon" | default true }}
  {{ partialCached "header" . $renderSearchIcon }}
  {{ end }}
</div>
<div class="d-flex flex-column align-items-center home-banner" style="background-image: url(/images/homepage_hero.jpg);">
  <div class="banner-contents-container mx-auto d-flex justify-content-start justify-content-md-around w-100 align-items-center h-100">
    <div class="first-column m-md-2 d-flex flex-column">
      <div class="discover font-weight-bold pb-2 md-and-above-only">
        Discover courses, materials, &amp; teaching resources
      </div>
      <div class="w-100 d-flex align-items-center search-box-wrapper">
        <form action="/search" method="GET" class="home-search-box">
          <div class="d-flex flex-column flex-md-row p-2 p-md-0">
            <input
              class="w-100"
              type="text"
              name="q"
              aria-label="Search"
              />
            <button type="submit" class="submit btn font-weight-bold px-3 btn-primary md-and-above-only">
              Search
            </button>
            <div class="sm-and-below-only d-flex pt-3">
              <button type="submit" class="submit w-50 mr-2 btn font-weight-bold px-3 btn-primary">
                Search
              </button>
              <a class="btn explore font-weight-bold w-50 ml-2 px-3 btn-primary justify-content-center" href="/search">
                Explore
              </a>
            </div>
          </div>
        </form>
        <span class="or font-weight-bold md-and-above-only">OR</span>
        <a class="btn explore font-weight-bold px-3 btn-primary md-and-above-only" href="/search">
          Explore
        </a>
      </div>
      <div class="new-or-educator w-100 px-2 px-md-5 mt-md-5 py-4 d-flex flex-column flex-md-row">
        <div class="option bordered d-md-flex flex-md-column pb-3 pb-md-0 pr-md-3">
          <span class="font-weight-bold">Are you new to OCW?</span>
          <a href="https://mitocw.zendesk.com/hc/en-us/categories/4414679122971-Get-Started-with-MIT-OpenCourseWare" target="_blank">
            Get Started
          </a>
        </div>
        <div class="option d-flex flex-column pt-3 pt-md-0 pl-md-3">
          <span class="font-weight-bold">Looking for teaching materials?</span>
          <a href="/educator">
            Educators Start Here
          </a>
        </div>
      </div>
    </div>
    <div class="unlock d-flex flex-column py-4 px-4 px-sm-7 m-2">
      <h2 class="unlocking font-weight-bold text-white">
        Unlocking knowledge,
        <br />
        Empowering Minds.
      </h2>
      <span class="text-white free pt-3">
        Free lecture notes, exams, and videos from MIT.<br>No registration required.
      </span>
      <a class="learn-more text-white font-weight-bold" href="/about">
        Learn More about the OCW mission
      </a>
    </div>

  </div>
</div>
{{ partial "promo-carousel.html" . }}
<div class="home-page-content" style="background-image: url(/images/homepage_bg.png);">
  {{ $pages := .Site.Pages.ByPublishDate.Reverse }}
  {{ $coursePages := where $pages "Type" "==" "course" }}
  {{ $childPages := where $coursePages ".Params.layout" "==" "course_home" }}
  {{ partial "home_course_cards.html" $childPages }}
  {{ partial "home_course_collections.html" . }}
  <div class="give-now-wrapper">
    <div class="give-now my-5 d-flex justify-content-center">
      <div class="d-flex flex-column justify-content-center">
        <h2>Give Now</h2>
        <h2>Your Donation Makes a Difference</h2>
        <div class="font-weight-normal h4">MIT OpenCourseWare is supported through the generosity of people like you, who believe that unlocking knowledge can empower minds.</div>
      </div>
      <div class="d-flex align-items-center pl-3-md pl-3-lg">
        <a
          class="p-4 give-button small-link d-flex align-items-center"
          href="https://giving.mit.edu/give/to/ocw/?utm_source=ocw&utm_medium=homepage_banner&utm_campaign=nextgen_home"
          >
          <span class="h2 m-0 pr-2">GIVE</span>
          <img src="/images/heart-orange.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  {{ partial "ocw_news.html" . }}
  {{ partial "home_testimonials.html" . }}
  <div class="social-cards-wrapper">
    <div class="social-cards standard-width d-flex justify-content-center container">
      <div class="row w-100">
        <div class="social-card col-12 col-md-6">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="h5">STAY CONNECTED WITH OCW</div>
            <div class="d-flex social-icon-row justify-content-between">
              <a class="img-link" href="https://www.facebook.com/MITOCW" target="_blank">
                <img class="social-icon" src="/images/social-facebook-blue.svg" alt="facebook" />
              </a>
              <a class="img-link" href="https://www.instagram.com/mitocw" target="_blank">
                <img class="social-icon" src="/images/social-instagram-blue.svg" alt="instagram" />
              </a>
              <a class="img-link" href="https://twitter.com/MITOCW" target="_blank">
                <img class="social-icon" src="/images/social-twitter-blue.svg" alt="twitter" />
              </a>
              <a class="img-link" href="https://www.youtube.com/mitocw" target="_blank">
                <img class="social-icon" src="/images/social-youtube-blue.svg" alt="youtube" />
              </a>
            </div>
          </div>
        </div>
        <div class="social-card col-12 col-md-6 mt-3 mt-md-0">
          <div class="d-flex flex-column justify-content-center h-100">
            <div class="h5">SUBSCRIBE TO THE OCW NEWSLETTER</div>
            {{ partial "newsletter_signup.html" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sponsors-wrapper bg-white">
    <div class="sponsors d-flex flex-column align-items-center mx-auto px-4 py-3 py-md-5 container-fluid">
      <h2 class="text-uppercase text-center">Our Corporate Sponsors</h2>
      <div class="row w-100 justify-content-center">
        <div class="col-6 col-md-4 col-xl-2 d-flex align-items-center justify-content-center py-3">
          <img class="sponsor" src="/images/sponsor_logos/telmex.png" alt="Telmex" />
        </div>
        <div class="col-6 col-md-4 col-xl-2 d-flex align-items-center justify-content-center py-3">
          <img class="sponsor" src="/images/sponsor_logos/ab_initio.png" alt="Ab Initio" />
        </div>
        <div class="col- 12 col-md-4 col-xl-2 d-flex align-items-center justify-content-center py-3">
          <img class="sponsor" src="/images/sponsor_logos/mathworks.png" alt="MathWorks" />
        </div>
      </div>
    </div>
  </div>
</div>
{{ block "footer" . }} {{ partialCached "footer" . }} {{end}}
{{ end }}
